---
title: 'Aula Lucis'
description: 'The House Of Light'
author: 'Thomas Vaughan'
publishingDate: '1651'
score: 5
date: '2023-04-03'
dateFull: '3 April 2023'
image: 'views/reading/assets/aula-lucis/hero.jpg'
imageBook: 'views/reading/assets/aula-lucis/cover-aula-lucis.jpg'
imageDest: 'reading/aula-lucis'
_content: false
---

extends ../_includes/layout-reading

block header-vars
    - var title = 'Aula Lucis'
    - var description = 'The House Of Light'
    - var score = 5
    - var dateFull = '3 April 2023'

block vars
    - var imgDir = 'views/reading/assets/aula-lucis/'
    - var imgBook = 'views/reading/assets/aula-lucis/cover-aula-lucis.jpg'
    - var imgDest = 'reading/aula-lucis'
    - var imgHeader = imgDir + 'hero.jpg'
    - var imgCaption = 'Photo by Midjourney'

block header
    h1 #{title}
    h2 #{description}
    p 1651 Thomas Vaughan
    +star-rating(score)

block content
    .header
        h2 The answer lies within you
        p #{dateFull}
    
    p Dive into the enchanting world of alchemy with "Aula Lucis," a captivating masterpiece from 1651 by Thomas Vaughan. This book is a treasure trove of wisdom, guiding the reader through the transformative alchemical process that turns an ordinary soul into a radiant, golden one. While the gold mentioned here is metaphorical, the insights and lessons offered have the power to help you become a better human, and more significantly, a more enlightened Soul.

    p At its core, alchemy is about metaphysics, soul development, and recognizing that the house of light (Aula Lucis) lies within your own body. If you have transcended the desire for material wealth and are now on a journey of inner growth and self-discovery, "Aula Lucis" promises to be one of the most inspiring reads you'll ever come across. Embark on this fascinating adventure and uncover the transformative power of true alchemy within yourself.

    h2 Details

    ul
        li Paperback:‎ 26 pages
        li E-book: 24 pages
        li ISBN-10:‎ 1979814635
        li ISBN-13:‎ 978-1979814638
    
    h2 Where to buy?
    
    ul
        li
            a(href='https://www.betterworldbooks.com/product/detail/aula-lucis-the-house-of-light-9781979814638', title='Buy #{title} at BetterWorldBooks', target='_blank') Buy #{title} at BetterWorldBooks
        li
            a(href='https://bookshop.org/p/books/aula-lucis-the-house-of-light-thomas-vaughan/10524965', title='Buy #{title} at The Bookshop.org', target='_blank') Buy #{title} at The Bookshop.org
        li
            a(href='https://www.amazon.com/Aula-Lucis-House-Thomas-Vaughan-ebook/dp/B00EZTGI2Q', title='Buy #{title} at Amazon', target='_blank') Buy #{title} at Amazon

    h2 Summary
    
    p "Aula Lucis," or "The House of Light," is a 17th-century alchemical treatise written by Welsh philosopher and mystic Thomas Vaughan. The book, written in a cryptic and allegorical style, explores the philosophy and practice of alchemy, emphasizing the spiritual aspects of the discipline. Vaughan believed that alchemy was a path to spiritual enlightenment and transformation, rather than merely a means to transmute base metals into gold. He stressed the importance of inner purity and the development of a divine connection with the cosmos in order to achieve success in alchemical endeavors.

    p In "Aula Lucis," Vaughan describes the processes and symbols of alchemy as a series of stages leading to the ultimate goal of spiritual awakening and the creation of the Philosopher's Stone. He emphasizes the significance of the four elements (earth, air, fire, and water) and their role in the alchemical process. Vaughan also explores the concept of the macrocosm and microcosm, asserting that understanding the relationship between the two can help illuminate the mysteries of alchemy.

    p Throughout the text, Vaughan employs Biblical references and mystical symbolism to illustrate his points, highlighting the interconnectedness of alchemy, religion, and spirituality. "Aula Lucis" serves as a valuable resource for those interested in the history and philosophy of alchemy and its connection to spiritual growth and self-discovery.

    h2 Important learnings and insights

    ol
        li <strong>Spiritual Focus</strong><br />Thomas Vaughan emphasizes that the true purpose of alchemy is spiritual transformation and enlightenment, rather than the transmutation of base metals into gold. This perspective shifts the focus from material wealth to personal growth and self-discovery.
        li <strong>Inner Purity</strong><br />Vaughan underscores the importance of inner purity and moral development for alchemical success. A sincere and dedicated practitioner must cultivate virtues such as humility, patience, and perseverance in order to achieve spiritual transformation.
        li <strong>Macrocosm and Microcosm</strong><br />The book highlights the concept of the macrocosm (the universe) and microcosm (the individual), illustrating the interconnectedness of all things. By understanding the relationship between the two, the alchemist can gain insights into the workings of the universe and their own spiritual journey.
        li <strong>Four Elements</strong><br />Vaughan emphasizes the significance of the four elements (earth, air, fire, and water) in the alchemical process. Each element plays a crucial role in the transformation and purification of materials and the self.
        li <strong>Symbolism and Allegory</strong><br />"Aula Lucis" is filled with allegorical and symbolic language that conveys deeper meanings and esoteric truths. These symbols serve as a means for the practitioner to unlock the hidden wisdom within the text and apply it to their own spiritual development.
        li <strong>Biblical References</strong><br />Vaughan draws parallels between alchemy and biblical teachings, emphasizing the spiritual nature of alchemy and its connection to religious and mystical traditions.
        li <strong>Stages of Transformation</strong><br />The book outlines the stages of alchemical transformation leading to the creation of the Philosopher's Stone and spiritual awakening. This provides a framework for the practitioner to follow on their path to enlightenment.

    h2 23 significant notes

    p
        a(href="https://www.goodreads.com/notes/22570219-aula-lucis---the-house-of-light/42193292-thomas-torfs", target="_blank") View these notes on Goodreads

    ul.notes
        li
            strong.progress 12% 
            | There is a white magic this book is enchanted withal: it is an adventure for Knights of the Sun, and the errants of this time may not finish it? Like
        li
            strong.progress 14% 
            | I have resolved with myself to discourse of Light, the powder of projection, and to deliver it over to the hands of posterity, a practice certainly very ancient and first used by those who were primordially wise. Like
        li
            strong.progress 15% 
            | It was not their intention to brag that they themselves did see but to lead those who in some sense were blind and did not see. Like
        li
            strong.progress 19% 
            | Read then with diligence what I shall write, and to your diligence add patience, to your patience hope; for these are neither fables nor follies. Like
        li
            strong.progress 20% 
            | Light originally had no other birth than manifestation, for it was not made but discovered. It is properly the life of everything, and it is that which acts in all particulars; but the communion thereof with First Matter was celebrated by a general contract before any particulars were made. Like
        li
            strong.progress 22% 
            | But that I may speak something more concerning the chaos itself, I must tell you it is not rainwater nor dew, but it is a subtle mineral moisture, a water so extremely thin and spiritual, with such a transcendent, incredible brightness, there is not in all Nature any liquor like unto itself. Like
        li
            strong.progress 23% 
            | Hence it was that the philosophers called it their Stone, or if it be lawful for me to reveal that which the devil out of envy would not discover to Illardus, I say they called it a Stone, to the end that no man might know what it was they called so. For there is nothing in the world so remote from the complexion of a stone, for it is water and no stone. Like
        li
            strong.progress 27% 
            | Your best course is to consider the way of Nature, for there it may be found, but not without reiterated, deep and searching meditations. If this attempt fails, you must pray for it, Like
        li
            strong.progress 28% 
            | In a word, if you can not attain to it in this life, yet shall you know it in your own body, when you are past knowing of it in this subject. Like
        li
            strong.progress 28% 
            | I tell you that our preparation is a purgation. Like
        li
            strong.progress 29% 
            | It is plain that outwardly we see nothing but what is gross — for example, earth, water, metals, stones and, among the better creatures, man himself. All these things have a lumpish, ineffectual exterior, but inwardly they are full of a subtle, vital luminosity, impregnated with fire. Like
        li
            strong.progress 32% 
            | The first matter is a miraculous substance, one of which you may affirm contraries without inconvenience. It is very weak and yet most strong. It is excessively soft and yet there is nothing so hard. It is one and all, spirit and body, fixed and volatile, male and female, visible and invisible, burns and burns not. It is water and wets not; it is earth that runs and air that stands still. Like
        li
            strong.progress 34% 
            | In his first appearance he is neither earth nor water, neither solid nor fluid, but a substance without all form but what is universal. Like
        li
            strong.progress 34% 
            | When he is purged from his accidents, he is a water colored with fire, deep to the sight and — as it were — swollen; and he has something in him that resembles a commotion. In a vaporous heat he opens his belly and discovers an azure heaven he hides a little sun, a most powerful red fire, sparkling like a carbuncle, which is the red gold of the wise men. These are the treasures of our sealed fountain, and though many desire them yet none enters here but he that knows the key, and withal how to use it. In the bottom of this well lies an old dragon, stretched long and fast asleep. Awake her if ...more Like
        li
            strong.progress 36% 
            | the eagle is the water, for it is volatile and flies up in clouds, as an eagle does; but I speak not of any common water whatsoever. The green lion is the body, or magical earth, Like
        li
            strong.progress 39% 
            | This Stone verily is not made of common gold and silver, but it is made, as one delivers it, "of gold and silver that are reputed base, that stink and withal smell sweetly; of green, living gold and silver to be found everywhere but known to very few." Like
        li
            strong.progress 43% 
            | For my own part I advise no man to attempt this Art without a master, for though you know the Matter yet are you far short of the Medicine.
        li
            strong.progress 49% 
            | Matter — as I have formerly intimated — is the house of light. Here he dwells and builds for himself, and, to speak truth, he takes up his lodging in sight of all the world?
        li
            strong.progress 53% 
            | Trismegistus, in his vision of the creation, did first see a pleasing, gladsome light, but interminated. Afterwards appeared a horrible sad darkness, and this moved downwards, descending from the eye of the light, as if a cloud should come from the sun. This darkness — saith he — was condensed into a certain water, but not without a mournful, inexpressible voice or sound, as the vapors of the elements are resolved by thunder. After this — saith that great philosopher — the Holy Word came out of the light and did get upon the water, and out of the water He made all things. Let it be your study ...more Like
        li
            strong.progress 60% 
            | He that desires to be happy let him look after light, for it is the cause of happiness, both temporal and eternal. In the house thereof it may be found, and the house is not far off nor hard to find, for the light walks in before us and is the guide to his own habitation.
        li
            strong.progress 61% 
            | It is light then that we must look after, but of itself it is so thin and spiritual we cannot lay hands upon it and make it our possession. We cannot confine it to any one place, that it may no more rise and set with the sun. Like
        li
            strong.progress 63% 
            | To write of it at large and discover its three scenes — elemental, celestial and spiritual — was sometimes the design of one that was able to perform? Like
        li
            strong.progress 70% 
            | "The key of the science is in all bodies, but owing to the shortness of life and the length of the work the Stoics concealed this one only thing. They discovered tinging elements, leaving instructions thereon, and these also the philosophers continue to teach, save only concerning the Vessel of Hermes, because the same is Divine, a thing hidden from the Gentiles by the wisdom of God; and those who are ignorant of it know not the regimen of truth for want of the Hermetic Vessel."
