---
title: 'Beyond Physicalism'
description: 'Toward Reconciliation of Science and Spirituality'
author: 'Edward F. Kelly | Adam Crabtree | Paul Marshall'
publishingDate: '2015'
score: 5
date: '2022-07-02'
dateFull: '2 July 2022'
image: 'views/reading/assets/beyond-physicalism/hero.jpg'
imageBook: 'views/reading/assets/beyond-physicalism/cover-beyond-physicalism.jpg'
imageDest: 'reading/beyond-physicalism'
_content: false
---

extends ../_includes/layout-reading

block header-vars
    - var title = 'Beyond Physicalism'
    - var description = 'Toward Reconciliation of Science and Spirituality'
    - var score = 5
    - var dateFull = '2 July 2022'

block vars
    - var imgDir = 'views/reading/assets/beyond-physicalism/'
    - var imgBook = 'views/reading/assets/beyond-physicalism/cover-beyond-physicalism.jpg'
    - var imgDest = 'reading/beyond-physicalism'
    - var imgHeader = imgDir + 'hero.jpg'
    - var imgCaption = 'Photo by Mariola Grobelska'

block header
    h1 #{title}
    h2 #{description}
    p 2015 Edward F. Kelly | Adam Crabtree | Paul Marshall
    +star-rating(score)

block content
    .header
        h2 Just like the "Wow! signal"
        p #{dateFull}

    p Written by 8 extremely talented and highly educated people, this is a vast and humbling resource offering a large spectrum of insights helping us understand consciousness and reality as a whole. It explains many of the philosophical, spiritual and religious insights as well as the evolution of science throughout history. It is rare to come across such a complete and eloquently written masterpiece.

    p The lead author is Edward F. Kelly, who is a research professor at Division of Perceptual Studies at Department of Psychiatry and Neurobehavioral Sciences at University of Virginia (<a href="https://en.wikipedia.org/wiki/Edward_Francis_Kelly" target="_blank" title="Go to the article on Wikipedia">wikipedia</a>). Other authors include Adam Crabtree, Paul Marshall, Harald Atmanspacher, Loriliai Biernacki, Bernard Carr, Wolfgang Fach and Michael Grosso.
    
    p The book ends with a remarkable insight:

    blockquote ... We strongly suspect that our individual and collective human fates in these exceptionally dangerous and difficult times — indeed, the fate of our precious planet and all of its passengers — may ultimately hinge upon wider recognition and more effective utilization of the higher states of being that are potentially available to us but largely ignored or even actively suppressed by our postmodern civilization with its strange combination of self-aggrandizing individualism and fundamentalist tribalisms ...  The one thing we should all regard as unacceptable is unyielding and aggressive fundamentalism, whether of the religious or the scientific sort ...

    h2 Details

    ul
        li Paperback:‎ 634 pages
        li E-book: 634 pages
        li ISBN-10:‎ 1442232382
        li ISBN-13:‎ 978-1442232389
        
    h2 Where to buy?
        
    ul
        li
            a(href='https://www.amazon.com/Beyond-Physicalism-Edward-Kelly/dp/153812596X/ref=sr_1_1?keywords=beyond+physicalism&qid=1656796811&sprefix=beyond+physi%2Caps%2C148&sr=8-1', title='Buy #{title} at Amazon', target='_blank') Buy #{title} at Amazon
        li
            a(href='https://www.thriftbooks.com/w/beyond-physicalism-toward-reconciliation-of-science-and-spirituality_adam-crabtree/10886010/?resultid=7989b51f-bfca-41cb-9d54-2a6837d7d436#edition=10313641&idiq=29869279', title='Buy #{title} at Thriftbooks', target='_blank') Buy #{title} at Thriftbooks
        li
            a(href='https://www.betterworldbooks.com/product/detail/Beyond-Physicalism---Toward-Reconciliation-of-Science-and-Spirituality-9781442232389', title='Buy #{title} at BetterWorldBooks', target='_blank') Buy #{title} at BetterWorldBooks

    h2 97 highlights
    
    p
        a(href="https://www.goodreads.com/notes/25014973-beyond-physicalism/42193292-thomas-torfs?ref=abp", title="View highlights on Goodreads", target="_blank") View these highlights on Goodreads

    ul.notes
        li
            strong.progress 1%
            | In contrast with the prevailing production model of the brain/mind relation, as described above, these “rogue” data collectively support an alternative class of models which view the brain not as the generator of mind and consciousness but as an organ of adaptation to the everyday environment, selecting, focusing, channeling, and constraining the operations of a mind and consciousness inherently far greater in capacities and scope.
        li
            strong.progress 1%
            | in the words of Francis Bacon (1620/1960), at the dawn of modern science, “[T]he world is not to be narrowed till it will go into the understanding ... but the understanding to be expanded and opened till it can take in the image of the world as it is in fact”
        li
            strong.progress 2%
            | think of traditional religions in terms of the familiar parable of the blind men and the elephant, each in touch with aspects of a tremendous and objectively existent reality, but all suffering from characteristically human limitations of perspective and none in position to claim exclusive possession of the truth in its entirety.
        li
            strong.progress 2%
            | The mystical traditions themselves, with their practical emphasis on personal liberation, tend to value experience over doctrine and theory.
        li
            strong.progress 2%
            | We have no interest in fighting rearguard actions against entrenched psi-deniers and scientific fundamentalists and the like, important though such efforts undoubtedly are, and we are not apologetic about prospecting in the literature of mystical experience and mystically informed religious philosophies for clues about how best to advance our theoretical purposes.
        li
            strong.progress 3%
            | Wolfgang Pauli in collaboration with psychologist Carl Gustav Jung, according to which the physical and mental aspects of the experienced world are complementary,
        li
            strong.progress 3%
            | hyperdimensional or hyperspace theories as conceived by persons such as philosopher C. D. Broad, neuroscientist John Smythies, and others,
        li
            strong.progress 3%
            | Greg Shaw, provides an introduction to the mystically informed metaphysics of Plotinus,
        li
            strong.progress 3%
            | Ian Whicher, presents the dualistic Sāṃkhya–Yoga strand of the central Indian philosophical tradition
        li
            strong.progress 3%
            | Patañjali’s account of the siddhis or attainments (including psychic powers) in terms of the “knowledge by identity” which arises in deep meditative states,
        li
            strong.progress 3%
            | Abhinavagupta and his nondual Kashmiri Śaivism, an experience-based metaphysics similar to that of Advaita Vedānta,
        li
            strong.progress 3%
            | Charles Sanders Peirce to draw out the implications of his philosophical framework, with a view to providing explanations for targeted phenomena including postmortem survival.
        li
            strong.progress 3%
            | “synechistic metaphysics” — what today would be called a panentheistic evolutionary philosophy — which envisions all existing things as part of one continuum.
        li
            strong.progress 3%
            | Alfred North Whitehead’s process metaphysics in light of the mystical philosophy of the modern Indian Tantric sage Sri Aurobindo,
        li
            strong.progress 3%
            | We are essentially unanimous in thinking that expanded psychological models of the general sort advanced by Myers and James are scientifically viable and that many opportunities exist for their further empirical development.
        li
            strong.progress 3%
            | tradition of German idealism (Fichte, Schelling, Hegel, et al.) with the common deliverances of the world’s great mystical traditions more generally (as represented within Vedāntic, Tantric and Kashmiri Śaivite, Buddhist, Jewish, Christian, Islamic, and Neoplatonic perspectives),
        li
            strong.progress 4%
            | investigated over 2,500 such cases, many in great detail (see for example Kelly, 2013; Stevenson, 1975–1983, 1997, 2001; Tucker, 2005, 2013).
        li
            strong.progress 5%
            | First and foremost is the possibility that rebirth may at least sometimes occur.
        li
            strong.progress 6%
            | Most challenging of all to mainstream views is the large body of evidence directly suggesting that autobiographical, semantic, and procedural (skill) memories sometimes survive bodily death. If this is the case, memory in living persons presumably exists at least in part outside the brain and body as conventionally understood.
        li
            strong.progress 6%
            | the unification of experience is not achieved anatomically. There are no privileged places or structures in the brain where everything comes together, either for the visual system itself or for the sensory systems altogether.
        li
            strong.progress 6%
            | The neurophysiological global workspace, however, cannot be the whole story, because a large body of recent research on “near-death experiences” (NDEs) demonstrates that elaborate, vivid, and life-transforming conscious experience sometimes occurs under extreme physiological conditions — including conditions such as deep general anesthesia, cardiac arrest, and coma — that preclude normal workspace operation (Laureys & Tononi, 2009).
        li
            strong.progress 6%
            | the more extreme transformations of consciousness associated with NDEs sometimes extend deep into the mystical realm, include veridical psi elements, and more commonly occur when the subjects are in fact physiologically closer to death (see IM, Chapter 6; Alexander, 2012; Holden, Greyson, & James, 2009; Owens, Cook [Kelly], & Stevenson, 1990; van Lommel, 2010, 2013).
        li
            strong.progress 6%
            | It is a historical fact that mainstream psychology has always tended on the whole to try to solve its problems in minimalist fashion and with as little reference as possible to what all of us experience every day as central features of our conscious mental life.
        li
            strong.progress 7%
            | The crucial point I want to make, especially to my fellow psychologists, is this: our a priori commitment to conventional physicalist accounts of the mind has rendered us systematically incapable of dealing adequately with the mind’s most central properties. We need to rethink that commitment.
        li
            strong.progress 8%
            | All of the great unsolved mysteries of the mind — semantics, intentionality, volition, the self, and consciousness — seem to me inextricably interconnected, with consciousness somehow at the root of all.
        li
            strong.progress 8%
            | consensus itself rests upon an outdated conception of nature, deriving from Galileo, Descartes, Newton, and Laplace, that began its career by deliberately banishing conscious human minds from its purview!
        li
            strong.progress 9%
            | when a soul is raised up in the light of God, everything below becomes visible to it and appears small. But heaven and earth have not shrunk. Rather, the mind has expanded in God, opened up by the divine light and lifted above the world.
        li
            strong.progress 9%
            | Stage-by-stage removal of the obscuring karmas yields first the clairvoyant and clairaudient perceptions of bodily things, then the subtler telepathic knowledge of mental things, and finally unlimited knowledge, perception, bliss, and power.
        li
            strong.progress 9%
            | Mystics can feel as though they have looked behind the veil of appearances and caught sight of the nature of self, world, consciousness, time, and even the meaning of it all.
        li
            strong.progress 10%
            | Neuroscientific reductionists will put the commonalities down to biology and psychology shared by all human beings, not to shared deeper realities. However, if reductionists are unable to give an adequate account of the common features in terms of shared neuropsychology, then the appeal to unanimity becomes stronger.
        li
            strong.progress 10%
            | the “extrovertive” (Stace, 1960) or “natural” (Zaehner, 1957) mystical type. In these, experience of the world is transformed by some combination of unity, reality, knowledge, heightened perception, self-transcendence, altered time-experience, luminosity, love, joy, and peace, to mention the more commonly reported features,
        li
            strong.progress 12%
            | Unity with others can bring inclusive feelings of love and the realization that all beings are equal and joined in kinship (communal unity). It may even seem that love is integral to the deeper reality.
        li
            strong.progress 12%
            | Souls are able to know that universe because in their depths they are the Intellect. When purified, they see themselves as Intellect and its “intelligible universe full of light” (Ennead IV.7.10; Armstrong, 1966–1988, Vol. 4, p. 383). Light as well as unity characterizes the higher knowing.
        li
            strong.progress 13%
            | mystical unity with the light occurred at the end of several stages: (1) a state of darkness and peace; (2) out-of-body experience, with keener sight and hearing than usual, and ability to read the thoughts and feelings of bystanders; (3) upward flight; (4) a sea of light, love, and music, and the presence of a deceased relative; (5) a vast, loving light into which she was drawn and with which she became united.
        li
            strong.progress 13%
            | James (1909/1986), in his final thoughts on psychical research, concluded that there is a “continuum of cosmic consciousness, against which our individuality builds but accidental fences, and into which our several minds plunge as into a mother-sea or reservoir” (p. 374).
        li
            strong.progress 15%
            | The brain or nervous system is understood as the “filter” or the “organ of transmission”; what is filtered, transmitted, etc., are the mental forms of our conscious experience.
        li
            strong.progress 15%
            | the “transcendental world.” Myers would call it the metetherial environment or World-Soul; Emerson, the Over-Soul; Aldous Huxley, Mind at Large; Carl du Prel, the Transcendental Ego, etc.
        li
            strong.progress 15%
            | Summarizing the main points of James’s theory: The brain transmits — it does not produce — consciousness. Consciousness preexists the brain; it does not emerge from the brain. There is a transpersonal mind, i.e., a mind at large, a cosmic consciousness, James’s “mother-sea” of consciousness.
        li
            strong.progress 16%
            | In the Phaedo (81a), Plato said that a meletē thanatou (“practice of death”) was the way to enlightenment; in short, methods of freeing the soul from bodily influence.
        li
            strong.progress 16%
            | Herein lies the final answer to Materialism: it consists in showing in detail what was asserted at the outset, viz., that Materialism is a hysteron proteron, a putting of the cart before the horse, which may be rectified by just inverting the connexion between Matter and consciousness. Matter is not that which produces consciousness, but that which limits it and confines its intensity within certain limits: material organization does not construct consciousness out of arrangements of atoms, but contracts its manifestation within the sphere which it permits. (p. 289)
        li
            strong.progress 17%
            | Schopenhauer held that “the objective world is a mere phenomenon of the brain. For the order and conformity to law thereof which are based on space, time, and causality ... are to some extent set aside in somnambulist clairvoyance” (p. 263).
        li
            strong.progress 17%
            | the traditional methods, techniques, and disciplines of yoga, mysticism, shamanism, etc., are ways of interfering with the brain’s normal functions, thus attempting to force open the barriers that normally clog the flow of consciousness and block access to the subliminal mind.
        li
            strong.progress 18%
            | According to his biographer Porphyry, Plotinus was ashamed of being in his body; he is said to have had at least four ascents to the One, but many ascents to Intellect (nous), as Plotinus himself reports.
        li
            strong.progress 18%
            | Ficino, Pico della Mirandola, and others created a scholarly dialogue between Neoplatonic philosophy, Kabbala, and Arabian, Egyptian, and Christian thought and imagination. The great assumption: the Supreme Reality dispensed its insights universally; philosophy was to blaze a dialectical trail to the unifying, harmonizing core of all the traditions.
        li
            strong.progress 19%
            | There are various ways the model can be tried, tested, and used experimentally. One is the traditional way, using established spiritual practices like prayer, fasting, meditation, and so on, all widely employed to induce experiences associated with spiritual enlightenment and creative inspiration. Many of the techniques are designed to reduce resistance to the subliminal influx; they lower Fechner’s threshold, allowing what is present to present itself with minimal impediment.
        li
            strong.progress 19%
            | Experiments are built around reducing sensori-somatic noise, with the key idea of deafferentation: cutting off sensory input by using techniques of meditation, hypnosis, sensory deprivation, progressive muscular relaxation, induced hypnagogia, and Ganzfeld (uniform sensory input).
        li
            strong.progress 21%
            | The results obtained to date seem generally in line with the notion that lower levels of chronic “noise” or mental chatter go with better psi performance.
        li
            strong.progress 22%
            | Large amounts of historical and cross-cultural testimony also affirm the psi-conduciveness of meditation in various forms, and modern experimental results supporting the existence of such a connection have gradually accumulated (Honorton, 1977; Kelly & Locke, 1981/2009; Radin, 2013).
        li
            strong.progress 26%
            | the founders of quantum theory accepted the empiricist doctrine that science must be anchored in what we know. But everything we know resides in our experiences. The founders therefore backed away from the idea that the aim of science was to comprehend the reality that lies behind our experiences. They focused instead on the structure of these experiences themselves.
        li
            strong.progress 27%
            | Schrödinger equation, which is the quantum analog of the classical equations of motion that generate the actual future. This creation of the future potentialities is called “Process 2” in von Neumann’s rigorous reformulation of the earlier original “Copenhagen” descriptions of quantum mechanics.
        li
            strong.progress 31%
            | The classic starting point for most contemporary discussions of the mind–matter problem and mind–matter relations, respectively, is Descartes’ ontologically conceived dualism of the mental (res cogitans, thought) and the material (res extensa, extended matter).
        li
            strong.progress 33%
            | As soon as an individual has managed to unify the opposites within himself, nothing stands in the way of realizing both aspects of the world objectively. The inner psychic dissection becomes replaced by a dissected world view, which is unavoidable because without such discrimination no conscious knowledge would be possible.
        li
            strong.progress 34%
            | Methods for a systematic generation of acategorial states play a central role in the spiritual traditions of Asian cultures. An outstanding example is the Buddhist Satipaṭṭhāna-Sutta, lectures on the “foundations of mindfulness” (Nyanaponika, 2001), dating back to the first century BCE.
        li
            strong.progress 36%
            | The Cosmic Uroborus, showing the hierarchy of scales of structure in the Universe, from the Planck scale of quantum gravitational effects at 10−33 cm to the scale of the observable Universe at 10+27 cm. One can regard this as a clock, with the size increasing by a factor of ten for each minute. The structures on the left and right are in the domain of relativity theory and quantum theory respectively, and these theories must be unified at the top. Mind and extra dimensions may play a role here.
        li
            strong.progress 36%
            | even our experiences of the material world (i.e., our ordinary sense perceptions) are ultimately mental. So the claim that physics is close to a Theory of Everything seems rather hollow.
        li
            strong.progress 37%
            | This 3D space provided the arena for Newtonian dynamics and was the basis of classical physics for 250 years. Events can also be assigned a time coordinate, but time is absolute in a Newtonian model,
        li
            strong.progress 38%
            | Vernon Neppe and Edward Close (2012) have written extensively about what they call the “Vortex N-dimensional Pluralism paradigm.” This features an infinitely extended N-dimensional space with vortices allowing communication across the extra dimensions.
        li
            strong.progress 38%
            | They favor a 9D model, with three dimensions of space, three of time, and three of consciousness.
        li
            strong.progress 39%
            | the existence of psi hints that this extended space is collective: clairvoyance and psychokinesis suggest that it contains physical space, while telepathy suggests that the nonphysical part is also communal. Transpersonal experiences suggest the existence of even “higher” spaces.
        li
            strong.progress 39%
            | Randall–Sundrum version of M-theory, illustrated in Figure 7.3, in which the physical Universe is regarded as a 4D brane in a higher-dimensional bulk.
        li
            strong.progress 40%
            | A subtle body can observe objects on its own or any lower actuality plane but only affect objects on its own plane. During normal consciousness, it should be collocated with the physical body and have a specious present determined by the brain, but during altered states of consciousness it may extend further into the fifth dimension, thereby allowing access to a larger domain of space and time.
        li
            strong.progress 43%
            | The sixth-century Platonist Hierocles explains that philosophy must include theurgic rites: “Philosophy is united with the art of sacred things since this art is concerned with the purification of the luminous body, but if you separate philosophical thinking from this art, you will find that it no longer has the same power” (Hadot, 2004, p. 48;
        li
            strong.progress 45%
            | It was the belief of all Platonists that the soul preexists its physical body, continues to exist after death, and after a period of time, descends into its next incarnation.
        li
            strong.progress 46%
            | For the first vehicle (proton ochēma) of souls ... can hear things inaudible to mortal hearing and see things invisible to mortal sight. (Commentary on the Republic, II.167.15–23, Kroll, 1899–1901,
        li
            strong.progress 46%
            | “it is not enough simply to learn about these things ... questions that require practical experience for their accurate understanding cannot be explained by words alone” (Myst. 114.3; 6.6–7). True knowledge of paranormal events and apparitions is not theoretical; it can only be realized in practice.
        li
            strong.progress 47%
            | Obeyesekere’s point is that all religious traditions, all teachings of awakened sages, originate in experiences that are other than rational. These visionary experiences can never be fully articulated rationally, but they give rise to our most profound philosophic teachings (Obeyesekere, 2012, pp. 4, 246)
        li
            strong.progress 49%
            | The central aim of classical Sāṃkhya is to eliminate suffering by providing effective intellectual means for proper discernment, discrimination, or disentanglement between puruṣa and prakṛti, thereby overcoming this two-way misidentification.
        li
            strong.progress 51%
            | along with mastery of higher stages of samādhi comes the “dawning” of prātibha, a faculty of instantaneous direct perception or insight without the aid of physical senses or the lower mind (manas). This is thought to be an inherent property of sattva, obscured or interfered with by the presence of tamasic and rajasic impurities of the internal organ, especially the buddhi, and hence it is progressively released or unfettered as full sattvification is approached, yielding supernormal perception and ultimately knowledge of everything in prakṛtic nature (YS III.34, 37;)
        li
            strong.progress 55%
            | Patañjali tells us that our actions, our karma, determine our species for our next life — that is, our bodies — along with our life span and pleasant and unpleasant experiences.
        li
            strong.progress 56%
            | Māyā thus is the complexity that makes up the world and everything that we see here. Māyā is the principle which allows for differentiation. Māyā is fundamentally a lens or process that causes us to see things that do not in reality exist,
        li
            strong.progress 57%
            | we have learned to identify ourselves as stained by three notions: (1) an identification with repercussions of former deeds known as karma mala, the stain of karma, (2) an identification with an essential sense of otherness, duality, māyīya mala, the stain of māyā, and (3) an essential and usually unarticulated conception of the self as inherently limited, aṇava mala, the stain of smallness.
        li
            strong.progress 59%
            | Leibniz supposed that the world consists of numerous, indivisible, transforming units. These “monads” are not the atoms of the materialists but complete perceptions of the universe organized from centers.
        li
            strong.progress 60%
            | Leibniz’s metaphysics makes paranormal cognitions normal, a natural feature of the way things are, and gives a fundamental place to the subconscious, an essential part of filter theory.
        li
            strong.progress 63%
            | That life should continue after death is to be expected in a monadological world. The destruction of the body and its brain is just the disintegration of a composite structure within experience, experience that continues unabated and in which new bodily structures, sense perceptions, and associated minds will emerge in due course.
        li
            strong.progress 64%
            | Nature may be full of living presences, but we would not be able to intuit their subjectivity unless our minds have access to those presences and their interiority. Neo-Leibnizian monads have such access by virtue of their inherent perceptual inclusiveness.
        li
            strong.progress 64%
            | Charles Sanders Peirce (1839–1914) was a philosopher, scientist, expert in the construction of scientific instruments, logician, mathematician, and originator of semiotics.
        li
            strong.progress 66%
            | Peirce also saw evidence of the action of signs outside a nervous system and even outside a biological organism: “It appears in the work of bees, of crystals, and throughout the purely physical world; and one can no more deny that it is really there, than that the colors, the shapes, etc., of objects are really there” (CP 4.551).
        li
            strong.progress 69%
            | I call the worlds that we experience in dreaming, lucid dreaming, and life after death the “transphysical worlds.” Transphysical worlds are worlds that are fully actual but which cannot be found anywhere in the physical world as defined by physics.
        li
            strong.progress 70%
            | Quantum physicists have accustomed us to the idea that the “outer world” consists, ultimately, not of enduring substances, but rather of short-lived dynamic events. We can, for example, imagine that a rock is a very large number of subatomic events taking place very rapidly and organizing themselves into a stable, repetitive pattern.
        li
            strong.progress 71%
            | Griffin has already suggested that high-grade occasions can continue to endure even after the death of their bodies. Thus higher-grade occasions can exist independently from the bodies with which they are associated in waking life.
        li
            strong.progress 72%
            | Transphysical Process Metaphysics gives us, thus, an expanded idea of causality: consciousness plays a causal role as the agency of actualization; efficient causes are a flow of experience from occasion to occasion; an individual formal cause is intrinsic to each actual occasion; final causes have an important role in the unfolding of the actual world.
        li
            strong.progress 73%
            | While all past cultures have acknowledged transphysical realities (in their own language, of course), our modern culture does not, and this makes it particularly difficult to master these skills at this time.
        li
            strong.progress 74%
            | Despite many magnificent and undeniable successes, current mainstream neuroscience, psychology, and philosophy of mind are incapable of accommodating various well-evidenced mental and psychophysiological phenomena of the sorts catalogued in Chapter 1 above, Irreducible Mind, and many other places.
        li
            strong.progress 74%
            | we suggest designating this class of models more generally as “ROSTA” models, incorporating the central common notion of Resonant Opening to Subliminal and Transpersonal Assets.
        li
            strong.progress 76%
            | recent discoveries regarding “dark” matter and energy, previously unrecognized constituents of the universe which together represent something like 96% of its physical contents, suggest that there might be room for such possibilities within physics, and at minimum should encourage humility as to the limits of current knowledge.
        li
            strong.progress 76%
            | At the moment our popular and scientific culture mainly offers a stark black-and-white contrast between what’s “real” — i.e., classically physical, and hence accessible to our senses — and what’s merely imagined or imaginary and hence unreal. But not everything imagined is necessarily imaginary.
        li
            strong.progress 78%
            | the most extreme of all such “coincidences” involves the simultaneous setting of various basic physical constants to the very precise values they need to have in order for life even to be possible on earth — the “Anthropic Principle.”
        li
            strong.progress 78%
            | plants using time-lapse photography, for example, shows them behaving in ways much like those that lead us to attribute conscious intelligence to mammals, but on a longer time-scale — perhaps a different “specious present”
        li
            strong.progress 79%
            | we consider it possible that the future could be determinate — existing, and hence potentially accessible to precognition — and yet not determined, in the sense that it is not an inevitable, causal consequence of what preceded it, with no place for free will. Such pictures go back through Thomas Aquinas at least to Boethius in the early sixth century CE, and a version of it is in fact developed in some detail by Sprigge
        li
            strong.progress 79%
            | Hartshorne and Reese (1953/2000), which systematically samples the history of serious and disciplined thought about the central religious questions as to the existence and character of God. Drawing upon selections from some fifty major thinkers, both Eastern and Western and from ancient to modern times, they construct what amounts to a systematic exposition and defense of panentheism — a third point of view, or tertium quid — which attempts to overcome the historical polarization between classical theism and pantheism, and which for them represents the culmination of millennia of philosophical theology. 
        li
            strong.progress 79%
            | the recent book by Biernacki and Clayton (2014) shows clearly that all of the world’s major faiths already contain significant panentheistic themes or elements.
        li
            strong.progress 80%
            | The “hyperdimensional” model of Bernard Carr (Chapter 7), growing out of relativity and string theory rather than quantum theory, postulates a “Universal Structure,” interpretable as a higher-dimensional psychophysical information space, which gives rise to a hierarchical structure of projections to lower-dimensional actualities including the physical world at the lowest level and the complete range of mental worlds at the higher levels.
        li
            strong.progress 80%
            | we will need to defuse the charge that in moving toward panentheism we are simply being metaphysically self-indulgent, building into the system from the beginning what we want to get out of it in the end.
        li
            strong.progress 80%
            | this comprises the main conclusion of the present chapter and our book as a whole — we now claim in addition that a rich and worldwide history of efforts toward abduction from that sort of broadened empirical foundation points inescapably in the direction of a panentheistic metaphysics of the sort emerging here.
        li
            strong.progress 81%
            | we believe that to be truly meaningful this “reconciliation” of science and religion must necessarily go beyond uneasy coexistence from within hermetically isolated magisteria to a creative synthesis, taking the form of an enlarged conception of the nature of Reality that is both spiritually satisfying and compatible with science.
        li
            strong.progress 81%
            | We strongly suspect that our individual and collective human fates in these exceptionally dangerous and difficult times — indeed, the fate of our precious planet and all of its passengers — may ultimately hinge upon wider recognition and more effective utilization of the higher states of being that are potentially available to us but largely ignored or even actively suppressed by our postmodern civilization with its strange combination of self-aggrandizing individualism and fundamentalist tribalisms.
        li
            strong.progress 81%
            | The one thing we should all regard as unacceptable is unyielding and aggressive fundamentalism, whether of the religious or the scientific sort. Nobody has thought more about the humanly vital matters touched upon in this brief coda than our colleague Mike Murphy, and we turn next to him for concluding reflections.
