---
title: 'Destiny of Souls'
description: 'New case Studies of Life Between Lives'
author: 'Michael Newton, PhD'
publishingDate: '2000'
score: 4
date: '2022-11-22'
dateFull: '22 November 2022'
image: 'views/reading/assets/destiny-of-souls/hero.jpg'
imageBook: 'views/reading/assets/destiny-of-souls/cover-destiny-of-souls.jpg'
imageDest: 'reading/destiny-of-souls'
_content: false
---

extends ../_includes/layout-reading

block header-vars
    - var title = 'Destiny of Souls'
    - var description = 'New case Studies of Life Between Lives'
    - var score = 4

block vars
    - var imgDir = 'views/reading/assets/destiny-of-souls/'
    - var imgBook = 'views/reading/assets/destiny-of-souls/cover-destiny-of-souls.jpg'
    - var imgDest = 'reading/destiny-of-souls'
    - var imgHeader = imgDir + 'hero.jpg'
    - var imgCaption = 'Photo by Nic Y-C'

block header
    h1 #{title}
    h2 #{description}
    p 2000 Michael Newton, PhD
    +star-rating(score)

block content
    h2 Title

    p Review

    h2 Details

    ul
        li Paperback:‎ 432 pages
        li E-book: 404 pages
        li ISBN-10:‎ 1567184995
        li ISBN-13:‎ 978-1567184990
        li
            a(href='https://www.betterworldbooks.com/product/detail/destiny-of-souls-new-case-studies-of-life-between-lives-9781567184990', title='Buy #{title} at BetterWorldBooks', target='_blank') Buy #{title} at BetterWorldBooks
        li
            a(href='https://bookshop.org/p/books/destiny-of-souls-new-case-studies-of-life-between-lives-phd/16636694?ean=9781567184990', title='Buy #{title} at The Bookshop.org', target='_blank') Buy #{title} at The Bookshop.org
        li
            a(href='https://www.amazon.com/Destiny-Souls-Studies-Between-Lives/dp/1567184995', title='Buy #{title} at Amazon', target='_blank') Buy #{title} at Amazon
    
    h2 98 significant notes
    
    p
        a(href="https://www.goodreads.com/notes/6054250-destiny-of-souls/42193292-thomas-torfs", title="View notes on Goodreads", target="_blank") View these notes on Goodreads
    
    ul.notes
        li
            strong.progress 0%
            | Michael Duff Newton held a doctorate in Counseling Psychology and was a certified Master Hypnotherapist and a member of the American Counseling Association. He was on the faculty of higher educational institutions as a teacher and was active in private practice in Los Angeles.
        li
            strong.progress 1%
            | it did not matter if a person was an atheist, deeply religious, or believed in any philosophical persuasion in between—once they were in the proper superconscious state of hypnosis, all were consistent in their reports.
        li
            strong.progress 2%
            | At the moment of death, our soul rises out of its host body. If the soul is older and has experience from many former lives, it knows immediately it has been set free and is going home. These advanced souls need no one to greet them.
        li
            strong.progress 2%
            | The energy of the soul is able to divide into identical parts, similar to a hologram. It may live parallel lives in other bodies although this is much less common than we read about.
        li
            strong.progress 2%
            | Those souls who have been associated with evil are taken to special centers which some clients call “intensive care units.” Here, I am told, their energy is remodeled to make it whole again.
        li
            strong.progress 3%
            | There certainly is structure in the spirit world, but it exists within a sublime matrix of compassion, harmony, ethics and morality far beyond what we practice on Earth.
        li
            strong.progress 5%
            | Eastern practices of yoga and meditation include the use of chakra body points in ways that resemble how souls partition the human body with healing energy.
        li
            strong.progress 6%
            | Our life with each other—every scene—is never lost, and can be recaptured and played again in the spirit world.
        li
            strong.progress 7%
            | Light energy has some properties of electromagnetic force, and thus can work in mysterious ways with objects.
        li
            strong.progress 12%
            | When a soul once again returns to a pure energy state in the spirit world, it no longer feels hate, anger, envy, jealousy and the like. It has come to Earth to experience these sorts of emotions and learn from them.
        li
            strong.progress 12%
            | it is a soul’s destiny to search for truth in their experiences in order to gain wisdom.
        li
            strong.progress 14%
            | As Plato said, “Once free of the body, the soul is able to see truth clearly because it is more pure than before and recalls the pure ideas which it knew before.”
        li
            strong.progress 14%
            | the Akashic Record traditions of Eastern thought don’t appear to my subjects as being on some fourth causal plane separate from other functional areas. My subjects call these records Life Books, which are stored in symbolic libraries that are seen adjacent to other spiritual places.
        li
            strong.progress 14%
            | I am told all spatial zones have vibrational properties that allow for soul passage only when their energy waves are attuned to the proper frequency. The more developed souls explain that absolute time as we know it does not seem to exist in these areas.
        li
            strong.progress 15%
            | I questioned her further and she added, “While a rock has a l-D (density), a tree would be a 2-D and our bodies are at the 3-D level. Thus, the beings of nature would be invisible with a transparency registering between 4-D and 6-D.”
        li
            strong.progress 17%
            | A portion of the energy of most souls never leaves the spirit world during their incarnations.
        li
            strong.progress 18%
            | If souls were forced to do what is right for them they would learn nothing from getting into a funk and shutting themselves up from everyone.
        li
            strong.progress 18%
            | In my experience, all souls are repentant because they hold themselves accountable for their choices. From all I have learned, soul energy cannot be destroyed or made nonfunctional but it can be reshaped and purified of earthly contamination.
        li
            strong.progress 18%
            | Sartre said, “We have an imaginary self of the world with tendencies and desires and a real self.” To this statement I would add that of William Blake, “Perception of our true self may threaten mergence with that self.”
        li
            strong.progress 20%
            | Practicing evil is a source of power, strength and control for inadequate people. Hate takes away the reality of a hateful life. The warped minds of these executioners tell them, “If life is not worth living for me, why not take it away from somebody else.”
        li
            strong.progress 23%
            | Souls are an expression of beauty, imagination and creativity. The ancient Egyptians said that to begin to understand the soul, one must listen to the heart. I think they were right.
        li
            strong.progress 24%
            | There are certain displaced souls who have become so contaminated by their host bodies that they require special handling. In life they became destructive to others and themselves. This spectrum of behavior would primarily include souls who have been associated with evil acts that caused harm to other people through deliberate malice.
        li
            strong.progress 26%
            | We begin by examining all particles of damaged energy. Then these dark areas of blockage are removed and what is left—the voids—are rewoven with an infusion of new purified light energy. It is overlaid and melded into the repaired energy for strengthening.
        li
            strong.progress 26%
            | The hybrid is usually an older soul who, for a number of reasons, has decided to complete their physical lives on our planet. Their old worlds may no longer be habitable or they may have lived on a gentle world where life was just too easy and they want a difficult challenge with a world like Earth that has not yet reached its potential.
        li
            strong.progress 26%
            | I have noticed that when I do have a hybrid soul as a client with former experience on a telepathic world, they tend to have greater psychic abilities than normal.
        li
            strong.progress 28%
            | What is a protector soul? S: We try to protect those people whose innate goodness and intense desire to better the lives of large numbers of people on Earth must be preserved.
        li
            strong.progress 28%
            | one of the best ways to repair damaged energy is to receive it back slowly. Many souls of solitude are quite advanced and don’t require restoration in the normal recovery areas.
        li
            strong.progress 30%
            | The ability of a soul to unite with itself is a natural process of energy regeneration after physical death.
        li
            strong.progress 31%
            | Typically, a highly advanced soul will bring no more than 25 percent of its total capacity to Earth where the average, less confident soul has 50–70 percent. The energy of a more evolved soul is refined, elastic and vigorous in smaller quantities.
        li
            strong.progress 31%
            | Every soul has a specific energy field pattern which reflects an immortal blueprint of its character, regardless of the number of divided parts. When this spiritual ego is combined with a more structured personality of a physical brain, a higher density field is produced.
        li
            strong.progress 31%
            | A few hours’ rest from the human body can do wonders for a soul as long as the remaining portion left behind is on cruise control and not coping with a complex dream analysis. That circumstance may cause us to wake up exhausted.
        li
            strong.progress 32%
            | As my core center is filled with my own essence, the outer shell of my physical body imprint is melted off. It is as if I were a dog shaking off water droplets from my fur after getting wet. The unwanted earthly particles are jarred loose—dissolved—and my energy now begins to sparkle again instead of being a dull light.
        li
            strong.progress 33%
            | My soul was created out of a great irregular cloudy mass. I was expelled as a tiny particle of energy from this intense, pulsating bluish, yellow and white light. The pulsations send out hailstorms of soul matter. Some fall back and are reabsorbed but I continued outward and was being carried along in a stream with others like me. The next thing I knew, I was in a bright enclosed area with very loving beings taking care of me.
        li
            strong.progress 34%
            | I know that the souls who come to worlds such as Earth need to be strong and resilient because of the pain they have to endure along with the joy.
        li
            strong.progress 35%
            | In the spirit world, seeing a temple is not a literal record of stone blocks but rather a visualization of the meaning the temple has to that soul. Back on Earth, memories of past events in our soul life are reconstructions of circumstances and events based upon interpretations and conscious knowledge.
        li
            strong.progress 35%
            | There is a statement from the Upanishads of India about our senses being carried in memory after death. I believe this old philosophical text is correct in the assumption that the senses, emotions and human ego are a path to infinite experience, which provides a physical consciousness to the immortal Self.
        li
            strong.progress 37%
            | About half of all my clients see large groups of souls upon their return. The other half report that after their arrival they see just their own cluster. The visual images of either large or small gatherings of souls can vary with the same soul after different lives.
        li
            strong.progress 38%
            | Many of my clients speak about being in research library settings soon after rejoining their soul groups. I have come to accept the idea that it is a standard learning imperative that we begin to study our past lives in depth right away.
        li
            strong.progress 39%
            | The word “Akasha” essentially means the essence of all universal memory that is recording every energy vibration of existence, rather like an audio/visual magnetic tape.
        li
            strong.progress 43%
            | What is the significance of your Life Book and being in this whole library atmosphere? S: By studying my book I am able to recognize mistakes and experience alternatives.
        li
            strong.progress 43%
            | We must also keep in mind that a divine intelligence placed us in this environment to learn and grow for a greater good.
        li
            strong.progress 44%
            | White represents the energy color base for all souls. It is the shading of white with other color mixtures which identify each soul. White is very receptive energy. The newer ones are receiving vibrations in great quantities while teachers are sending information in large amounts to be absorbed as uncluttered truths.
        li
            strong.progress 44%
            | White: Purity, Clarity, Restlessness. Silver: Ethereal, Trust, Flexibility. Red: Passion, Intensity, Sensitivity. Orange: Exuberant, Impulsive, Openness. Yellow: Protective, Strength, Courage. Green: Healing, Nurturing, Compassion. Brown: Grounded, Tolerant, Industrious. Blue: Knowledge, Forgiveness, Revelation. Purple: Wisdom, Truth, Divinity.
        li
            strong.progress 46%
            | True healing must take into account both the physical and subtle body. When we meditate or practice yoga we work to unblock our emotional and spiritual energy through various parts of the body.
        li
            strong.progress 46%
            | Spiritual meditation as a means of getting in touch with our inner self is of great benefit in healing the body. There are many good self-help books on the market which explain the various forms of meditation.
        li
            strong.progress 46%
            | Those who have severe physical health problems tell me the best results come from meditating once a day for thirty minutes or twice a day for fifteen to twenty minutes.
        li
            strong.progress 49%
            | Earth societies have a nasty habit of mistrusting one another at best and demonstrating bitterness and cruelty at worst. Societies in the spirit world are inclined to be rigorous, moderate, or compliant in their interpersonal relationships but I see no evidence of discrimination or alienation either within or between soul groups.
        li
            strong.progress 49%
            | When we reincarnate into a new body, the soul’s character is united with the temperament of its host to form one persona. The body is the outward manifestation of the soul but it is not the total embodiment of our soul Self.
        li
            strong.progress 51%
            | Rather than stages of punishment, we go through stages of self- enlightenment. Yet large segments of human society are unable to shake off the nagging feeling, built over thousands of years of cultural conditioning, that judgment and punishment must exist in some form in the afterlife as it does on Earth.
        li
            strong.progress 52%
            | The descriptions about the form and procedure of council meetings are very consistent among all hypnosis subjects.
        li
            strong.progress 53%
            | The object of council meetings is not to demean the souls who come before them or to punish them for their shortcomings. The purpose of the Elders is to question the soul in order to help them achieve their goals in the next lifetime.
        li
            strong.progress 53%
            | most of my advanced clients, along with large numbers of intermediate souls, see their councils as androgynous.
        li
            strong.progress 54%
            | “That which you gain from each difficult life, you gain for all eternity.”
        li
            strong.progress 55%
            | The white energy of younger souls denotes a process of continual self-cleansing and renewal. For the more advanced, it signifies purity and clarity.
        li
            strong.progress 56%
            | The Wise One in the center . . . his powerful mind envelops me. Dr. N: What does he communicate to you exactly? S: (slowly) This is what I hear in my mind: “Emmanual, we are not here to judge you, punish you, or to override your thoughts. We want you to look at yourself through our eyes, if you can. That means to forgive yourself. This is the most challenging aspect of your time with us because it is our desire that you accept yourself for who you are with the same unconditional love we have for you. We are here to support you in your work on Earth. Toward that end, we would remind you of the bus stop incident.”
        li
            strong.progress 59%
            | Council medallions are symbolic of pain and purpose, triumphs and shortcomings of the souls who go before them.
        li
            strong.progress 60%
            | When one is in constant pain, even of low-grade intensity, it presents an opportunity—especially for a healer.
        li
            strong.progress 61%
            | During the time we are meeting with the Council of Elders there is the overwhelming feeling of an even higher force which is simply called “the Presence.”
        li
            strong.progress 62%
            | Indian, Egyptian, Persian and Chinese texts of the past speak of “the agencies of God” who were personified as metaphysical entities, some of whom were even anthropomorphic. Early Greco-Hebrew religious philosophy also identified with a stair-stepped concept of spiritual masters,
        li
            strong.progress 63%
            | Although karma is associated with justice, its essence is not punitive but one of bringing balance to the sum of our deeds in all past lives.
        li
            strong.progress 64%
            | knowing about our past lives, and our immortal life in the spirit world can provide a solid foundation for more conventional therapy later in a client’s local area.
        li
            strong.progress 65%
            | Always, there are karmic reasons behind the serious events involving relationships in our lives.
        li
            strong.progress 65%
            | The most healthy kind of love is one where you already feel good about yourself and so extending your love to someone else is totally unselfish. Love takes hard work and continual maintenance.
        li
            strong.progress 66%
            | A soul affiliate might have a specific characteristic that is exactly what is needed to bring a karmic lesson into your life. They are very likely to incarnate as people who carry strong positive or negative energy into their association with you.
        li
            strong.progress 69%
            | When we are hurt by someone close to us in life, or caused them hurt resulting in alienation and separation, it is because they volunteered to teach us lessons of some sort while learning lessons themselves.
        li
            strong.progress 73%
            | My subjects say that the desire for time alone in the spirit world comes from an intense need to dwell within the sacred confines of pure thought to try and touch the Source from which they sprang.
        li
            strong.progress 74%
            | Love is a desire for full unification with the object of that love. Spirits have the capability between lives of expressing love even more intimately than on Earth.
        li
            strong.progress 74%
            | Dr. N: What other differences do you know about between the souls of humans and that of animals? S: The main difference, other than size and capacity, is that animal souls are not ego-driven. They are not overwhelmed by identity issues as we are.
        li
            strong.progress 76%
            | People in deep hypnosis explain that musical thought is the language of souls. The composition and transmission of harmonic resonance appears to relate to the formation and presentation of spiritual language.
        li
            strong.progress 76%
            | I’m told spiritual harmonics are the building blocks of energy creation and soul unification.
        li
            strong.progress 79%
            | It took me centuries to learn to trust and be open with people inclined to hurt me as an outgrowth of their own anger. This was my last major hurdle.
        li
            strong.progress 79%
            | Why do you think you had to go through so much in your lives on Earth? S: How can I teach others unless I have gone through fire myself to become strong?
        li
            strong.progress 80%
            | Dreammasters, Redeemers of Lost Souls, Keepers of Neutrality, Restoration Masters, Incubator Mothers, Archivist Souls, Animal Caretaker Souls, Musical Directors, and Gamekeepers.
        li
            strong.progress 82%
            | Working for world betterment would eventually do away with intolerance against those who are different from us. The need for personal status and elitism is the conflict because it is equated with happiness.
        li
            strong.progress 82%
            | The lesson of Earth, as far as morality and ethics are concerned, is for the soul to be encased in the body of a being whose instincts—whose very nature—cry out for personal survival. The plight of others is secondary.
        li
            strong.progress 82%
            | Jung tells us, “The rational and irrational exist side by side and healthy people recognize the workings of both forces within themselves. We should look to our mental neuroses and physical ailments as unconscious value patterns.”
        li
            strong.progress 82%
            | Kant was right when he said, “If we believe in the immortality of the soul created by a divine source, this presupposes free will which may not include moral behavior.”
        li
            strong.progress 82%
            | Incarnating Harmonizer Souls might be statesmen, prophets, inspirational messengers, negotiators, artists, musicians and writers. Typically, they are souls who balance the energy of planetary events involving human relationships.
        li
            strong.progress 84%
            | I have come to the conclusion that intelligent energy waves create subatomic particles of matter and it is the vibrational frequency of these waves that causes matter to react in desired ways.
        li
            strong.progress 85%
            | These designer souls are the biologists and botanists of the spirit world and they say that extraterrestrial life exists on billions of planets.
        li
            strong.progress 85%
            | In our physical universe we know of 100 billion galaxies. Each of these silvery islands, separated by vast distances in light years, moves within the dark sea of space and contains countless billions of suns with the likelihood of life-supporting planets.
        li
            strong.progress 86%
            | Explorer guides can take souls on brief visits to higher dimensional levels to raise their consciousness.
        li
            strong.progress 89%
            | The Ring displays futuristic scenes of events and people the soul will encounter in the life to come.
        li
            strong.progress 89%
            | I cannot stress too much that all my subjects feel what they are seeing has been edited for their benefit and that they have less control over what they can watch than, say, in the library. Moreover, I have the impression that when looking into the future, they see more of an early life than later.
        li
            strong.progress 91%
            | The second and far more important factor is souls choosing a gay or lesbian orientation in advance of the life they are now living because they deliberately chose to exist in a society that would be prejudiced against them.
        li
            strong.progress 91%
            | Archivist Souls assist souls in searching out their past histories and alternative timelines to those events.
        li
            strong.progress 92%
            | Particles of energy do involve memory. Dr. N: How? S: Energy is the carrier of thought and memory within the sequences and these never pass into oblivion.
        li
            strong.progress 93%
            | The great lesson of Earth is to overcome both planetary and private destructive forces in life, grow strong from the effort, and move on.
        li
            strong.progress 95%
            | Change is a hallmark of karma through the use of free will in making course corrections into unfamiliar waters. Searching for who you really are is getting in touch with your inner Self and bringing passion and meaning into what you do in life.
        li
            strong.progress 96%
            | As for body matches with the soul, our options are offered to us in good faith for a variety of life designs. Body choices in the Ring are never used to trap us into something unsuitable for our development.
        li
            strong.progress 98%
            | Spinoza, who said, “All the cosmos is a single substance of which we are a part. God is not an external manifestation, but everything that is.”
        li
            strong.progress 99%
            | Some 2,400 years ago, Plato wrote about reincarnation and said that souls must travel over Lethe, the River of Forgetfulness, whose waters produce a loss of memory from our true nature.
        li
            strong.progress 99%
            | Camus tells us, “Both the rational and irrational lead to the same understanding. Truly, the path traveled matters little; the will to arrive is enough.”
        li
            strong.progress 99%
            | we are not evaluated after death by our religious associations but rather by our conduct and values. In the spirit world I am familiar with, we are measured more by what we do for others rather than ourselves.
        li
            strong.progress 99%
            | If traditional religious activity serves your purpose and provides you with spiritual sustenance, you are probably motivated by a belief in scripture and perhaps the desire for comradeship in worship. The same attractions are true with people who join metaphysical groups
        li
            strong.progress 99%
            | If there is no inner peace, it does not matter what sort of spiritual affiliation you have.
        li
            strong.progress 99%
            | Spiritual perception must be an individual quest or it has no meaning.
        li
            strong.progress 99%
            | to be effective in our mission we are expected to help others on their paths whenever possible. By helping others we help ourselves.
