---
title: 'Journey of Souls'
description: 'Case Studies of Life Between Lives'
author: 'Michael Newton, PhD'
publishingDate: '1994'
score: 4
date: '2022-08-29'
dateFull: '29 August 2022'
image: 'views/reading/assets/journey-of-souls/hero.jpg'
imageBook: 'views/reading/assets/journey-of-souls/cover-journey-of-souls.jpg'
imageDest: 'reading/journey-of-souls'
_content: false
---

extends ../_includes/layout-reading

block header-vars
    - var title = 'Journey of Souls'
    - var description = 'Case Studies of Life Between Lives'
    - var score = 4

block vars
    - var imgDir = 'views/reading/assets/journey-of-souls/'
    - var imgBook = 'views/reading/assets/journey-of-souls/cover-journey-of-souls.jpg'
    - var imgDest = 'reading/journey-of-souls'
    - var imgHeader = imgDir + 'hero.jpg'
    - var imgCaption = 'Photo by Benmar Schmidhuber'

block header
    h1 #{title}
    h2 #{description}
    p 1994 Michael Newton, PhD
    +star-rating(score)

block content
    h2 Entertaining regression therapy

    p This book is fun to read. It finds a pleasant balance between documenting the results of regression therapy by hypnosis and presenting it entertainingly. And even while this book almost reads like a novel, keep in mind that Michael Newton, Ph.D. held a doctorate in Counseling Psychology, was a certified Master Hypnotherapist, and was a member of the American Counseling Association. 
    
    p I would say, have some fun and stay open-minded. He may have been on to something.

    h2 Details

    ul
        li Paperback:‎ 278 pages
        li E-book: 292 pages
        li ISBN-10:‎ 1567184855
        li ISBN-13:‎ 978-1567184853
        li
            a(href='https://www.betterworldbooks.com/product/detail/Journey-of-Souls---Case-Studies-of-Life-Between-Lives-9781567184853', title='Buy #{title} at BetterWorldBooks', target='_blank') Buy #{title} at BetterWorldBooks
        li
            a(href='https://bookshop.org/books/journey-of-souls-case-studies-of-life-between-lives/9781567184853', title='Buy #{title} at The Bookshop.org', target='_blank') Buy #{title} at The Bookshop.org
        li
            a(href='https://www.amazon.com/gp/product/1567184855', title='Buy #{title} at Amazon', target='_blank') Buy #{title} at Amazon
    
    h2 86 significant notes
    
    p
        a(href="https://www.goodreads.com/notes/6054250-journey-of-souls/42193292-thomas-torfs?ref=abp", title="View notes on Goodreads", target="_blank") View these notes on Goodreads
    
    ul.notes
        li
            strong.progress 0%
            | it is possible to “see” into the spirit world through the mind’s eye of subjects who are in a hypnotized or superconscious state; and that clients in this altered state were able to tell him what their soul was doing between lives on Earth.
        li
            strong.progress 1%
            | Michael Duff Newton holds a doctorate in Counseling Psychology, is a certified Master Hypnotherapist and a member of the American Counseling Association.
        li
            strong.progress 2%
            | Initially I was concerned that a subject’s integration of current needs, beliefs, and fears would create fantasies of recollection. However, it didn’t take long before I realized our deep-seated memories offer a set of past experiences which are too real and connected to be ignored.
        li
            strong.progress 3%
            | How is it possible to reach the soul through hypnosis? Visualize the mind as having three concentric circles, each smaller than the last and within the other, separated only by layers of connected mind-consciousness.
        li
            strong.progress 3%
            | The third, the innermost core, is what we are now calling the superconscious mind. This level exposes the highest center of Self where we are an expression of a higher power.
        li
            strong.progress 3%
            | In Theta, however, the conscious mind is not unconscious, so we are able to receive as well as send messages with all memory channels open.
        li
            strong.progress 3%
            | once subjects were regressed back into their soul state they all displayed a remarkable consistency in responding to questions about the spirit world.
        li
            strong.progress 3%
            | It was these perceptions by so many different types of people which convinced me their statements were believable.
        li
            strong.progress 4%
            | my sessions are usually single ones which run three hours in length and there is a lot to cover.
        li
            strong.progress 4%
            | I find no significant differences between ancient and modern times in terms of graphic spirit world recall, or the quality of lessons learned.
        li
            strong.progress 7%
            | Dying is the easiest period in our lives for spiritual awareness, when we can sense our soul is connected to the eternity of time.
        li
            strong.progress 7%
            | Death is not darkness, but light.
        li
            strong.progress 8%
            | Once through the tunnel, our souls have passed the initial gateway of their journey into the spirit world. Most now fully realize they are not really dead, but have simply left the encumbrance of an Earth body which has died. With this awareness comes acceptance in varying degrees depending upon the soul.
        li
            strong.progress 8%
            | There are those highly developed souls who move so fast out of their bodies that much of what I am describing here is a blur as they home into their spiritual destinations. These are the pros and, in my opinion, they are a distinct minority on Earth.
        li
            strong.progress 9%
            | In metaphysical writing, we read a lot about planes above the Earth. Beginning with ancient Indian scriptures called the Vedas, followed by later Eastern texts, astral planes have historically represented a series of rising dimensions above the physical or tangible world, which blend into the spiritual. These invisible regions have been experienced by people over thousands of years through meditative, out-of-body observations of the mind.
        li
            strong.progress 10%
            | The time of soul adjustment depends upon the circumstances of death, attachments of each soul to the memories of the life just ended, and level of advancement.
        li
            strong.progress 13%
            | The size of welcoming parties not only changes for everyone after each life, but is drastically reduced to almost nothing for more advanced souls where spiritual comfort becomes less necessary.
        li
            strong.progress 13%
            | all souls can and do assume male and female mental impressions toward other entities as a form of identity preference.
        li
            strong.progress 14%
            | As souls there are periods in our existence when we are more inclined toward one gender than another. Eventually, this natural preference evens out.
        li
            strong.progress 17%
            | The troubled spirit is an immature entity with unfinished business in a past life on Earth. They may have no relation to the living person who is disrupted by them.
        li
            strong.progress 17%
            | I turn now to the far more prevalent second type of disturbed soul. These are souls who have been involved with evil acts.
        li
            strong.progress 17%
            | souls may have their identity damaged by poor life choices. However, all souls are held accountable for their conduct in the bodies they occupy.
        li
            strong.progress 18%
            | The Tibetan Book of the Dead, a source of religious belief thousands of years older than the Bible, describes the state of consciousness between lives (the Bardo) as a time when “the evil we have perpetrated projects us into spiritual separation.”
        li
            strong.progress 18%
            | Those of my subjects who have been impeded by evil report that souls whose influence was too weak to turn aside a human impulse to harm others will go into seclusion upon reentering the spirit world. These souls don’t appear to mix with other entities in the conventional manner for quite a while.
        li
            strong.progress 18%
            | I have also noticed that those beginner souls who are habitually associated with intensely negative human conduct in their first series of lives must endure individual spiritual isolation.
        li
            strong.progress 19%
            | Karma by itself does not denote good or bad deeds. Rather it is the result of one’s positive and negative actions in life.
        li
            strong.progress 20%
            | Everybody is held accountable for their past lives. Performance is judged upon how each individual interpreted and acted upon their life roles. Intake interviews for the advanced souls are conducted with master teachers later. The less experienced entities are usually given special attention by counselors because the abrupt transition from the physical to a spiritual form is more difficult for them.
        li
            strong.progress 24%
            | In reflection, meditation, or prayer, the memories of who we really are do filter down to us in selective thought each day.
        li
            strong.progress 25%
            | Council of Masters or Elders. This board of review is generally composed of between three and seven members and since souls appear before them after arriving at their home base,
        li
            strong.progress 25%
            | this does not mean souls are exonerated for their acts which harmed others simply because they are sorry. Karmic payment will come in a future life.
        li
            strong.progress 25%
            | ALL souls, regardless of experience, eventually arrive at a central port in the spirit world which I call the staging area.
        li
            strong.progress 25%
            | the most outstanding characteristic of the spirit world is a continuous feeling of a powerful mental force directing everything in uncanny harmony. People say this is a place of pure thought.
        li
            strong.progress 27%
            | there are no walls here. Nothing is structural, with angles and corners. It’s hard for me to explain, exactly …
        li
            strong.progress 27%
            | I see masses of dots hanging in clumps … as hanging grapes, all lit up. Dr. N: Do these clumps represent various groups of soul energy masses with space between them? S: Yes … they are separated into small groups … I am going to my own clump.
        li
            strong.progress 27%
            | I can feel their thoughts reaching out … so varied … but together too … such harmony
        li
            strong.progress 30%
            | after souls arrive back into their soul groups, they are summoned to appear before a Council of Elders. While the Council is not prosecutorial, they do engage in direct examination of a soul's activities before returning them to their groups.
        li
            strong.progress 31%
            | When people in trance speak of being part of a soul cluster group, they are talking about a small primary unit of entities who have direct and frequent contact, such as we would see in a human family. Peer members have a sensitivity to each other which is far beyond our conception on Earth.
        li
            strong.progress 31%
            | a parent soul could be less developed than their human offspring.
        li
            strong.progress 34%
            | many subjects mentally traveling from one location to another in the spirit world will tell me the space around them is like a sphere, as we saw in the last chapter, but then they will add that the spirit world is not enclosed because it is “limitless.”
            | many subjects mentally traveling from one location to another in the spirit world will tell me the space around them is like a sphere, as we saw in the last chapter, but then they will add that the spirit world is not enclosed because it is “limitless.”
        li
            strong.progress 36%
            | I concluded both our spiritual and physical consciousness project and receive light energy. I believe individual vibrational wave patterns represent each soul’s aura. As souls, the density, color, and form of light we radiate is proportional to the power of our knowledge and perception as represented by increasing concentrations of light matter as we develop.
        li
            strong.progress 36%
            | If color density is a reflection of wisdom, then the lower wavelengths of white through yellow emanating from souls must represent lower concentrations of vibrational energy.
        li
            strong.progress 36%
            | It is important to understand that while we may suffer the consequences of bad choices in our educational tasks, we are always protected, supported, and directed within the system by master souls.
        li
            strong.progress 36%
            | My classification of soul development is intended to be neither socially nor intellectually elitist. Souls in a high state of advancement are often found in humble circumstances on Earth. By the same token, people in the upper strata of influence in human society are by no means in a blissful state of soul maturity. Often, just the reverse is true.
        li
            strong.progress 37%
            | I think human beings have always needed anthropomorphic figures below a supreme God to portray the spiritual forces around them. When people pray or meditate, they want to reach out to an entity with whom they are acquainted for inspiration.
        li
            strong.progress 38%
            | Every human being has at least one senior, or a higher master guide, assigned to their soul since the soul was first created.
        li
            strong.progress 42%
            | People in hypnosis say they feel the presence of a supreme power directing the spirit world, but they are uncomfortable using the word “God” to describe a creator. Perhaps the philosopher Spinoza said it best with these words: “God is not He who is, but That which is.”
        li
            strong.progress 42%
            | For those who are curious, the percentages by soul level of all my cases are as follows: Level I, 42%; Level II, 31%; Level III, 17%; Level IV, 9%; and Level V, 1%.
        li
            strong.progress 42%
            | I have had many cases where a client has been incarnating for up to 30,000 years on Earth and is still in the lower levels of I and II. The reverse is also true with a few people, although rapid acceleration in spiritual development is uncommon.
        li
            strong.progress 44%
            | Less developed souls are inclined to surrender their will to the controlling aspects of human society, with a socio-economic structure which causes a large proportion of people to be subordinate to others.
        li
            strong.progress 44%
            | One of the clear indications that souls are coming out of novice status is when they leave their spiritual existence of relative isolation. They are removed from small family cocoons with other novices and placed in a larger group of beginner souls.
        li
            strong.progress 47%
            | I don’t see hatred, suspicion, and disrespect in soul groups. In a climate of compassion, there are no power struggles for control among these peer groups whose members are unable to manipulate each other or keep secrets. Souls distrust themselves, not each other.
        li
            strong.progress 50%
            | Despite their high standards of morality and conduct, entities who have reached the intermediate levels of maturity are modest about their achievements.
        li
            strong.progress 50%
            | it is not an absolute prerequisite that souls have hundreds of physical lives in order to advance. I once had a client who entered into a Level III state of awareness after only 4,000 years—an outstanding performance.
        li
            strong.progress 53%
            | The World Without Ego, the World of All Knowing, the World of Creation and Non-creation, and the World of Altered Time. Dr. N: Are they worlds which exist in our physical universe? S: One does, the rest are non-dimensional spheres of attention.
        li
            strong.progress 54%
            | the purpose of this world is the distribution of soul identity by advanced beings? S: Yes, the new soul is pure energy with no real Self yet. The World Without Ego provides you with a signature.
        li
            strong.progress 54%
            | Earth is considered severe? S: Yes. On some worlds you must overcome physical discomforts— even suffering. Others lean toward mental contests. Earth has both.
        li
            strong.progress 55%
            | All souls are anxious to reach and be absorbed by this nucleus, especially as they draw closer and are enticed by what little they can see. I’m afraid the World of All Knowing can only be fully understood by a non-reincarnating soul above Level V.
        li
            strong.progress 58%
            | Being emotional, appreciating beauty, or having extrasensory impressions—including psychic talent—does not necessarily denote an advanced soul.
        li
            strong.progress 58%
            | The mark of an advanced spirit is one who has patience with society and shows extraordinary coping skills. Most prominent is their exceptional insight.
        li
            strong.progress 59%
            | Souls eventually made us human, not the reverse.
        li
            strong.progress 62%
            | Wouldn’t you say the spirit world is the main center for learning? S: It is the center for evaluation and analysis, but souls do rest.
        li
            strong.progress 63%
            | in what way a company member on Earth can signal to get your attention. One, two, three! (I snap my fingers for added effect) S: (after a long pause) First, they have to calm their minds and focus attention away from their immediate surroundings. Dr. N: How would they do this? S: By silence … reaching inward … to fasten on their inner voice.
        li
            strong.progress 64%
            | If one of my company is in crisis—physically hurt, sad, anxious, resentful—they send out great amounts of uncontrolled negative energy which alerts me, but exhausts them. This is the challenge of a watcher, to know when and how to communicate.
        li
            strong.progress 64%
            | Watchers are not supposed to intrude. It’s more of a … soft coupling. I implant ideas—which they assume is inspiration—to try and give them peace.
        li
            strong.progress 65%
            | when souls start to create forms of life, they begin with microorganisms? S: … Small cells, yes, and this is very difficult to learn.
        li
            strong.progress 66%
            | A small percentage of my subjects, usually the older, advanced souls, are able to recall being in strange, non-human intelligent life-forms on other worlds.
        li
            strong.progress 66%
            | Other worlds have low populations with more harmony. Earth’s population has outpaced its mental development.
        li
            strong.progress 67%
            | once in a human body, souls are not sent back down the mental evolutionary ladder.
        li
            strong.progress 69%
            | There is an explosive release … then a returning … yes, the source pulsates. Dr. N: And you are moving toward the center of this energy source? S: There really is no center. The source is all around us as if we were … inside a beating heart.
        li
            strong.progress 71%
            | I have come to believe that the spirit world, as a whole, is not functionally uniform. All spiritual regions are seen by traveling souls as having the same ethereal properties, but with different applications. As an illustration, the space of orientation for incoming souls could be contrasted to the space of life selection for those who are leaving.
        li
            strong.progress 71%
            | when we enter the space of life selection, we are full of hope, promise, and lofty expectations. Here souls are virtually alone, with their guides out of sight, while evaluating new life options. This hectic, stimulating place is described as being much larger than other spiritual study areas.
        li
            strong.progress 76%
            | Souls are not inclined toward life selections based on ethnicity or nationalism. These products of human separatism are taught in childhood.
        li
            strong.progress 77%
            | As heartless as this may sound, my cases show few real accidents involving body damage which don’t fall under the free will of souls. As souls, we choose our bodies for a reason.
        li
            strong.progress 79%
            | The Hindus believe a rich man sooner or later must become a beggar for his soul to develop adequately.
        li
            strong.progress 86%
            | There is usually some karmic purpose for receiving pain or pleasure from someone close to us. Remember, along with learning our own lessons, we come to Earth to play a part in the drama of others’ lessons as well.
        li
            strong.progress 86%
            | Souls both give and receive mental gifts in life through a symbiosis of human brain cells and intelligent energy. Deep feelings generated by an eternal consciousness are conjoined with human emotion in the expression of one personality, which is as it should be.
        li
            strong.progress 86%
            | We don’t need to change who we are in relation to life’s experiences, only our negative reactions to these events. Asian Buddhists say enlightenment is seeing the absolute soul ego reflected in the relative human ego and acting through it during life.
        li
            strong.progress 86%
            | The philosopher Kant wrote that the human brain is only a function of consciousness, not the source of real knowledge. Regardless of body choice, I find souls do demonstrate their individualism through the human mind.
        li
            strong.progress 86%
            | souls returning from the place of life selection must not only sort out the best choice of who they are going to be in their next life, but coordinate this decision with other players in the coming drama.
        li
            strong.progress 92%
            | The hollow tube effect described by my cases is apparently not the mother’s birth canal. It is similar to the tunnel souls pass through at physical death and may be the same route.
        li
            strong.progress 92%
            | We have seen how the outward passage is intended to be more gradual than our return to Earth in order to allow for acclimatization of a newly freed soul.
        li
            strong.progress 93%
            | Once birth has taken place, the union of spirit and flesh has been fully solidified into a partnership. The immortal soul then becomes the seat of perception for the developing human ego.
        li
            strong.progress 95%
            | We learn from wrongdoing. The absence of good traits exposes the ultimate flaws in our nature. That which is not good is testing us, otherwise we would have no motivation to better the world through ourselves, and no way to measure advancement.
        li
            strong.progress 96%
            | If our God is not the best there is because of the use of pain as a teaching tool, then we must accept this as the best we have and still take the reasons for our existence as a divine gift.
        li
            strong.progress 96%
            | Pain in life is especially insidious because it can block the healing power of our souls, especially if we have not accepted what is happening to us as a preordained trial. Yet, throughout life, our karma is designed so that each trial will not be too great for us to endure.
        li
            strong.progress 96%
            | “Life,” he said, “is offered as a means of self-expression, only giving us what we seek when we listen to the heart.”
