---
title: 'Sola Mysterium'
description: 'Celebrating the Beautiful Uncertainty of Everything'
author: 'Keith Giles | Steve McVey'
publishingDate: '2022'
score: 5
date: '2022-09-22'
dateFull: '22 September 2022'
image: 'views/reading/assets/sola-mysterium/hero.jpg'
imageBook: 'views/reading/assets/sola-mysterium/cover-sola-mysterium.jpg'
imageDest: 'reading/sola-mysterium'
_content: false
---

extends ../_includes/layout-reading

block header-vars
    - var title = 'Sola Mysterium'
    - var description = 'Celebrating the Beautiful Uncertainty of Everything'
    - var score = 5
    - var dateFull = '22 September 2022'

block vars
    - var imgDir = 'views/reading/assets/sola-mysterium/'
    - var imgBook = 'views/reading/assets/sola-mysterium/cover-sola-mysterium.jpg'
    - var imgDest = 'reading/sola-mysterium'
    - var imgHeader = imgDir + 'hero.jpg'
    - var imgCaption = 'Photo by Jorge Luis Ojeda Flota'

block header
    h1 #{title}
    h2 #{description}
    p 2022 Keith Giles | Steve McVey
    +star-rating(score)

block content
    .header
        h2 The real truth
        p #{dateFull}

    p This book hits the nail on the head! It may be exactly what you're looking for. Instead of filling our minds with even more clueless knowledge about the unknown, and keeping us hungry for more, it presents us with the real truth about spirituality.
    
    p Keith is a former pastor and has been writing articles on the Christian subculture, the house church movement, spiritual formation, compassion ministry and the Kingdom of God for over 20 years now. In 2006 he and his family started a house church in their home in order to share 100 percent of the offering to help the poor in their community.

    p As Keith confronts us:

    blockquote Faith is not about knowing information. It’s about admitting that we are in direct connection with a Being of such exceptional splendor that no one could ever possibly know—in an intellectual sense— almost anything at all. God is a mystery to be explored, not a doctrine to be memorized.
    
    p For instance, one of the things he advises us is to find a quiet place, turn off our phones, become still and focus on our breath. Watch your thoughts without any judgment. Observe the moment and let it flow... Wonderful, just wonderful advice. Thank you Keith. This book reads like you've written it straight from your heart, the heart of a true guru.

    h2 Details

    ul
        li Paperback:‎ 186 pages
        li E-book: 178 pages
        li ISBN-10:‎ 1957007184
        li ISBN-13:‎ 978-1957007182

    h2 Where to buy?

    ul
        li
            a(href='https://www.amazon.com/Sola-Mysterium-Celebrating-Uncertainty-Everything/dp/1957007184/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=&sr=', title='Buy #{title} at Amazon', target='_blank') Buy #{title} at Amazon
        li
            a(href='https://www.thriftbooks.com/w/sola-mysterium-celebrating-the-beautiful-uncertainty-of-everything/37080642/?resultid=9020a714-cd5c-4158-b348-59777f0dfb40#edition=65019869&idiq=53345261', title='Buy #{title} at Thriftbooks', target='_blank') Buy #{title} at Thriftbooks
        li
            a(href='https://www.betterworldbooks.com/product/detail/Sola-Mysterium---Celebrating-the-Beautiful-Uncertainty-of-Everything-9781957007182', title='Buy #{title} at BetterWorldBooks', target='_blank') Buy #{title} at BetterWorldBooks
            
    h2 summary
    
    p "Sola Mysterium: A Practical Guide to Reformed Spirituality" by Keith Giles is a book that explores the concept of Reformed Spirituality, which emphasizes the mysterious nature of God and the importance of cultivating a personal relationship with Him. The book provides practical guidance for living a life that is centered on God and His will.

    p Important Learnings and Insights:

    ol
        li Reformed Spirituality is rooted in the belief that God is mysterious and beyond human understanding. This means that we must approach Him with humility and reverence.
        li The ultimate goal of Reformed Spirituality is not simply to acquire knowledge about God, but to have a personal relationship with Him.
        li The practices of Reformed Spirituality include prayer, meditation, Scripture reading, and participating in the sacraments of the church.
        li Reformed Spirituality emphasizes the importance of living a virtuous life that is characterized by love, humility, and service to others.
        li The book encourages readers to examine their own lives and make changes that align with their spiritual values. This includes simplifying one's life, cultivating gratitude, and practicing generosity.
        li Reformed Spirituality also emphasizes the importance of community and encourages readers to find a supportive and encouraging group of like-minded individuals to journey with.
        li Overall, "Sola Mysterium" is a practical guide to living a life that is centered on God and His will. It provides valuable insights and guidance for anyone looking to deepen their spiritual journey and cultivate a personal relationship with God.

    h2 88 highlights
    
    p
        a(href="https://www.goodreads.com/notes/61364582-sola-mysterium/42193292-thomas-torfs", title="View highlights on Goodreads", target="_blank") View these highlights on Goodreads

    ul.notes
        li
            strong.progress 5%
            | When you speak of all you know of God – Which is nothing – You speak more of yourself Than of God.   But when you speak Of all you do not know of God – Which is everything – You speak, at last Of the One who transcends knowledge.
        li
            strong.progress 6%
            | “What is fear? Nonacceptance of uncertainty. If we accept that uncertainty it becomes an adventure.” RUMI
        li
            strong.progress 8%
            | we do know that Jesus warned us that “in this life you will have trouble.” So, trouble comes to everyone. We all have to go through hard times, no matter who we are, or how much faith we have, or how spiritual we may be.
        li
            strong.progress 9%
            | The Gospel is not about acquiring knowledge that fills our brain. It’s about encountering a God who fills our heart and transforms our soul from the inside out.
        li
            strong.progress 9%
            | our faith is primarily about how we live, not what we know. Knowing is fine. It’s obviously important. But, without the practice of our faith each day, that faith is worthless.
        li
            strong.progress 9%
            | To know God is to know wonder. To experience God is to become acquainted with awe. To approach God, one must come emptyhanded.
        li
            strong.progress 10%
            | Of course, the real danger of becoming certain about God is that we inevitably end up creating a version of God in our minds that looks and behaves a lot like us. We construct a false image of the Divine that hates the same people we hate and affirms everything we already are. This is not the real God. It’s the one we invent out of thin air. As Henri Rousseau famously observed, “God created man in His own image and then man returned the favor.”
        li
            strong.progress 12%
            | Have you ever found a quiet place, turned off your phone, focused on your breathing, and just spent an hour or so in silence?
        li
            strong.progress 12%
            | When we are quiet, wisdom floods into the empty space. When we simply rest in God’s presence, our spirit begins to resonate at the frequency of the Divine.
        li
            strong.progress 12%
            | our fundamental self is not just inside the skin. It’s everything around us with which we connect.”

        li
            strong.progress 13%
            | Before we can embrace mystery, we must first embrace the truth, which is that, when it comes to God, we know almost nothing about God.
        li
            strong.progress 13%
            | If our primary understanding of God is measured in quantity of information, we must confess that our information is vastly limited. Our finite minds cannot fully comprehend an infinite reality.
        li
            strong.progress 14%
            | we need to learn how to shift our perspective from knowing God informationally to know God experientially. This requires us to become open to encounters with the Divine that inspire ecstasy and defy mere explanation. This, my friends, is where real theology begins.
        li
            strong.progress 15%
            | Simply put, the very best expression of true theology is love. But this can only happen if learn to loosen our grip on certainty and tighten our grip on exploring the implications of loving—God and others—without fear.
        li
            strong.progress 15%
            | Information is about accuracy. Transformation is about growth. Information is about being right. Transformation is about being Christlike.
        li
            strong.progress 15%
            | “The funny thing about my worldview is: no matter how many times it changes, I’m always right!” JOSHUA LAWSON
        li
            strong.progress 16%
            | as Richard Rohr has said, “God is always bigger than the boxes we build for God, so we should not waste too much time protecting our boxes.”
        li
            strong.progress 16%
            | Who we are remains the same, even if what we believe changes.
        li
            strong.progress 17%
            | This, I believe, is why Jesus told us, “Unless you change and become like little children, you will never enter the Kingdom of God.” (Matt. 18:3) This may sound harsh, but it’s not an arbitrary prohibition or rule. It’s more like saying, “If you want to be a lifeguard, you have to learn to swim,”
        li
            strong.progress 20%
            | Buddha: “Consider others as yourself.” (Dhammapada 10:1) Jesus: “Do to others as you would have them do to you.” (Luke 6:31)
        li
            strong.progress 21%
            | Rumi who was a 13th century Persian poet and Sufi mystic who wrote beautiful sayings like these: “Your task is not to seek for love, but merely to seek and find all the barriers within yourself that you have built against it.”
        li
            strong.progress 22%
            | fascinatingly similar sayings to the ones we hear in Christ spoken of in ancient Egyptian proverbs like these: “The Kingdom of Heaven is within you: and whosever shall know himself shall find it.” “Know the world in yourself. Never look for yourself in the world, for this would be to project your illusion.”
        li
            strong.progress 23%
            | God’s voice is everywhere. Signs of God’s presence, and truth are hidden in plain sight for those who have eyes to see and ears to hear.
        li
            strong.progress 25%
            | “If you understand it, it’s not God.” ST. AUGUSTINE
        li
            strong.progress 25%
            | All of our theology falls short. Every doctrine is incomplete.
        li
            strong.progress 34%
            | the question Einstein poses is this: Could the physics of Time somehow be a similar illusion? Could it be that what we see, and even experience, as the passage of Time moving forward from past to present to future, is actually not reality?
        li
            strong.progress 35%
            | Time exists all at once across all possible dimensions of Space. So, Time doesn’t have a particular direction, and there’s no preferred “present” reality. Time is just a dimension, like Space, and we only observe the flow of time in one direction—similar
        li
            strong.progress 35%
            | Time isn’t linear. The Past, the Present, and the Future already exist in one single block. Scientists even refer to this as the “Block Universe” theory for this very reason.
        li
            strong.progress 38%
            | “When you change the way you look at things, the things you look at change” MAX PLANCK, NOBEL PHYSICIST
        li
            strong.progress 41%
            | gratitude, it turns out, is an excellent hack for escaping the negative feedback loops generated by our spiritual deconstruction process.
        li
            strong.progress 41%
            | As researchers from the University of California at Davis recently discovered, subjects who kept a daily journal of things they were grateful for experienced dramatically better results than those in the study who either kept a journal of negative experiences, or wrote about whatever they wanted.
        li
            strong.progress 42%
            | One recent neurological experiment at UCLA used magnetic resonance imaging to measure brain activity as participants experienced gratitude. What they found was “increased activity in the anterior cingulate cortex and medial prefrontal cortex— those areas associated with moral and social cognition, empathy, reward and value judgement.”
        li
            strong.progress 46%
            | As long as we can maintain a loose hold on Truth and allow ourselves to sink deeper into the endless deep of an infinite God, we’re on the right track. But, once we arrive at the solution; once we believe we have achieved our goal, our fascination with the beautiful mystery is done and we begin to shift our energies into defending our rightness and opposing those who disagree with us.
        li
            strong.progress 47%
            | “All of our knowledge brings us nearer to our ignorance.” T.S. ELIOT
        li
            strong.progress 47%
            | What biologist Albert Frank discovered was a fascinating symbiotic relationship between the roots of trees and plants with fungal colonies that grow around them.
        li
            strong.progress 48%
            | roughly 90 percent of all land-based plants are connected to this vast communications network.
        li
            strong.progress 49%
            | In fact, memory is something we recreate in our imaginations and it’s less like a video camera filming reality and more like a Wikipedia page that you—and others—can edit and update over time. That’s right, other people can edit your memories in ways you may not even be aware of.
        li
            strong.progress 52%
            | there is a wider spectrum of light that our eyes cannot see, and a larger range of sound that we cannot hear. It’s all out there; it’s going on all around us, but it’s an aspect of reality that we are largely incapable of experiencing without technological assistance.
        li
            strong.progress 55%
            | The truth, and the world around us, is more wondrous, strange and perplexing than we can possibly imagine: Trees communicate. Memories fluctuate. Reality itself might be something we hallucinate.
        li
            strong.progress 56%
            | Historians have noted a strange phenomenon that some call “The Law of Dual Discovery” or “The Multiple Independent Discovery Effect.’ This is a term used to describe the tendency for certain discoveries to have more than one source, even when separated by thousands of miles, without interaction or communication of any kind.
        li
            strong.progress 57%
            | this theory overlaps quite well with Plato’s ideas of an Ideal Form where all material objects and ideals originate from, and especially with Carl Jung’s concept of the Collective Unconscious and maybe Hegel’s philosophy of the Spirit
        li
            strong.progress 61%
            | according to Quantum Entanglement, individual particles are not truly separate from the whole. In other words: everything is connected.
        li
            strong.progress 61%
            | according to Quantum Physics, observation changes the way particles behave. In other words: consciousness impacts the material world.
        li
            strong.progress 62%
            | suppose all things, including atoms, are made of consciousness, instead! [Therefore, I conclude] the world is made of consciousness. Atoms are made of consciousness.”
        li
            strong.progress 62%
            | It’s not “Why does consciousness arise from matter?” it’s actually, “How does matter arise from consciousness?” Because, without consciousness, there is no matter.
        li
            strong.progress 63%
            | Mystics from all streams of faith throughout the ages have been telling us that the spiritual reality is the only true reality; that consciousness and the Eternal Self goes by many names: Atman (Buddhists), The Great Spirit (Native Americans), Brahman (Hindus), Inner Light (Quakers), etc.
        li
            strong.progress 64%
            | Quantum physics says no. When we are not looking [at an object, its] possibility wave spreads, albeit by a miniscule amount. When we look, the wave collapses instantly; thus the wave could not be in space-time … There is no object in space-time without a conscious subject looking at it … Nothing is outside of consciousness.”
        li
            strong.progress 64%
            | Our brains are quantum systems that constantly observe the outside world. This observation of the world around us literally creates the reality we see and experience.
        li
            strong.progress 65%
            | The truth is, there is no “us and them” or “this and that”, there is only “us” and there is only “this” which is one interconnected reality that cannot be explained, nor denied.
        li
            strong.progress 65%
            | All reality is the result of consciousness. All consciousness is the same consciousness, shared across all conscious reality.
        li
            strong.progress 66%
            | The great Martin Luther King, Jr. used to explain our connectivity with one another like this: “It really boils down to this: that all life is interrelated. We are all caught in an inescapable network of mutuality, tied into a single garment of destiny. Whatever affects one destiny affects all indirectly.”
        li
            strong.progress 66%
            | Separation is an illusion. None of us is, or ever could be, separated from God—the Original Observer who holds us and all reality together. We are quantum beings observing and creating reality all around us. We are children of light who vibrate at the frequency of love and radiate the image of God outward into the universe without end.
        li
            strong.progress 67%
            | In fact, if consciousness creates and upholds reality, then truth can only be known through a deeper awareness of—and connection to—consciousness. This is why silence and meditation are so crucial for our spiritual growth and development process.
        li
            strong.progress 67%
            | When we are still, and when we slow down enough to “know” (ginosko) God, who is pure being and consciousness, we are finally ready to experience the Divine Love of God which “transcends knowledge” (information) and is “wider, and longer, and higher, and deeper” than we know, so that we “may be filled to the measure of the fullness of God.” )Eph. 3:18-19)
        li
            strong.progress 68%
            | Theologians know they are right and defend their certainty. Scientists celebrate being wrong and delight in their ignorance. As scientist and author Carlo Rovelli phrases it, “This permanent doubt, [is] the deep source of science.”
        li
            strong.progress 69%
            | do I have an unconditional love for my beliefs rather than an unconditional love for a God that defies my Theology?
        li
            strong.progress 70%
            | “Who you are should be a question of what you value, not what you believe.”
        li
            strong.progress 72%
            | Ralph Waldo Emerson said, “The mind, once stretched by a new idea, never returns to its original dimensions.”
        li
            strong.progress 72%
            | What I’ve learned about this process is this: I have been wrong before, and I am probably wrong about something now, and I will, no doubt, be wrong again in the future.
        li
            strong.progress 73%
            | Being wrong isn’t anything to be ashamed of. It’s simply the way we make progress on this journey into the deeper mystery of God. My personal identity is not defined by what I believe. It’s defined by who I am;
        li
            strong.progress 74%
            | “The secret of change is to focus all your energy, not on fighting the old, but on building the new.” SOCRATES
        li
            strong.progress 74%
            | the unconscious seems to be conscious of all things all of the time. It never sleeps. That is to say, it is our conscious self that is unconscious of our unconsciousness, and the unconscious that is conscious—we have the two terms backwards … So, when we speak of unconscious perception, we are speaking of events that we perceive but that we are not aware of perceiving.”
        li
            strong.progress 77%
            | This fear and doubt that we’ve been conditioned to accept is intended to prevent us from seeking God directly. Those who perpetuate this myth have a vested interest in making sure you keep coming back to them for answers and wisdom. Once you realize you can hear God’s voice yourself, those people are out of a job, or at least their role, position and authority is diminished.
        li
            strong.progress 78%
            | Here’s a quick test: If you’re sensing an impulse to bless someone else, or to show kindness to a stranger, or to share something, or give something, or speak encouragement to someone, or anything that isn’t directly harmful or painful, go with that.
        li
            strong.progress 78%
            | Who cares if it’s officially from God or not? What matters is loving others as Christ has loved us. If it’s our idea, great! That means we’re starting to learn to follow Christ without requiring constant instructions to do so.
        li
            strong.progress 78%
            | the fact is that there have been several hundred of Christian mystics over the last 2,000 years who have encountered God by entering into silent meditation to receive profound spiritual insights that many of us love to quote, without taking the time to seek God in meditation ourselves.
        li
            strong.progress 79%
            | To hear that call and respond to it, we need silence … Silence is essential. We need silence, just as much as we need air, and just as much as plants need light. If our minds are crowded with words or thoughts, there is no space for us.”
        li
            strong.progress 79%
            | Physiologically speaking, meditations calms our mind, relaxes our body, reduces our stress levels and activates the pituitary gland which releases oxytocin, dopamine, relaxin, serotonin and endorphins into your bloodstream which brings your entire body and mind into a place of profound peace and well-being.
        li
            strong.progress 79%
            | Religion is the ultimate expression of dualism. It’s what teaches us to look at everything through a binary lens where we can only see good or bad, right or wrong, darkness and light, etc.
        li
            strong.progress 79%
            | Meditation can help us rewire our brains in a way that allows us to take off those binary lenses. It can help us to see ourselves and others, as we really are.
        li
            strong.progress 80%
            | Just observe your thoughts as they flow into your mind and then allow them to pass out of your mind at their own pace.
        li
            strong.progress 80%
            | You are not your thoughts. You are not your feelings. Who you are, deep down, is the one who is observing those thoughts and feelings like someone in a movie theater watching actors on the screen.
        li
            strong.progress 82%
            | Christ said the Truth would set us free, not bind us in the chains of ignorance. Thinking for ourselves, and trusting our own ability to discern truth, is essential for spiritual growth and development.
        li
            strong.progress 84%
            | Faith is not about knowing information. It’s about admitting that we are in direct connection with a Being of such exceptional splendor that no one could ever possibly know—in an intellectual sense— almost anything at all. God is a mystery to be explored, not a doctrine to be memorized.
        li
            strong.progress 88%
            | Is it a coincidence that the bronchial tubes in our lungs resemble the shape of branches in trees? Or that trees create oxygen that we breathe through our lungs which, in turn, creates carbon dioxide that trees and other plants need to survive? Is it merely a coincidence that the neurons in our brain resemble the structure of galaxies in our universe? Or that the blood vessels in our eyes are nearly identical to the veins in leaves? Or that the death of a star in outer space mimics the motion of a cell’s birth?
        li
            strong.progress 89%
            | The fact is, while the human body contains nearly 100 Trillion cells, only one in 10 of those cells is actually human. The other 90 percent of the cells in your body are bacteria, viruses and other microscopic organisms.
        li
            strong.progress 89%
            | This symbiotic communication system allows these microbial ecosystems to work in harmony together with our own cells to ensure everything runs smoothly. But why? Perhaps because our bodies are what keep those fragile ecosystems alive. Without us, those trillions of living organisms would cease to exist. Our survival is their survival.
        li
            strong.progress 90%
            | The fabric of the universe and all reality is woven together with threads of infinite mystery. The only way to even begin our wondrous journey into the unknown depths of Divine mystery is to let go of what we think we know.
        li
            strong.progress 91%
            | “Judge a man by his questions, rather than his answers.” VOLTAIRE

        li
            strong.progress 92%
            | I made a lot of mistakes, of course, but the one thing I learned from all of it was simply this: Never place any pastor, teacher, minister or guru on a pedestal again.
        li
            strong.progress 93%
            | if we’re honest, the Christian Church, led by Christian leaders through the ages has gotten it wrong on almost everything: Slavery, Patriarchy, Genocide, Sexuality, Nationalism, Tribalism, Xenophobia, Torture, etc.
        li
            strong.progress 93%
            | Our old ways of thinking and knowing led us into more darkness, away from the Light of Truth that was always shining brightly within us. We cannot afford to allow other people to think for us, or to tell us what to believe.
        li
            strong.progress 94%
            | “Be still and know” is perhaps the deepest wisdom we have yet to practice.
        li
            strong.progress 94%
            | See, I’m used to dispensing the truth. I’ve spent a long time creating the illusion that I have all the answers. But, I’m tired of pretending. The truth is, what I know about God is very little. That’s why I honestly urge you not to make me your guru. Or anyone else.
        li
            strong.progress 95%
            | Learn to be still. Learn to listen. Learn to trust your own ability to hear that voice for yourself. Don’t keep asking others for advice. Stop following me, or anyone else. You all have an inner guru living inside.
        li
            strong.progress 96%
            | developing our sense of mystery: “It makes us curious rather than judgmental. It makes us collaborative. It makes us humble, sharing and altruistic. It quiets the ego so that you’re not thinking about yourself as much.”
        li
            strong.progress 98%
            | Knowing God is about so much more than gathering information. For most of us, if we stopped learning now, we wouldn’t live long enough to put into practice all that we already know. And that’s the point, isn’t it?
        li
            strong.progress 99%
            | Who knows where this curiosity will take you? Only you—and God—can say what’s next. This is your next big adventure. This is the great unknown that awaits you. This is the Sola Mysterium.
