---
title: 'The Prophet'
description: 'A masterpiece filled with metaphorical poetry'
author: 'Kahlil Gibran | Désanne van Brederode'
publishingDate: '2022'
score: 5
date: '2022-12-22'
dateFull: '22 December 2022'
image: 'views/reading/assets/the-prophet/hero.jpg'
imageBook: 'views/reading/assets/the-prophet/cover-the-prophet.jpg'
imageDest: 'reading/the-prophet'
_content: false
---

extends ../_includes/layout-reading

block header-vars
    - var title = 'The Prophet'
    - var description = 'A masterpiece filled with metaphorical poetry'
    - var score = 5

block vars
    - var imgDir = 'views/reading/assets/the-prophet/'
    - var imgBook = 'views/reading/assets/the-prophet/cover-the-prophet.jpg'
    - var imgDest = 'reading/the-prophet'
    - var imgHeader = imgDir + 'hero.jpg'
    - var imgCaption = 'Photo by Faruk Kaymak'

block header
    h1 #{title}
    h2 #{description}
    p 2022 Kahlil Gibran | Désanne van Brederode
    +star-rating(score)

block content
    h2 True beauty with an even more beautiful ending

    p This book is a masterpiece filled with metaphorical poetry. It holds many wonderful insights. I received the Dutch translation as a gift. Funny thing is, the final chapter, written by the translator puts the reader's feet back on the ground. Yes, the book is a masterpiece, but the idea you may have of the spiritual American-Arabic writer may be different from who he was in reality. For example, Gibran lived in Boston since he was 12 and eventually left the world as an alcoholic. 
    
    p The translator, Désanne van Brederode, writes about her own life and her experience growing up in a new-age environment where the search for spirituality was colored by glimpses of hypocrisy. At the same time, she explains how true spirituality was found in corners where you would least expect it. This, in my opinion, was the most beautiful and eye-opening concluding chapter of any spiritual book I've read to date.

    h2 Details

    ul
        li Paperback:‎ 64 pages
        li E-book: 89 pages
        li ISBN-10:‎ 1441338365
        li ISBN-13:‎ 978-1441338365
        li
            a(href='https://www.amazon.com/Prophet-Kahlil-Gibran/dp/1441338365', title='Buy #{title} at Amazon', target='_blank') Buy #{title} at Amazon
        li
            a(href='https://www.thriftbooks.com/w/the-prophet/28883093/item/#edition=60027851&idiq=53938189', title='Buy #{title} at Thriftbooks', target='_blank') Buy #{title} at Thriftbooks
        li
            a(href='https://www.betterworldbooks.com/product/detail/the-prophet-9781441338365', title='Buy #{title} at BetterWorldBooks', target='_blank') Buy #{title} at BetterWorldBooks
