---
title: 'The Dhammapada'
description: 'The most important Buddhist scriptures'
author: 'Siddhartha Gautama | Eknath Easwaran and Juan Mascaró'
publishingDate: '300 BCE | 2007'
score: 5
date: '2022-03-04'
dateFull: '4 March 2022'
image: 'views/reading/assets/the-dhammapada/hero.jpg'
imageBook: 'views/reading/assets/the-dhammapada/cover-the-dhammapada.jpg'
imageDest: 'reading/the-dhammapada'
_content: false
---

extends ../_includes/layout-reading

block header-vars
    - var title = 'The Dhammapada'
    - var description = 'The most important Buddhist scriptures'
    - var score = 5
    - var dateFull = '4 March 2022'

block vars
    - var imgDir = 'views/reading/assets/the-dhammapada/'
    - var imgBook = 'views/reading/assets/the-dhammapada/cover-the-dhammapada.jpg'
    - var imgDest = 'reading/the-dhammapada'
    - var imgHeader = imgDir + 'hero.jpg'
    - var imgCaption = 'Photo by Jamie Street'

block header
    h1 #{title}
    h2 #{description}
    p 300 BCE Siddhartha Gautama | 2007 Eknath Easwaran and Juan Mascaró
    +star-rating(score)

block content
    .header
        h2 The ultimate guide to self-realization
        p #{dateFull}

    p When you start reading The Dhammapada, you are not only introduced to the holy scriptures, but also to the truly impressive life of Siddharta Guatama. The book starts by engulfing you with a mesmerizing storyline, only to continue with fantastic explanations of the scriptures themselves. Each chapter prepares you for the more symbolic texts that follow. It truly helps you to understand the deeper meaning.

    p Again, this is an absolute must-read for people that want to follow the right path in life.

    h2 Details

    ul
        li Paperback:‎ 275 pages
        li E-book: 150 pages
        li ISBN-10:‎ 1586380206
        li ISBN-13:‎ 978-1586380205

    h2 Where to buy?

    ul
        li
            a(href='https://bookshop.org/books/the-dhammapada-9781586380205/9781586380205', title='Buy #{title} at The Bookshop.org', target='_blank') Buy #{title} at The Bookshop.org
        li
            a(href='https://www.betterworldbooks.com/product/detail/Dhammapada-9781586380205', title='Buy #{title} at BetterWorldBooks', target='_blank') Buy #{title} at BetterWorldBooks
        li
            a(href='https://www.amazon.com/Dhammapada-Easwarans-Classics-Indian-Spirituality/dp/1586380206/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1647099718&sr=8-1', title='Buy #{title} at Amazon', target='_blank') Buy #{title} at Amazon
            
    h2 Summary

    p "The Dhammapada" is a collection of sayings of the Buddha, compiled by his followers in the Pali language. Eknath Easwaran's translation of this classic Buddhist text offers a clear, modern English interpretation of the Buddha's teachings. The book is divided into 26 chapters, each addressing a different theme, such as mindfulness, morality, and happiness. The verses in "The Dhammapada" provide guidance for living a virtuous life, cultivating inner peace, and ultimately attaining enlightenment.
    
    p Important Learnings and Insights:

    ol
        li <strong>Mindfulness and Self-Mastery</strong><br />The Dhammapada emphasizes the importance of cultivating mindfulness and self-mastery to overcome suffering and attain inner peace. By being aware of our thoughts and actions, we can direct our lives towards greater wisdom and compassion.
        li <strong>The Law of Karma</strong><br />The Buddha teaches that actions have consequences, whether positive or negative. Our past actions determine our present circumstances, and our present actions shape our future experiences. Understanding the law of karma encourages us to make skillful choices that lead to positive outcomes.
        li <strong>Impermanence</strong><br />All things in life are impermanent, including our own existence. Recognizing the impermanence of life can lead to a greater appreciation of the present moment and a deeper understanding of the nature of suffering.
        li <strong>The Middle Way</strong><br />The Buddha advises us to follow the Middle Way, a path of moderation that avoids the extremes of indulgence and self-denial. This balanced approach to life can help us cultivate mental clarity and equanimity.
        li <strong>The Four Noble Truths</strong><br />The Dhammapada introduces the Four Noble Truths, which are the core of the Buddha's teachings</strong><br />the truth of suffering, the truth of the cause of suffering, the truth of the end of suffering, and the truth of the path that leads to the end of suffering. Understanding and practicing these truths can lead to the cessation of suffering and the attainment of enlightenment.
        li <strong>The Eightfold Path</strong><br />The Dhammapada outlines the Eightfold Path, a set of guidelines for ethical living and spiritual development. The path consists of right understanding, right intention, right speech, right action, right livelihood, right effort, right mindfulness, and right concentration. Practicing the Eightfold Path can lead to the end of suffering and the attainment of enlightenment.
        li <strong>Compassion and Loving-kindness</strong><br />The Buddha teaches that compassion and loving-kindness are essential qualities for spiritual growth. By cultivating these qualities, we can reduce suffering and create harmony in our lives and the world around us.
        li <strong>The Value of Meditation</strong><br />The Dhammapada highlights the importance of meditation as a means of cultivating mindfulness, concentration, and insight. Regular meditation practice can lead to profound spiritual development and ultimately, enlightenment.
        li <strong>The Illusion of Self</strong><br />The Buddha teaches that the idea of a permanent, unchanging self is an illusion. By recognizing the interdependence and interconnectedness of all things, we can develop a deeper understanding of the nature of reality and reduce our attachment to the false concept of self.
        li <strong>The Goal of Enlightenment</strong><br />The ultimate goal of the Buddha's teachings is to attain enlightenment, a state of perfect wisdom and compassion that transcends the cycle of birth and death. By following the teachings in The Dhammapada, we can progress on the path towards this ultimate goal.
    
    p In conclusion, "The Dhammapada" is a timeless guide to Buddhist wisdom and ethics that offers practical teachings for living a meaningful and fulfilling life. By cultivating mindfulness, compassion, and self-mastery, and following the path of the Eightfold Path, we can overcome suffering and attain inner peace and enlightenment. The book's emphasis on impermanence, the law of karma, and the illusion of self provides a powerful framework for understanding the nature of reality and the human experience. Overall, "The Dhammapada" is a valuable resource for anyone seeking guidance on the path towards spiritual growth and self-discovery.
    
    h2 149 significant notes
    
    p
        a(href="https://www.goodreads.com/notes/12020706-the-dhammapada/42193292-thomas-torfs?ref=abp", title="View notes on Goodreads", target="_blank") View these notes on Goodreads
    
    ul.notes
        li
            strong.progress 2%
            | If the Upanishads are like slides, the Dhammapada seems more like a field guide.
        li
            strong.progress 2%
            | And the third of these classics, the Bhagavad Gita, gives us a map and guidebook. It gives a systematic overview of the territory, shows various approaches to the summit with their benefits and pitfalls, offers recommendations, tells us what to pack and what to leave behind. More than either of the others, it gives the sense of a personal guide. It asks and answers the questions that you or I might ask – questions not about philosophy or mysticism, but about how to live effectively in a world of challenge and change.
        li
            strong.progress 3%
            | if everything else were lost, we would need nothing more than the Dhammapada to follow the way of the Buddha.
        li
            strong.progress 3%
            | the Dhammapada is a sure guide to nothing less than the highest goal life can offer: Self-realization.
        li
            strong.progress 3%
            | the Rig Veda, whose oldest hymns go back at least to 1500 B.C.
        li
            strong.progress 4%
            | We are what our deep, driving desire is. As our deep, driving desire is, so is our will. As our will is, so is our deed. As our deed is, so is our destiny.
        li
            strong.progress 5%
            | The method these sages followed in their pursuit of truth was called brahmavidya, the “supreme science,” a discipline in which attention is focused intensely on the contents of consciousness. In practice this means meditation.
        li
            strong.progress 5%
            | the sages of the Upanishads took a different track from conventional science. They looked not at the world outside, but at human knowledge of the world outside. They sought invariants in the contents of consciousness and discarded everything impermanent as ultimately unreal, in the way that the sensations of a dream are seen to be unreal when one awakens.
        li
            strong.progress 5%
            | when everything individual was stripped away, an intense awareness remained: consciousness itself. The sages called this ultimate ground of personality atman, the Self.
        li
            strong.progress 5%
            | An ancient saying declares that ahimsa paramo dharma: the essence of dharma, the highest law of life, is to do no harm to any living creature.
        li
            strong.progress 5%
            | the world capricious. Nothing in it happens by chance – not because events are predestined, but because everything is connected by cause and effect. Thoughts are included
        li
            strong.progress 6%
            | karma and pain. In this view, no divine agency is needed to punish or reward us; we punish and reward ourselves. This was not regarded as a tenet of religion but as a law of nature, as universal as the law of gravity.
        li
            strong.progress 6%
            | For the Upanishadic sages, however, the books of karma could only be cleared within the natural world. Unpaid karmic debts and unfulfilled desires do not vanish when the physical body dies. They are forces which remain in the universe to quicken life again at the moment of conception when conditions are right for past karma to be fulfilled.
        li
            strong.progress 6%
            | at death the mind is the sum of everything we have done and everything we still desire to do. That sum of forces has karma to reap, and when the right context comes – the right parents, the right society, the right epoch – the bundle of energy that is the germ of personality is born again.
        li
            strong.progress 6%
            | moksha, freedom from the delusion of separateness; yoga, complete integration of consciousness; nirvana, the extinction of the sense of a separate ego.
        li
            strong.progress 7%
            | The sixth century B.C. was a time of creative spiritual upheaval in most of the major civilizations of antiquity. Within a hundred years on either side we have Confucius in China, Zoroaster in Persia, the pre-Socratic philosophers of ancient Greece, and the later prophets of Israel.
        li
            strong.progress 7%
            | The encounter between India and Greece when Alexander the Great reached the Indus river, 326 B.C., invites comparison between these two civilizations and gives us in the West a familiar benchmark.
        li
            strong.progress 7%
            | India, with its decimal system and the potent creation of zero, dominated mathematics as Greece did geometry, and in medicine and surgery both led the ancient world.
        li
            strong.progress 7%
            | It is probably no coincidence that the Buddha, whose language is occasionally that of a physician, arose in a land with the world’s greatest medical schools.
        li
            strong.progress 8%
            | the Buddha, though he broke with the rituals and authority of the Vedas, stands squarely in the tradition of the Upanishads.
        li
            strong.progress 8%
            | Siddhartha Gautama was born around 563 B.C., the son of a king called Shuddhodana who ruled the lands of the Shakya clan at the foot of the Himalayas, along what is today the border between India and Nepal.
        li
            strong.progress 10%
            | “Everything is change,” he thought; “each moment comes and goes. Is there nothing more, nothing to the future but decline and death?”
        li
            strong.progress 13%
            | In a world of sleepwalkers, how many would listen to someone returning from a world they would probably never see, coming to say that love always begets love and violence only breeds more violence?
        li
            strong.progress 13%
            | Everyone desires an end to suffering and sorrow. To those who will listen, I will teach the dharma, and for those who follow it, the dharma itself will set them free.”
        li
            strong.progress 13%
            | people gathered about him and asked, “Are you a god?” “No.” “Are you an angel?” “No.” “What are you then?” The Buddha smiled and answered simply, “I am awake”
        li
            strong.progress 13%
            | the literal meaning of the word buddha, from the Sanskrit root budh, to wake up.
        li
            strong.progress 13%
            | “The First Truth, brothers, is the fact of suffering. All desire happiness, sukha: what is good, pleasant, right, permanent, joyful, harmonious, satisfying, at ease. Yet all find that life brings duhkha, just the opposite: frustration, dissatisfaction, incompleteness, suffering, sorrow. Life is change, and change can never satisfy desire. Therefore everything that changes brings suffering.
        li
            strong.progress 14%
            | “The Second Truth is the cause of suffering. It is not life that brings sorrow, but the demands we make on life. The cause of duhkha is selfish desire: trishna, the thirst to have what one wants and to get one’s own way. Thinking life can make them happy by bringing what they want, people run after the satisfaction of their desires. But they get only unhappiness, because selfishness can only bring sorrow.
        li
            strong.progress 14%
            | “There is a Third Truth, brothers. Any ailment that can be understood can be cured, and suffering that has a cause has also an end. When the fires of selfishness have been extinguished, when the mind is free of selfish desire, what remains is the state of wakefulness, of peace, of joy, of perfect health, called nirvana.
        li
            strong.progress 14%
            | “The Fourth Truth, brothers, is that selfishness can be extinguished by following an eightfold path: right understanding, right purpose, right speech, right conduct, right occupation, right effort, right attention, and right meditation. If dharma is a wheel, these eight are its spokes.
        li
            strong.progress 14%
            | deal with the mind. Everything depends on mind. Our life is shaped by our mind; we become what we think. Suffering follows an evil thought as the wheels of a cart follow the oxen that draw it. Joy follows a pure thought like a shadow that never leaves.
        li
            strong.progress 15%
            | “Right meditation is the means of training the mind. As rain seeps through an ill-thatched hut, selfish passion will seep through an untrained mind. Train your mind through meditation. Selfish passions will not enter, and your mind will grow calm and kind.
        li
            strong.progress 17%
            | There is no need to take to the monastic life, he told them, in order to follow dharma. All the disciplines of the Eightfold Path, including meditation, can be followed by householders if they do their best to give up selfish attachment.
        li
            strong.progress 17%
            | “Every human being has the capacity to overcome suffering.”
        li
            strong.progress 21%
            | first meditative state, where the mind, though not quite free from divided and diffuse thought, experiences lasting joy.
        li
            strong.progress 21%
            | second meditative state quite free from any wave of thought,
        li
            strong.progress 21%
            | third meditative state, becoming conscious in the very depths of the unconscious.
        li
            strong.progress 21%
            | fourth meditative state, utterly beyond the reach of thought,
        li
            strong.progress 22%
            | Throughout the first dhyana the centrifugal force of the thinking process is gradually absorbed as attention is recalled.
        li
            strong.progress 23%
            | To descend through the personal unconscious, we need concentration that cannot be broken by any sensory attraction or emotional response – in a word, mastery over our senses and our likes and dislikes.
        li
            strong.progress 23%
            | The concentration it requires will bring success in any field, along with a deep sense of well-being, security, and a quiet joy in living.
        li
            strong.progress 24%
            | The thinking process is slowed until you can almost see each thought pass by, yet instead of one thought following another without rhyme or reason, the mind has such power that the focus of concentration is not disturbed.
        li
            strong.progress 24%
            | A thought is like a wave in consciousness; between two thoughts there is no movement in the mind at all. Consciousness itself is like a still lake, clear, calm, and full of joy.
        li
            strong.progress 25%
            | There must be no taint of “I” or “mine” in what you do, no self-interest, only your best effort to see yourself in all. One way to explain this is that karma has to be cleared before you can cross the wall.
        li
            strong.progress 25%
            | Beyond this, words are useless. Time stops with the mind, and many physiological processes are almost suspended. But there is an intense, unbroken flood of joy to which even the body and nervous system respond.
        li
            strong.progress 26%
            | In the third dhyana the conditioned instincts of the mind are stilled but not destroyed.
        li
            strong.progress 27%
            | Each moment is now, and it is the succession of such moments that creates the sense of time.
        li
            strong.progress 27%
            | The mind is the thoughts, and only the speed of thinking creates the illusion that there is something continuous and substantial.
        li
            strong.progress 27%
            | That is how the Buddha describes personality: a blend of five skandhas or “heaps” of ingredients like these piles of spices in their banana-leaf wrapper. These ingredients are rupa, form, vedana, sensation or feeling, samjna, perception, samskara, the forces or impulses of the mind, and vijnana, consciousness. Without reference to an individual self or soul, the Buddha says that birth is the coming together of these aggregates; death is their breaking apart.
        li
            strong.progress 28%
            | The Sanskrit name for this is samskara, which means literally “that which is intensely done.”
        li
            strong.progress 28%
            | We can think of samskaras as grooves of conditioning, compulsive desires.
        li
            strong.progress 28%
            | Whatever the label, if we act on a samskara it becomes stronger. The conditioning is reinforced, making it more likely that we will act on that samskara the next time. Samskaras are the key to character, but their root is deep below the level of conscious awareness.
        li
            strong.progress 28%
            | The last skandha is vijnana, “consciousness”: the appropriation of each unit of experience to the mass of conditioning formed by the experiences of the past. Vijnana is like a river, carrying the accumulated karma of all previous thought and action.
        li
            strong.progress 29%
            | We don’t really experience the world, he observes; we experience constructs in the mind made up of information from the senses.
        li
            strong.progress 29%
            | There is no self in such events, and no real distinction between observer and observed.
        li
            strong.progress 29%
            | We have to be very careful of misunderstanding here, for the Buddha is not saying that the physical world is a figment of imagination.
        li
            strong.progress 30%
            | What the Buddha is telling us is precisely parallel to what the quantum physicists say: when we examine the universe closely, it dissolves into discontinuity and a flux of fields of energy. But in the Buddha’s universe the mind-matter duality is gone; these are fields in consciousness.
        li
            strong.progress 30%
            | In profound meditation, one goes beyond sensory appearance and eventually beyond the very structure of the phenomenal world: time, space, causality. Time stops; there is only the present moment. Then everything is pure energy, a sea of light.
        li
            strong.progress 30%
            | My relationship with you is not with you as you see yourself, but with you as I see you: a waxworks creation in my mind. As a result, two people can share the same house and literally live in different worlds.
        li
            strong.progress 30%
            | Both, of course, were describing the same land. “We see as we are,” and our foreign policy follows what we see. Those who see themselves surrounded by a hostile world preparing for war tend to make that vision a reality.
        li
            strong.progress 31%
            | Little by little, too, we change the world we live in. Even the grand earthshaking events of history have their origins in individual thought.
        li
            strong.progress 31%
            | Karma is stored in the mind.
        li
            strong.progress 31%
            | “Fly in the sky, burrow in the ground,” says the Buddha, “you cannot escape the consequences of your actions.” You can run, but you cannot hide.
        li
            strong.progress 32%
            | From this root ignorance arises trishna, the insistent craving for personal satisfaction. From trishna comes duhkha, the frustration and suffering that are the human condition.
        li
            strong.progress 32%
            | We want to gratify a process with a process. The ego cannot be satisfied, and the more we try, the more we suffer.
        li
            strong.progress 33%
            | When the mind is stilled, the appearance of change and separateness vanishes and nirvana remains.
        li
            strong.progress 33%
            | Nirvana is aroga, freedom from all illness; shiva, happiness; kshema, security; abhaya, the absence of fear; shanta, peace of mind; anashrava, freedom from compulsions; ajara, untouched by age; amata, unaffected by death. It is, in sum, parama sukha, the highest joy.
        li
            strong.progress 33%
            | “As irrigators lead water to their fields, as archers make their arrows straight, as carpenters carve wood, the wise shape their lives.”
        li
            strong.progress 33%
            | Buddhist scriptures are divided into three pitakas or “baskets.” By far the largest and most important of these is the Sutra Pitaka (in Pali, Sutta Pittaka) or “basket of discourses,” which consists mostly of talks by the Buddha or one of his direct disciples. The Dhammapada, though not considered a sutra, is included in this collection.
        li
            strong.progress 34%
            | Every reader knows that one book which becomes part of one’s life means more than a thousand others. The Dhammapada was meant as such a book,
        li
            strong.progress 34%
            | in the long run, the sweet and easy way leads to more suffering; the hard way, to nirvana.
        li
            strong.progress 35%
            | Even in the Dhammapada – that is, even for his lay followers – the Buddha emphasizes the practice of meditation above all else.
        li
            strong.progress 35%
            | For hatred can never put an end to hatred; love alone can. This is an unalterable law. 6 People forget that their lives will end soon. For those who remember, quarrels come to an end.
        li
            strong.progress 36%
            | Those who recite many scriptures but fail to practice their teachings are like a cowherd counting another’s cows. They do not share in the joys of the spiritual life. 20 But those who know few scriptures yet practice their teachings, overcoming all lust, hatred, and delusion, live with a pure mind in the highest wisdom. They stand without external supports and share in the joys of the spiritual life.
        li
            strong.progress 36%
            | 26The immature lose their vigilance, but the wise guard it as their greatest treasure. 27 Do not fall into ways of sloth and lust. Those who meditate earnestly attain the highest happiness.
        li
            strong.progress 37%
            | meditation is a battle and this arrow is “the weapon of wisdom”
        li
            strong.progress 38%
            | an undisciplined mind not only cannot be relied on, it cannot avoid doing harm.
        li
            strong.progress 38%
            | Hard it is to train the mind, which goes where it likes and does what it wants. But a trained mind brings health and happiness. 36 The wise can direct their thoughts, subtle and elusive, wherever they choose: a trained mind brings health and happiness.
        li
            strong.progress 39%
            | Remember, this body is like a fragile clay pot. Make your mind a fortress and conquer Mara with the weapon of wisdom. Guard your conquest always. 41 Remember that this body will soon lie in the earth without life, without value, useless as a burned log.
        li
            strong.progress 39%
            | More than those who hate you, more than all your enemies, an undisciplined mind does greater harm. 43 More than your mother, more than your father, more than all your family, a well-disciplined mind does greater good.
        li
            strong.progress 39%
            | Do not give your attention to what others do or fail to do; give it to what you do or fail to do.
        li
            strong.progress 40%
            | there are two kinds of immature people: those who do not see their own mistakes as mistakes, and those who do not forgive mistakes committed by someone else.
        li
            strong.progress 40%
            | samsara in verse 60, which refers to the cycle of birth and death, means literally “that which is moving intensely,”
        li
            strong.progress 40%
            | if those who are immature have enough self-knowledge to realize that they are immature, that is the beginning of wisdom
        li
            strong.progress 40%
            | “All the effort must be made by you,” he says in a later verse (276). “Buddhas only show the way.”
        li
            strong.progress 40%
            | “seven fields of enlightenment”: mindfulness, vigor, joy, serenity, concentration, equanimity, and “penetration of dharma”
        li
            strong.progress 41%
            | Bodhi is not nirvana. It is a temporary stilling of the mind,
        li
            strong.progress 41%
            | The immature go after false prestige – precedence of fellow monks, power in the monasteries, and praise from all.
        li
            strong.progress 42%
            | If you see someone wise, who can steer you away from the wrong path, follow that person as you would one who can reveal hidden treasures. Only good can come out of it.
        li
            strong.progress 42%
            | As a solid rock cannot be moved by the wind, the wise are not shaken by praise or blame. 82 When they listen to the words of the dharma, their minds become calm and clear like the waters of a still lake.
        li
            strong.progress 42%
            | An arhant is that person who, having developed the fullness of humanity by attaining nirvana, now truly deserves to be called a human being.
        li
            strong.progress 42%
            | If life is conceived of as a school where all are training for full spiritual development, the arhant is the graduate.
        li
            strong.progress 43%
            | After a good deal of arduous effort, generally over many lives, the aspirant becomes a “once-returner” (sakridagamin), one who has sighted the other shore of nirvana but not yet reached it. For such a person, the crossing can be completed in just one more life.
        li
            strong.progress 43%
            | Those who finally reach the other shore become a “never-returner” (anagamin).
        li
            strong.progress 45%
            | reward and punishment issue from the self-fulfilling law of karma, which permeates every aspect of the Buddha’s teachings.
        li
            strong.progress 45%
            | any physical law, the law of karma operates everywhere and at every moment. It is totally impersonal, requiring no agency other than ourselves.
        li
            strong.progress 46%
            | It is impossible to escape the karmic result of action no matter where we may try (127). The karma must return in kind, whether good or bad, even though it may take time for the right circumstances to come around
        li
            strong.progress 46%
            | a large part of our experience is simply the mechanical return of the karma our previous actions have accumulated.
        li
            strong.progress 46%
            | If we continue to commit a mistake – say, an outburst of anger – each repetition makes it easier to make the same mistake again, so that gradually anger becomes part of our character.
        li
            strong.progress 46%
            | In a very real way, we are what our samskaras are: as the network of choice-pathways in us, they constitute the karmic legacy of all our previous choices.
        li
            strong.progress 47%
            | If you harm a pure and innocent person, you harm yourself, as dust thrown against the wind comes back to the thrower.
        li
            strong.progress 48%
            | a well-trained mind needs no prodding from the world to be good.
        li
            strong.progress 50%
            | very basis of the Hindu faith: that at the core of every creature is a divine Self (Atman) which is not different from the transcendent reality (Brahman) and is therefore utterly beyond the world of change and death.
        li
            strong.progress 50%
            | Depending on the context, the Sanskrit word atman can mean self in the conventional sense of “myself” and “yourself,” or it can refer to the transcendent Self of the Upanishads.
        li
            strong.progress 50%
            | the Buddha prompts us to plunge deep in meditation and see for ourselves what we discover.
        li
            strong.progress 51%
            | the human will, the only self worthy of strengthening and cultivation.
        li
            strong.progress 51%
            | 158Learn what is right; then teach others, as the wise do.
        li
            strong.progress 51%
            | Before trying to guide others, be your own guide first. It is hard to learn to guide oneself.
        li
            strong.progress 52%
            | Don’t follow wrong laws; don’t be thoughtless; don’t believe false doctrines. Don’t follow the way of the world.
        li
            strong.progress 53%
            | infinite compassion, unqualified good will for all creatures in all circumstances.
        li
            strong.progress 54%
            | body, Buddhists would say, the nirmanakaya
        li
            strong.progress 54%
            | second form: the sambhogakaya, literally the “body of intense joy,”
        li
            strong.progress 54%
            | Third and most abstract of the Buddha’s forms is the dharmakaya, the “body of dharma.”
        li
            strong.progress 55%
            | Do not find fault with others, do not injure others, but live in accordance with the dharma. Be moderate in eating and sleeping, and meditate on the highest. This sums up the teaching of the Buddhas.
        li
            strong.progress 56%
            | To try to hold on to anything – a thing, a person, an event, a position – merely exposes us to its loss. Anything that changes, the Buddha concluded, anything in our experience that consists of or is conditioned by component sensations – the Buddha’s word was samskaras – produces sorrow, not joy.
        li
            strong.progress 56%
            | duhkha from duh, a prefix meaning something wrong or evil, and kha, empty space.
        li
            strong.progress 56%
            | Once we know for certain what cannot give joy, we are ready for nirvana, the highest joy (203).
        li
            strong.progress 56%
            | When the mind is stilled through meditation, one drinks the joy of dharma, which lies beyond the scope of anything conditioned (205).
        li
            strong.progress 57%
            | Conquest breeds hatred, for the conquered live in sorrow. Let us be neither conqueror nor conquered, and live in peace and joy.
        li
            strong.progress 58%
            | we never really experience the world; we experience only our own nervous system.
        li
            strong.progress 58%
            | All the dualities of human experience – pleasure and displeasure, praise and blame, success and defeat – produce suffering if we cannot face them with equanimity:
        li
            strong.progress 59%
            | Selfish desires give rise to anxiety; selfish desires give rise to fear. Be unselfish, and you will be free from anxiety and fear.
        li
            strong.progress 60%
            | Give up anger, give up pride, and free yourself from worldly bondage. No sorrow can befall those who never try to possess people and things as their own.
        li
            strong.progress 60%
            | Injuring no one, self-controlled, the wise enter the state of peace beyond all sorrow.
        li
            strong.progress 61%
            | three basic kinds of impurity: greed, hatred, and infatuation.
        li
            strong.progress 61%
            | If we do nothing to remove impurities from our character, the habits they foster will grow stronger. Eventually they cannot help outstripping our will,
        li
            strong.progress 62%
            | Resentment and fixation on others’ faults is a perfect example of how a heady ashrava can brew in the unconscious until a person reels under its influence, losing control whenever a situation or person provokes him.
        li
            strong.progress 62%
            | Light the lamp within; strive hard to attain wisdom. Become pure and innocent, and live in the world of light.
        li
            strong.progress 62%
            | Make your mind pure as a silversmith blows away the impurities of silver, little by little, instant by instant.
        li
            strong.progress 63%
            | But when one keeps dwelling on the faults of others, his own compulsions grow worse, making it harder to overcome them.
        li
            strong.progress 64%
            | One is not noble who injures living creatures. They are noble who hurt no one.
        li
            strong.progress 66%
            | Guard your thoughts, words, and deeds. These three disciplines will speed you along the path to pure wisdom.
        li
            strong.progress 66%
            | Meditation brings wisdom; lack of meditation leaves ignorance. Know well what leads you forward and what holds you back, and choose the path that leads to wisdom.
        li
            strong.progress 67%
            | Don’t try to build your happiness on the unhappiness of others. You will be enmeshed in a net of hatred.
        li
            strong.progress 68%
            | Hell in Buddhism really is educative, not vengeful, and it is not the sentence of a wrathful deity but the natural, unavoidable result of actions that violate dharma.
        li
            strong.progress 70%
            | No animal can take you to nirvana; only a well-trained mind can lead you to this untrodden land.
        li
            strong.progress 70%
            | It is better to be alone than to live with the immature. Be contented, and walk alone like an elephant roaming in the forest. Turn away from evil.
        li
            strong.progress 72%
            | the desire for sense pleasure (kama-trishna), the desire for birth in a world of separateness (bhava-trishna), and the desire for extinction (vibhava-trishna).
        li
            strong.progress 72%
            | Any craving for an experience that one thinks will add to personal pleasure, comfort, or happiness is an expression of kama-trishna,
        li
            strong.progress 72%
            | Bhava-trishna is the urge to go on upholding and strengthening one’s individuality, in pursuit not only of wealth, fame, and power but also of beliefs, opinions, and dogmas.
        li
            strong.progress 72%
            | Trishna has no self-limiting principle; the more it is fed, the higher it will flame. It cannot be terminated just by satisfying the desires of one lifetime.
        li
            strong.progress 72%
            | According to the Tibetan Book of the Dead, these desires remain in consciousness at death. Because of their power, they condition the choice of a new context for another life,
        li
            strong.progress 72%
            | The third kind of selfish desire, vibhava-trishna, is the craving to end existence, the very opposite of the drive to go on experiencing and self-building. But this is far from the desire for nirvana, the release from the cycle of birth and death.
        li
            strong.progress 73%
            | Vibhava-trishna, by contrast, is the oppressive desire for self-oblivion or self-destruction, prompted in Buddhist psychology by the revulsion with life that comes as the fruits of selfishness turn rotten or bitter.
        li
            strong.progress 74%
            | Meditate deeply, discriminate between the pleasant and the permanent, and break the fetters of Mara.
        li
            strong.progress 76%
            | He is a true bhikshu who follows the dharma, meditates on the dharma, rejoices in the dharma, and therefore never falls away from the dharma.
        li
            strong.progress 78%
            | That one I call a brahmin who does not hurt others with unkind acts, words, or thoughts. Both body and mind obey him.
        li
            strong.progress 79%
            | That one I call a brahmin who is never hostile to those who are hostile toward him, who is detached among those who are selfish and at peace among those at war.
        li
            strong.progress 80%
            | Brahmins have reached the end of the way; they have crossed the river of life. All that they had to do is done: they have become one with all life.
