---
title: 'The Secret Rose Garden'
description: 'The greatest mystical poetry of any time or land'
author: 'Mahmud Shabistari | Florence Lederer | David R. Fidele'
publishingDate: '1317 CE | 2002'
score: 5
date: '2022-02-06'
dateFull: '6 February 2022'
image: 'views/reading/assets/the-secret-rose-garden/hero.jpg'
imageBook: 'views/reading/assets/the-secret-rose-garden/cover-the-secret-rose-garden.jpg'
imageDest: 'reading/the-secret-rose-garden'
_content: false
---

extends ../_includes/layout-reading

block header-vars
    - var title = 'The Secret Rose Garden'
    - var description = 'The greatest mystical poetry of any time or land'
    - var score = 5
    - var dateFull = '6 February 2022'

block vars
    - var imgDir = 'views/reading/assets/the-secret-rose-garden/'
    - var imgBook = 'views/reading/assets/the-secret-rose-garden/cover-the-secret-rose-garden.jpg'
    - var imgDest = 'reading/the-secret-rose-garden'
    - var imgHeader = imgDir + 'hero.jpg'
    - var imgCaption = 'Photo by Ignacio Correia'

block header
    h1 #{title}
    h2 #{description}
    p 1317 CE Mahmud Shabistari | 2002 Florence Lederer and David R. Fidele
    +star-rating(score)

block content
    .header
        h2 Pure excellence in spiritual poetry
        p #{dateFull}
    
    p This book reminds me of <a href='https://en.wikipedia.org/wiki/The_Matrix' title='View The Matrix on Wikipedia' target='_blank'>The Matrix</a>, a movie in which Morpheus mentions: "The Matrix is the world that has been pulled over your eyes to blind you from the truth." This is exactly what it feels like when you read this book and start putting it into practice. Morpheus also mentions: "Unfortunately, no one can be told what the Matrix is. You have to see it for yourself." 
    
    p Of course, The Secret Rose Garden is a lot more refined and pure than the action movie, but it could give you a hint of the level and depth of insight you may be confronted with. Go read this marvel and see for yourself through <a href='https://en.wikipedia.org/wiki/Vipassanā' target='_blank' title='Visit the Wikipedia page about Vipassana meditation'>dedicated meditation</a>.
    
    h2 Details
    
    ul
        li Paperback:‎ 105 pages
        li E-book:‎ 116 pages
        li ISBN-10:‎ 1890482943
        li ISBN-13:‎ 978-1890482947

    h2 Where to buy?

    ul
        li
            a(href='https://bookshop.org/books/the-secret-rose-garden/9781890482947', title='Buy #{title} at The Bookshop.org', target='_blank') Buy #{title} at The Bookshop.org
        li
            a(href='https://www.betterworldbooks.com/product/detail/Secret-Rose-Garden-of-Shabistari-9781890482947', title='Buy #{title} at BetterWorldBooks', target='_blank') Buy #{title} at BetterWorldBooks
        li
            a(href='https://www.amazon.com/Secret-Rose-Garden-Mahmud-Shabistari/dp/1890482943/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1647100138&sr=8-1', title='Buy #{title} at Amazon', target='_blank') Buy #{title} at Amazon
    
    h2 summary

    p "The Secret Rose Garden" is a 14th-century Persian mystical poem written by the Sufi poet Mahmud Shabistari. The book is a profound exploration of Sufism, which is an Islamic mystical tradition that seeks to attain a direct experience of God through spiritual practices and inner reflection. David R. Fidele's edition provides readers with an accessible translation and interpretation of this classic work.

    p The poem delves into various metaphysical, spiritual, and ethical themes. It uses the metaphor of a secret rose garden to symbolize the inner journey of the seeker towards divine love and unity. The book emphasizes the importance of transcending the limitations of the rational mind and embracing the mystical path to attain spiritual enlightenment. It provides insights into the nature of God, the human soul, and the intricate relationship between the two.

    p Important Learnings and Insights:

    ol
         li <strong>The Unity of Existence</strong><br />All things in the universe, whether material or spiritual, are interconnected and part of a single divine reality. This unity is the foundation of all existence.
         li <strong>The Limitations of the Rational Mind</strong><br />The human intellect can only grasp a fraction of the divine truth. To experience God's essence, one must move beyond the confines of reason and embrace the path of love and intuition.
         li <strong>The Journey Within</strong><br />The spiritual path is an inner journey towards self-discovery and divine union. By turning inwards, the seeker can encounter the divine light that resides within their own heart.
         li <strong>Divine Love</strong><br />The ultimate goal of the spiritual journey is to experience divine love, which transcends all human understanding. This love is a transformative force that can lead the seeker to spiritual enlightenment and union with the divine.
         li <strong>Annihilation in God</strong><br />By surrendering the ego and embracing divine love, the seeker can achieve a state of annihilation in God (fana). This means dissolving the individual self and becoming one with the divine reality.
         li <strong>Spiritual Practices</strong><br />The Secret Rose Garden highlights the importance of spiritual practices, such as prayer, meditation, and remembrance of God (dhikr), as means to purify the heart and draw closer to the divine.
         li <strong>Ethical Living</strong><br />A seeker must lead an ethical and virtuous life, which includes compassion, humility, and selflessness. By cultivating these qualities, one can embody divine attributes and become a better reflection of the divine reality.
         li <strong>The Role of the Spiritual Master</strong><br />A spiritual master (sheikh or murshid) plays an essential role in guiding the seeker on the mystical path. They provide guidance, wisdom, and support to help the seeker overcome obstacles and progress towards divine union.

    p In summary, "The Secret Rose Garden" is a rich and profound exploration of the Sufi mystical path. It offers valuable insights into the nature of the divine, the human soul, and the journey towards spiritual enlightenment. The key learnings from the book emphasize the importance of embracing love, transcending the rational mind, and engaging in spiritual practices to attain unity with the divine reality.

    h2 31 significant notes

    p
        a(href="https://www.goodreads.com/notes/26026311-the-secret-rose-garden/42193292-thomas-torfs?ref=abp", title="View notes on Goodreads", target="_blank") View these notes on Goodreads

    ul.notes
        li
            strong.progress 9%
            | this world appears real to those who cannot use their spiritual eye and view the deeper levels of Being.
        li
            strong.progress 10%
            | whosoever becomes aware of the Divine Light shining in the heart, and who realizes the love of God in the soul, is able to pass from the Unreal to the Real.
        li
            strong.progress 11%
            | While all love reflects the highest Love, earthly love seems dull compared to his flaming devotion for the Unchangeable.
        li
            strong.progress 16%
            | It is at this spot we wait entranced, and through the mystic stillness we seem to hear the voice of him who, long ago for love's sake, planted this Rose tree, echoing his sublime utterance</strong><br />See but One, say but One, know but One.
        li
            strong.progress 20%
            | Sufism is a mystical path of love, knowledge, and experience.
        li
            strong.progress 20%
            | Both love and knowledge are required, for without knowledge it is possible to lose your way; and without the power of love it is impossible to get off the ground.
        li
            strong.progress 25%
            | I profess the religion of Love, and whatever the diction Taken by its mount, Love is my religion and my faith.
        li
            strong.progress 26%
            | When “I” and “you” do not exist, what is mosque, what is synagogue? What is the Temple of Fire?
        li
            strong.progress 27%
            | Islâm, which comes from a Semitic root meaning “peace,” means literally means surrender — surrender to God, the ultimate source of life and reality.
        li
            strong.progress 27%
            | Prophets Moses, Jesus, and Muhammad are completely united, with no strife between them, since we all share the same God.
        li
            strong.progress 28%
            | each human soul begins life in a state of surrender to the divine, but the original self is soon tampered with by parents, education, and social conditioning so that a type of amnesia or forgetfulness occurs.
        li
            strong.progress 29%
            | while the world is only a shadow of Absolute Reality, “All is pervaded by Absolute Being / in its utter perfection,” mirroring the Koranic teaching that “wherever you turn, there is the Face of God.”
        li
            strong.progress 33%
            | Through this ripening, God, creation, and the universe are all brought to completion and fruition, for the underlying desire of “the perfect treasure wishing to be known” is realized through the human mirror of awareness.
        li
            strong.progress 33%
            | the initial key to this operation is stepping outside the egoism of the habitual self so that something higher or deeper can enter.
        li
            strong.progress 34%
            | once you believe in God, there is no religion. Once you divide yourself off with religions, you are separated from your fellowman. — Bawa Muhaiyaddeen
        li
            strong.progress 35%
            | Sufis themselves have claimed that Sufism is not “a religion” or “a philosophy,” but the very essence of religion itself.
        li
            strong.progress 36%
            | “the closer you get to God, the more all religions look the same,”
        li
            strong.progress 37%
            | we only need to remember the high and vibrant culture of Andalusian Spain during medieval times, when Muslims, Jews, and Christians lived together in harmony for hundreds of years, and richly cross-fertilized the daily lives and cultural worlds of one another.
        li
            strong.progress 43%
            | In the Greek tradition of the early Christians, the primordial outpouring of harmony, intelligence, and creative light — which is nothing short of the cosmic blueprint—is the Logos or “Word.” But for Muslims, this principle — the very pattern of all creation — is known as the Muhammadan Light.
        li
            strong.progress 61%
            | You are asleep and your vision is a dream; all you are seeing is a mirage. When you wake up on the morn of the last day you will know all this to be fancy's illusion;
        li
            strong.progress 64%
            | Annihilation, intoxication, the fever of love are the three states of the mystic, and those who abide in these states at once comprehend the meanings veiled in these words.
        li
            strong.progress 66%
            | Know the world from end to end is a mirror; in each atom a hundred suns are concealed. If you pierce the heat of a single drop of water, from it will flow a hundred clear oceans;
        li
            strong.progress 76%
            | By practice man learns a trade, by habit he collects his thoughts.
        li
            strong.progress 76%
            | Remember at the last day all your habits and actions will be clearly seen, for the garment of the body will be stripped. And the form left will reflect your vices and virtues, as objects are reflected in pure water.
        li
            strong.progress 78%
            | Virtue and equity, courage and temperance, are the four qualities of the sage.
        li
            strong.progress 80%
            | You, who day and night are wondering about yourself, think of self no more, for the end of such thought is confusion.
        li
            strong.progress 83%
            | Ponder on God's mercies, but not on His essence. For His works come froth from His essence, not His essence from His works.
        li
            strong.progress 87%
            | By counting beads, repeating prayers, and reading the Koran, the heathen doesn't become a Muslim. The man to whom true infidelity becomes revealed becomes disgusted with pretended faith. Within every body a soul is hidden, and true faith conceals infidelity.
        li
            strong.progress 88%
            | Cast aside vain tales, and mystic states and visions. Dream not of lights, of marvels, of miracles, for your miracles are contained in worshipping the Truth: all else is pride, conceit, and illusion of existence.
        li
            strong.progress 90%
            | Death occurs to man in three ways: first, he dies every moment by his earthly nature; then, when his will perishes, he dies again; and lastly at the separation of soul and body.
        li
            strong.progress 95%
            | The Visit One day at the dawn the fair idol entered my door and woke me from my sleep of slothful ignorance. The secret chamber of my soul was illumined by his face, and my being was revealed to me in its true light. I heaved a sigh of wonder when I saw that fair face. He spoke to me, saying, “All your life you have sought name and fame; this self - seeking of yours is an illusion, keeping you back from me. To glance at my face for an instant is worth a thousand years of devotion.” Yes, the face of that world adorner was shown unveiled before mine eyes; my soul was darkened with shame to remember my lost life, my wasted days.
