---
title: 'The Hermetica'
description: 'The Lost Wisdom of the Pharaohs'
author: 'Hermes Trismegistus | Tim Freke'
publishingDate: '100 CE to 300 CE | 2018'
score: 5
date: '2021-12-14'
dateFull: '14 December 2021'
image: 'views/reading/assets/the-hermetica/hero.jpg'
imageBook: 'views/reading/assets/the-hermetica/cover-the-hermetica.jpg'
imageDest: 'reading/the-hermetica'
_content: false
---

extends ../_includes/layout-reading

block header-vars
    - var title = 'The Hermetica'
    - var description = 'The Lost Wisdom of the Pharaohs'
    - var score = 5
    - var dateFull = '14 December 2021'

block vars
    - var imgDir = 'views/reading/assets/the-hermetica/'
    - var imgBook = 'views/reading/assets/the-hermetica/cover-the-hermetica.jpg'
    - var imgDest = 'reading/the-hermetica'
    - var imgHeader = imgDir + 'hero.jpg'
    - var imgCaption = 'Photo by Kévin et Laurianne Langlais'

block header
    h1 #{title}
    h2 #{description}
    p 100 CE to 300 CE Hermes Trismegistus | 2018 Tim Freke
    +star-rating(score)

block content
    .header
        h2 Number 1
        p #{dateFull}

    p Without a doubt this is my absolute favorite book. I recommend it to everyone. It's an introduction to an experiential journey which can hardly be put into words. Similar to the Dhammapada and the Upanishads, the advice is to go and look for yourself. Go into <a href='https://en.wikipedia.org/wiki/Vipassanā' target='_blank' title='Visit the Wikipedia page about Vipassana meditation'>deep meditation</a> and find out what it's all about.
    
    p This is it folks. Go read it, then follow your heart.

    h2 Details
    
    ul
        li Paperback:‎ 192 pages
        li E-book: 131 pages
        li ISBN-10:‎ 158542692X
        li ISBN-13:‎ 978-1585426928
        
    h2 Where to buy?

    ul
        li
            a(href='https://bookshop.org/books/the-hermetica-the-lost-wisdom-of-the-pharaohs/9781585426928', title='Buy #{title} at The Bookshop.org', target='_blank') Buy #{title} at The Bookshop.org
        li
            a(href='https://www.betterworldbooks.com/product/detail/Hermetica---The-Lost-Wisdom-of-the-Pharaohs-9781585426928', title='Buy #{title} at BetterWorldBooks', target='_blank') Buy #{title} at BetterWorldBooks
        li
            a(href='https://www.amazon.com/Hermetica-Lost-Wisdom-Pharaohs/dp/158542692X/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1647100085&sr=8-1', title='Buy #{title} at Amazon', target='_blank') Buy #{title} at Amazon

    h2 Summary
    
    p "The Hermetica" by Tim Freke and Peter Gandy is a modern interpretation of ancient Egyptian texts attributed to Hermes Trismegistus, presenting the foundations of Hermetic philosophy. Combining elements of mysticism, alchemy, and astrology, this esoteric tradition offers profound wisdom and insights for personal growth and spiritual development. 
    
    p The book introduces key Hermetic principles, such as mentalism, correspondence, vibration, polarity, rhythm, cause and effect, and gender. By understanding and applying these principles, individuals can cultivate self-awareness, balance, and harmony in their lives. Furthermore, the Hermetica emphasizes the importance of self-knowledge, spiritual alchemy, and the pursuit of enlightenment as a path to unity with the divine. 
    
    p This timeless wisdom serves as a powerful reminder of the interconnectedness of all things and the potential for meaningful transformation in our lives and the world around us.

    
    h2 The 7 principles of the Hermetic foundation
        
    ol
        li <strong>Mentalism</strong><br />The Hermetica teaches that the universe is a mental construct, created by the mind of the divine. This principle emphasizes the power of thoughts and beliefs in shaping our reality.
        li <strong>Correspondence</strong><br />This principle states that the patterns found in the macrocosm (the universe) are mirrored in the microcosm (the individual). By understanding the relationships between these levels, one can gain a deeper understanding of themselves and the world around them.
        li <strong>Vibration</strong><br />Everything in the universe is in constant motion, oscillating between different frequencies. The Hermetica teaches that by controlling our own vibrations, we can influence the world around us.
        li <strong>Polarity</strong><br />The Hermetica emphasizes the existence of opposites in everything. Understanding and embracing the duality of life can help bring about balance and harmony.
        li <strong>Rhythm</strong><br />This principle states that everything in the universe follows a natural rhythm and cyclical pattern. Recognizing and working with these rhythms can lead to greater harmony and personal growth.
        li <strong>Cause and Effect</strong><br />The Hermetica teaches that every action has a consequence, and by understanding this principle, we can make more informed choices that align with our highest good.
        li <strong>Gender</strong><br />The Hermetica recognizes the presence of masculine and feminine energies in all things. Balancing these energies within oneself can lead to spiritual growth and personal development.

    h2 19 significant notes

    p
        a(href="https://www.goodreads.com/notes/40980709-the-hermetica/42193292-thomas-torfs?ref=abp", title="View notes on Goodreads", target="_blank") View these notes on Goodreads
    
    ul.notes
        li 
            strong.progress 5%
            | The list of people who have acknowledged a debt to the Hermetica reads like a 'Who's Who' of the greatest philosophers, scientists and artists that the West has produced — Leonardo da Vinci, Durer, Botticelli, Roger Bacon, Paracelsus, Thomas More, William Blake, Kepler, Copernicus, Isaac Newton, Sir Walter Raleigh, Milton, Ben Johnson, Daniel Defoe, Shelley and his wife Mary, Victor Hugo and Carl Jung. It heavily influenced Shakespeare, John Donne, John Dee and all the poet-philosophers who surrounded the court of Queen Elizabeth I, as well as the founding scientists of the Royal Society in London, and even the leaders who inspired the Protestant Reformation in Europe. The list is endless, with the Hermetica's influence reaching well beyond the frontiers of Europe.
        li 
            strong.progress 5%
            | In substance and importance it is equal to well-known Eastern scriptures like the Upanishads, the Dhammapada and the Tao Te Ching.
        li 
            strong.progress 8%
            | wherever the works of Hermes have been studied and venerated, civilisation has flourished. Pagan scholars and sages fled to the newly emerging Arab culture,
        li 
            strong.progress 9%
            | sages of the ancient world had preached a single doctrine.
        li 
            strong.progress 12%
            | circle of courtiers surrounding Elizabeth I. Sir Philip Sydney, Sir Walter Raleigh, John Donne, Christopher Marlowe, William Shakespeare, George Chapman, and Francis Bacon were all acquainted with the works of the Egyptian sage.
        li 
            strong.progress 20%
            | The main surviving philosophical Hermetic texts are the eighteen books known as the Corpus Hermeticum (seventeen survive, Book XV is missing), the Asclepius, the Stobaeus and various fragments.
        li 
            strong.progress 21%
            | 'Atum' — one of the ancient Egyptian names for the Supreme One-God.
        li 
            strong.progress 22%
            | Translation inevitably means that we have lost this original power and clarity. Hermes teaches, however, that through the power of the mind all things are possible.
        li 
            strong.progress 23%
            | The philosophy that Hermes teaches is not just a clever intellectual exercise. It is about focussing the mind in deep meditation on Atum (an ancient Egyptian name for God).
        li 
            strong.progress 23%
            | For Hermes, spiritual philosophy is not opposed to science, as it often is for us today.
        li 
            strong.progress 24%
            | Pure philosophy is spiritual striving, through constant contemplation, to attain True Knowledge of Atum the One-God.
        li 
            strong.progress 28%
            | This is a mystical vision of the first act of creation, remarkably similar to the modern scientific theory of the Big Bang. An explosion of light and energy slowly cools to become the black womb of space, into which suns and planets and finally ourselves are born. This birth, like any birth, is accompanied by pain, and Hermes hears an inarticulate cry of suffering from the turbulent depths. The Light then speaks a Word which calms the chaotic waters. This Word is like a blueprint that will organise a structured cosmos out of the chaos.
        li 
            strong.progress 33%
            | To conceive of Atum is difficult. To define him is impossible. The imperfect and impermanent cannot easily apprehend the eternally perfected. Atum is whole and constant. In himself he is motionless, yet he is self-moving. He is immaculate, incorruptible and ever-lasting. He is the Supreme Absolute Reality.
        li 
            strong.progress 50%
            | Atum creates the Cosmic Mind. The Cosmic Mind creates the Cosmos. The Cosmos creates Time. Time creates Change.
        li 
            strong.progress 63%
            | At first, the heavenly gods complained saying: 'You are being rash in creating humanity. They see with inquisitive eyes, and hear what they have no right to hear. They reach out with audacious hands. They will dig up the roots of plants, and investigate the properties of stones. They will dissect the lower animals — and one another also! They will seek to discover how it is that they are alive, and what is hidden within. They will cut down the woods of their native land and sail across the sea to see what lies there. They will dig mines and search the uttermost depths of the Earth. All this might be bearable, but they will do much more. They will press on to explore the world above, seeking by observation to discover the laws that govern the movements of the heavens.' Atum replied: 'I will build the Zodiac — a secret mechanism in the stars, linked to unerring and inevitable fate. The lives of men, from birth to final destruction, shall be controlled by the hidden workings of this mechanism.'
        li 
            strong.progress 69%
            | All souls share the same essential nature. They are neither male nor female, as such differentiating characteristics exist only in the body. All souls are a part of the one Soul of the Cosmos.
        li 
            strong.progress 70%
            | Before it incarnates, the soul is already wrapped in a spiritual body. When this wrapping is thin and clear, the soul is intelligent. However, when this wrapping is dense and opaque, the soul has limited vision and is only aware of its immediate situation. As a soul sinks into incarnation it forgets its own nature and takes on the qualities of the gods who have shut it into a human body. Hermes describes a vision of disembodied souls about to make their journey into a physical form. They are filled with fear and horror at the fate which awaits them. They cannot bear the prospect of such imprisonment.
        li 
            strong.progress 72%
            | The purer forces arrive at adolescence and co-operate with the rational part of the soul.
        li 
            strong.progress 96%
            | Language is inadequate. The gods sing a hymn of silence.
