---
title: 'The Way Of Man'
description: 'According to the teaching of Hasidism'
author: 'Martin Buber'
publishingDate: '1948'
score: 5
date: '2023-01-27'
dateFull: '27 January 2023'
image: 'views/reading/assets/the-way-of-man/hero.jpg'
imageBook: 'views/reading/assets/the-way-of-man/cover-the-way-of-man.jpg'
imageDest: 'reading/the-way-of-man'
_content: false
---

extends ../_includes/layout-reading

block header-vars
    - var title = 'The Way Of Man'
    - var description = 'According to the teaching of Hasidism'
    - var score = 5
    - var dateFull = '27 January 2023'

block vars
    - var imgDir = 'views/reading/assets/the-way-of-man/'
    - var imgBook = 'views/reading/assets/the-way-of-man/cover-the-way-of-man.jpg'
    - var imgDest = 'reading/the-way-of-man'
    - var imgHeader = imgDir + 'hero.jpg'
    - var imgCaption = 'Photo by Dimitar Donovski'

block header
    h1 #{title}
    h2 #{description}
    p 1948 Martin Buber
    +star-rating(score)

block content
    .header
        h2 A pocket guide for your spirit
        p #{dateFull}

    p A tiny little gem, that's what The Way Of Man is. It's a combination of philosophy and spirituality, bringing the very core of what many religions try to convey in pocket format. It's an easy read yet very profound, a quick read yet lengthy in its true comprehension and application. This book could be summarized in 6 steps which are easy to learn and hard to master:

    ol
        li Follow your heart
        li Know yourself
        li Walk your talk
        li Begin with yourself
        li Help others
        li Start here and now

    p Fantastic advice, love it!

    h2 Details

    ul
        li Paperback:‎ 48 pages
        li E-book: 38 pages
        li ISBN-10:‎ 0415278295
        li ISBN-13:‎ 978-0415278294
    
    h2 Where to buy?
    
    ul
        li
            a(href='https://www.betterworldbooks.com/product/detail/the-way-of-man-according-to-the-teaching-of-hasidism-9780415278294', title='Buy #{title} at BetterWorldBooks', target='_blank') Buy #{title} at BetterWorldBooks
        li
            a(href='https://bookshop.org/p/books/the-way-of-man-according-to-the-teachings-of-hasidism-martin-buber/8198569?ean=9780415278294', title='Buy #{title} at The Bookshop.org', target='_blank') Buy #{title} at The Bookshop.org
        li
            a(href='https://www.amazon.com/Way-Man-According-Teachings-Routledge/dp/B011DAKOM4', title='Buy #{title} at Amazon', target='_blank') Buy #{title} at Amazon

    h2 Summary
    
    p "The Way of Man" by Martin Buber is a philosophical exploration of Hasidism, a Jewish spiritual movement that emphasizes a direct, personal relationship with God. Buber examines the teachings of early Hasidic masters, addressing spiritual and existential questions faced by humans. He proposes that each individual has a unique spiritual path, which they must discover and follow to achieve spiritual fulfillment. 
    
    p The book highlights the importance of humility, self-awareness, and personal responsibility in one's spiritual journey. Additionally, it emphasizes the power of love, compassion, and faith, while illustrating the interconnectedness of all things. Through Hasidic stories and parables, Buber offers guidance for individuals seeking to deepen their understanding of Hasidic thought and lead authentic, meaningful lives.

    h2 Important learnings and insights

    ol
        li <strong>The Way of Man</strong><br />Buber suggests that each person has their own unique path in life, a way of connecting with the divine. He encourages individuals to seek their own path and develop a personal relationship with God.
        li <strong>The Importance of the Present Moment</strong><br />The book emphasizes the importance of living in the present moment and fully engaging with our experiences. We should not waste our time regretting the past or worrying about the future but rather focus on the opportunities that lie in the here and now.
        li <strong>I-Thou vs. I-It Relationships</strong><br />Buber distinguishes between two types of relationships</strong><br />I-Thou and I-It. I-Thou relationships are characterized by deep connection, empathy, and understanding, while I-It relationships are more utilitarian and superficial. Buber argues that spiritual growth and fulfillment come from cultivating I-Thou relationships with others and with God.
        li <strong>The Value of Ordinary Life</strong><br />Buber suggests that spiritual growth can be found in the most mundane aspects of everyday life. By approaching our daily tasks with mindfulness and intention, we can transform ordinary moments into opportunities for personal growth and connection with the divine.
        li <strong>The Role of Suffering</strong><br />According to Buber, suffering is an integral part of human life, and we must learn to embrace it as an opportunity for growth. By facing our pain and challenges head-on, we can develop resilience, compassion, and a deeper understanding of ourselves and others.
        li <strong>God's Immanence</strong><br />Buber emphasizes the idea that God is present in every aspect of our lives, both in moments of joy and in moments of suffering. By acknowledging this divine presence, we can develop a deeper spiritual connection and find meaning even in the most difficult circumstances.
        li <strong>The Power of Love and Humility</strong><br />Buber asserts that love and humility are essential qualities for personal and spiritual growth. By cultivating these qualities in our relationships with others and with God, we can experience true fulfillment and inner transformation.
    
    h2 20 significant notes
    
    p
        a(href="https://www.goodreads.com/notes/53983366-the-way-of-man/42193292-thomas-torfs", title="View notes on Goodreads", target="_blank") View these notes on Goodreads

    ul.notes
        li
            strong.progress 4%
            | “When one can find . . . offer themselves out of the sincerest heart and not out of some ego-driven desire to be altruistic or to learn the ‘secrets,’ or to master the principles, then one will be achieving the highest good.”
        li
            strong.progress 16%
            | The I-Thou relationship is a true relationship where people speak to each other as equals. Though one cannot sustain this forever, and many relationships become unequal,
        li
            strong.progress 17%
            | in every era, God calls to everyone: ‘Where are you in this world? How far have you got with your allotted tasks?’
        li
            strong.progress 29%
            | God does not expect to learn something he does not know; what he wants is to produce an effect in man which can only be produced by just such a question, provided that it reaches man’s heart—that man allows it to reach his heart.
        li
            strong.progress 29%
            | every man is Adam and finds himself in Adam’s situation. To escape responsibility for his life, he turns existence into a system of hideouts. And in thus hiding again and again ‘from the face of God’, he enmeshes himself more and more deeply in perversity.
        li
            strong.progress 32%
            | whatever power he may attain and whatever deeds he may do, his life will remain way-less, so long as he does not face the Voice.
        li
            strong.progress 33%
            | the saying of our sages: “Consider three things. Know whence you came, whither you are going, and to whom you will have to render accounts.”
        li
            strong.progress 43%
            | God does not say: ‘This way leads to me and that does not’, but he says: ‘Whatever you do may be a way to me, provided you do it in such a manner that it leads you to me.’
        li
            strong.progress 44%
            | the way by which a man can reach God is revealed to him only through the knowledge of his own being, the knowledge of his essential quality and inclination.
        li
            strong.progress 49%
            | never should asceticism gain mastery over a man’s life. A man may only detach himself from nature in order to revert to it again and, in hallowed contact with it, find his way to God.
        li
            strong.progress 54%
            | fasting could serve this purpose in the initial stage of a person’s development and also later, at critical moments of his life.
        li
            strong.progress 62%
            | A man who thus becomes a unit of body and spirit—he is the man whose work is all of a piece.
        li
            strong.progress 67%
            | real transformation, real restoration, at first of the single person and subsequently of the relationship between him and his fellow-men, can only be achieved by the comprehension of the whole as a whole.
        li
            strong.progress 68%
            | a man should himself realize that conflict-situations between himself and others are nothing but the effects of conflict-situations in his own soul; then he should try to overcome this inner conflict, so that afterwards he may go out to his fellow-men and enter into new, transformed relationships with them.
        li
            strong.progress 70%
            | When a man has made peace within himself, he will be able to make peace in the whole world.’
        li
            strong.progress 71%
            | in what the decisive inner conflict consists. It is the conflict between three principles in man’s being and life, the principle of thought, the principle of speech, and the principle of action. The origin of all conflict between me and my fellow-men is that I do not say what I mean, and that I do not do what I say. For this confuses and poisons, again and again
        li
            strong.progress 77%
            | To begin with oneself, but not to end with oneself; to start from oneself, but not to aim at oneself; to comprehend oneself, but not to be preoccupied with oneself.
        li
            strong.progress 81%
            | it is written: “Depart from evil and do good”—turn wholly away from evil, do not dwell upon it, and do good. You have done wrong? Then counteract it by doing right.’
        li
            strong.progress 85%
            | Only when pride subjects itself to humility can it be redeemed; and only when it is redeemed, can the world be redeemed.
        li
            strong.progress 85%
            | Rabbi Mendel of Kotzk, once said to his congregation: ‘What, after all, do I demand of you? Only three things: not to look furtively outside yourselves, not to look furtively into others, and not to aim at yourselves.’
        li
            strong.progress 99%
            | ‘God dwells wherever man lets him in.’ This is the ultimate purpose: to let God in. But we can let him in only where we really stand, where we live, where we live a true life.
