---
title: 'The Tao Te Ching'
description: 'The book of the way'
author: 'Lao Tzu | Sam Torode and Dwight Goddard'
publishingDate: '400 BCE | 2016'
score: 5
image: 'views/reading/assets/the-tao-te-ching/hero.jpg'
imageBook: 'views/reading/assets/the-tao-te-ching/cover-the-tao-te-ching.jpg'
imageDest: 'reading/the-tao-te-ching'
_content: false
---

extends ../_includes/layout-reading

block header-vars
    - var title = 'The Tao Te Ching'
    - var description = 'The book of the way'
    - var score = 5

block vars
    - var imgDir = 'views/reading/assets/the-tao-te-ching/'
    - var imgBook = 'views/reading/assets/the-tao-te-ching/cover-the-tao-te-ching.jpg'
    - var imgDest = 'reading/the-tao-te-ching'
    - var imgHeader = imgDir + 'hero.jpg'

block header
    h1 #{title}
    h2 #{description}
    p 400 BCE Lao Tzu | 2016 Sam Torode and Dwight Goddard
    +star-rating(score)

block content
    h2 TODO

    p TODO

    h2 Details

    ul
        li Paperback:‎ 86 pages
        li E-book: 90 pages
        li ISBN-10:‎ 1690029994
        li ISBN-13:‎ 978-1690029991
        li
            a(href='https://www.thriftbooks.com/w/tao-te-ching/31591749/item/#edition=25193003', title='Buy #{title} at Thriftbooks', target='_blank') Buy #{title} at Thriftbooks
        li
            a(href='https://www.betterworldbooks.com/product/detail/Tao-Te-Ching-9781690029991', title='Buy #{title} at BetterWorldBooks', target='_blank') Buy #{title} at BetterWorldBooks
        li
            a(href='https://www.amazon.com/Tao-Te-Ching-Lao-Tzu/dp/1690029994/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1647100271&sr=8-1', title='Buy #{title} at Amazon', target='_blank') Buy #{title} at Amazon
    
    h2 24 significant notes
    
    ul.notes
        li
            strong.progress 4%
            | Value virtue over wealth, and the people’s hearts will be at rest. Wise rulers do not accumulate treasures, but seek to quiet the hearts of their people. They soothe the people’s appetites and strengthen their bones. They treasure innocence, and protect the simple from the schemes of the clever. When a ruler practices restraint, everything will be in peace.
        li
            strong.progress 9%
            | They are not focused on outcomes or achievements; therefore they always succeed.
        li
            strong.progress 9%
            | True goodness is like water; it nurtures everything and harms nothing. Like water, it ever seeks the lowest place, the place that all others avoid. This is the way of the Tao.
        li
            strong.progress 13%
            | Matter is necessary to give form, but the value of reality lies in its immateriality. Everything that lives has a physical body, but the value of a life is measured by the soul.
        li
            strong.progress 14%
            | the pursuit of great riches leads to ruin. The wise attend to the inner truth of things and are not fooled by outward appearances. They ignore matter and seek the spirit.
        li
            strong.progress 21%
            | when great rulers lead, the people are hardly aware of their existence.
        li
            strong.progress 23%
            | Here are the four fundamentals of true spirituality: recognize simplicity, cherish purity, reduce your possessions, diminish your desires.
        li
            strong.progress 28%
            | They who act in the spirit of the Tao become Tao-like. They who follow the Tao, the Tao will guide. They who pursue virtue, virtue will reward. They who live by violence, violence will soon destroy.
        li
            strong.progress 55%
            | There is no sin greater than desire. There is no misfortune greater than discontent. There is no calamity greater than greed. To know the Tao is to know contentment. 
        li
            strong.progress 56%
            | The wise explore without traveling, discern without seeing, finish without striving, and arrive at their destination without leaving home.
        li
            strong.progress 62%
            | To recognize your insignificance is empowering. To show sympathy is strength. Those who follow the Tao’s light arrive at enlightenment.
        li
            strong.progress 67%
            | The wise shut their mouths and watch their actions.
        li
            strong.progress 71%
            | Acquiring moderation results in accumulating virtue. By accumulating virtue, nothing is impossible. If nothing is impossible, one knows no limits.
        li
            strong.progress 76%
            | Respond to hatred with kindness. Resolve difficulties while they are easy, and manage great things while they are small.
        li
            strong.progress 78%
            | The wise do not desire what they do not possess. They learn to be unlearned; they attend to that which others ignore. In that spirit, they help things grow, without interfering.
        li
            strong.progress 79%
            | Clever people are difficult to govern. And so, governing people with cleverness is a mistake, while governing with simplicity is a blessing to all.
        li
            strong.progress 80%
            | Wise rulers, desiring to lead the people, humble themselves and stay below them; wishing to help the people, they stay out of the way.
        li
            strong.progress 82%
            | If you are compassionate, you can be truly courageous; if you are economical, you can be truly generous; if you are humble, you can be truly helpful.
        li
            strong.progress 83%
            | Bring out the best in yourself, and you will bring out the best in others. This is following the Tao.
        li
            strong.progress 87%
            | The wise, while valuing themselves, do not overestimate themselves. They reject flattery and gain true merit.
        li
            strong.progress 88%
            | Reckless courage leads to death. Cautious courage leads to life. These two things, courage and caution, must be balanced.
        li
            strong.progress 90%
            | Oppressive measures never achieve their intended results.
        li
            strong.progress 93%
            | Nothing is gentler than water, yet nothing can withstand its force. Likewise, nothing compares to the Tao. By it the weak defeat the strong; and the flexible conquer the rigid.
        li
            strong.progress 97%
            | True words are often unpleasant; pleasant words are often untrue. Those who know the truth do not argue about it; those who argue do not know the truth.
