---
title: 'The Upanishads'
description: 'Breath of the Eternal'
author: 'Vyasa | Frederick Manchester and Prabhavananda'
publishingDate: '800 - 300 BCE | 1996'
score: 5
image: 'views/reading/assets/the-upanishads/hero.jpg'
imageBook: 'views/reading/assets/the-upanishads/cover-the-upanishads.jpg'
imageDest: 'reading/the-upanishads'
_content: false
---

extends ../_includes/layout-reading

block header-vars
    - var title = 'The Upanishads'
    - var description = 'Breath of the Eternal'
    - var score = 5

block vars
    - var imgDir = 'views/reading/assets/the-upanishads/'
    - var imgBook = 'views/reading/assets/the-upanishads/cover-the-upanishads.jpg'
    - var imgDest = 'reading/the-upanishads'
    - var imgHeader = imgDir + 'hero.jpg'

block header
    h1 #{title}
    h2 #{description}
    p 800 - 300 BCE Vyasa | 1996 Frederick Manchester and Prabhavananda
    +star-rating(score)

block content
    h2 Experiences from spiritual masters

    p The Upanishads are one of the oldest and most profound spiritual texts one can find. It truly captures the sense, beauty and spirit of both the original texts and the actual spiritual experiences themselves, just as promised on its cover. These are a no-brainer for anyone looking for something to reflect upon when experiencing the depth and meaning that comes with <a href='https://en.wikipedia.org/wiki/Vipassanā' target='_blank' title='Visit the Wikipedia page about Vipassana meditation'>deep meditation</a>.
    
    p In simple terms, amazing!

    h2 Details

    ul
        li Paperback:‎ 210 pages
        li E-book: 238 pages
        li ISBN-10:‎ 087481040X
        li ISBN-13:‎ 978-0874810400
        li
            a(href='https://openlibrary.org/books/OL8085948M/The_Upanishads', title='View more information about #{title} on Open Library', target='_blank') View #{title} on Open Library
        li
            a(href='https://www.goodreads.com/book/show/8145724-the-upanishads', title='View more information about #{title} on Goodreads', target='_blank') View #{title} on Goodreads
    
    h2 64 significant notes
    
    ul.notes
        li
            strong.progress 6%
            | The literal meaning of upanishad, "sitting near devotedly," brings picturesquely to mind an earnest disciple learning from his teacher. The word also means "secret teaching"-secret, no doubt, because a teaching vouchsafed only to those who are spiritually ready to receive and profit by it.
        li
            strong.progress 7%
            | important characteristic arises from the fact that the Upanishads are the work of saints and seers. Their authors were concerned with reporting insights which came to them in thought or vision, not with making these insights superficially coherent. They were not builders of systems but recorders of experience.
        li
            strong.progress 8%
            | He who engages in these things attains to concentration And is no longer a slave to his passions; Devout, self-controlled, disciplined in spirit, He rises to fame and is a blessing to mankind.
        li
            strong.progress 9%
            | The real study, say the Upanishads, is not study of themselves but study of that "by which we realize the changeless." In other words, the real study in religion is firsthand experience of God.
        li
            strong.progress 10%
            | He who sees all beings in the Self, and the Self in all beings, hates none. To the illumined soul, the Self is all. For him who sees everywhere oneness, how can there be delusion or grief?
        li
            strong.progress 10%
            | They who devote themselves both to life in the world and to meditation, by life in the world overcome death, and by meditation achieve immortality.
        li
            strong.progress 12%
            | He truly knows Brahman who knows him as beyond knowledge; he who thinks that he knows, knows not. The ignorant think that Brahman is known, but the wise know him to be beyond knowledge.
        li
            strong.progress 18%
            | The ancient, effulgent being, the indwelling Spirit, subtle, deep-hidden in the lotus of the heart, is hard tc know. But the wise man, following the path of meditation, knows him, and is freed alike from pleasure and from pain.
        li
            strong.progress 18%
            | The Self, whose symbol is OM, is the omniscient Lord. He is not born. He does not die. He is neither cause nor effect. This Ancient One is un- borr., eternal, imperishable; though the body be destroyed, he is not killed.
        li
            strong.progress 19%
            | The Self is not known through study of the scriptures, nor through subtlety of the intellect, nor through much learning. But by him who longs for him is he known.' Verily unto him does the Self reveal his true being.
        li
            strong.progress 20%
            | he who has discrimination, whose mind is steady and whose heart is pure, reaches the goal, and having reached it is born no more.
        li
            strong.progress 20%
            | The senses of the wise man obey his mind, his mind obeys his intellect, his intellect obeys his ego, and his ego obeys the Self.
        li
            strong.progress 20%
            | Soundless, formless, intangible, undying, tasteless, odorless, eternal, without beginning, without end, immutable, beyond nature, is the Self. Knowing him as such, one is freed from death.
        li
            strong.progress 20%
            | Fools follow the desires of the flesh and fall into the snare of all-encompassing death; but the wise, knowing the Self as eternal, seek not the things that pass away.
        li
            strong.progress 21%
            | What is within us is also without. What is without is also within. He who sees difference between what is within and what is without goes evermore from death to death.
        li
            strong.progress 23%
            | If a man fails to attain Brahman before he casts off his body, he must again put on a body in the world of created things.
        li
            strong.progress 23%
            | Above the senses is the mind. Above the mind is the intellect. Above the intellect is the ego. Above the ego is the unmanifested seed, the Primal Cause.
        li
            strong.progress 25%
            | "Prana, the primal energy, is the sun: and Rayi, the form-giving substance, is the moon. "Be it known that all this universe, that which is gross and that which is subtle, is one with Rayi. Therefore is Rayi omnipresent.
        li
            strong.progress 28%
            | "The Self dwells in the lotus of the heart, whence radiate a hundred and one nerves.
        li
            strong.progress 30%
            | "Venerable sir, if a man meditate upon the syllable OM all' his life, what shall be his reward after death?" And the master answered him thus: "Satyakama, OM is Brahman-both the conditioned and the unconditioned, the personal and the impersonal. By meditating upon it the wise man may attain either the one or the other. "If he meditate upon OM with but little knowledge edge of its meaning, but nevertheless is enlightened thereby, upon his death he will be immediately born again on this earth, and during his new life he will be devoted to austerity, continence, and faith, and will attain to spiritual greatness.
        li
            strong.progress 30%
            | "By virtue of a little understanding of OM a man returns to earth after death. By virtue of a greater understanding he attains to the celestial sphere. By virtue of a complete understanding he learns what is known only to the seers.
        li
            strong.progress 32%
            | there are two kinds of knowledge, the higher and the lower. "The lower is knowledge of the Vedas (the Rik, the Sama, the Yajur, and the Atharva), and also of phonetics, ceremonials, grammar, etymology, metre, and astronomy. "The higher is knowledge of that by which one knows the changeless reality. By this is fully revealed to the wise that which transcends the senses, which is uncaused, which is indefinable, which has neither eyes nor ears, neither hands nor feet, which is all-pervading, subtler than the subtlest-the everlasting, the source of all.
        li
            strong.progress 33%
            | wise, self-controlled, and tranquil souls-who are contented in spirit, and who practice austerity and meditation in solitude and silence-are freed from all impurity, and attain by the path of liberation to the immortal, the truly existing, the changeless Self.
        li
            strong.progress 37%
            | The Self is not to be known through study of the scriptures, nor through subtlety of the intellect, nor through much learning. But by him who longs for him is he known. Verily unto him does the Self reveal his true being.
        li
            strong.progress 37%
            | When death overtakes the body, the vital energy enters the cosmic source, the senses dissolve in their cause, and karmas and the individual soul are lost in Brahman, the pure, the changeless, the infinite.
        li
            strong.progress 38%
            | Whatsoever has existed, whatsoever exists, whatsoever shall exist hereafter, is OM. And whatsoever transcends past, present, and future, that also is OM.
        li
            strong.progress 38%
            | The first aspect of the Self is the universal person, the collective symbol of created beings, in his physical nature - Vaiswanara.
        li
            strong.progress 38%
            | The second aspect of the Self is the universal person in his mental nature - Taijasa.
        li
            strong.progress 38%
            | The third aspect of the Self is the universal person in dreamless sleep - Prajna.
        li
            strong.progress 39%
            | The Fourth. It is pure unitary consciousness, wherein awareness of the world and of multiplicity is completely pletely obliterated. It is ineffable peace. It is the supreme good. It is One without a second. It is the Self. Know it alone! This Self, beyond all words, is the syllable OM. This syllable, though indivisible, consists of three letters-A-U-M.
        li
            strong.progress 47%
            | everything that breathes, the beings that walk and the beings that walk not. The reality behind all these is Brahman, who is pure consciousness. All these, while they live, and after they have ceased to live, exist in him.
        li
            strong.progress 55%
            | Narada once came to Sanatkumara and asked to be taught. To Sanatkumara's question, "What have you already studied?" Narada replied that he had studied all the branches of learning-art, science, music, and philosophy, as well as the sacred scriptures. "But," said he, "I have gained no peace. I have studied all this, but the Self I do not know. I have heard from great teachers like you that he who knows the Self overcomes grief. Grief is ever my lot. Help me, I pray you, to overcome it." Sanatkumara said: "Whatever you have read is only name. Meditate on name as Brahman."
        li
            strong.progress 56%
            | This world and the other worlds we understand through insight. Meditate on insight as Brahman."
        li
            strong.progress 84%
            | Eternal is the light of consciousness; immortal is the Self.
        li
            strong.progress 84%
            | When his body becomes thin through old age or disease, the dying man separates himself from his limbs, even as a mango or a fig or a banyan fruit separates itself from its stalk, and by the same way he came he hastens to his new abode, and there assumes another body, in which to begin a new life.
        li
            strong.progress 85%
            | After death he goes to the next world, bearing ing in his mind the subtle impressions of his deeds; and after reaping there the harvest of his deeds, he returns again to this world of action. Thus he who has desire continues subject to rebirth.
        li
            strong.progress 89%
            | This vast universe is a wheel. Upon it are all creatures that are subject to birth, death, and rebirth. birth. Round and round it turns, and never stops. It is the wheel of Brahman. As long as the individual vidual self thinks it is separate from Brahman, it revolves upon the wheel in bondage to the laws of birth, death, and rebirth. But when through the grace of Brahman it realizes its identity with him, it revolves upon the wheel no longer. It achieves immortality.'
        li
            strong.progress 91%
            | Sit upright, holding the chest, throat, and head erect. Turn the senses and the mind inward to the lotus of the heart. Meditate on Brahman with the help of the syllable OM. Cross the fearful currents of the ocean of worldliness by means of the raft of Brahman-the sacred syllable OM. With earnest effort hold the senses in check. Controlling the breath, regulate the vital activities. As a charioteer holds back his restive horses, so does a persevering aspirant hold back his mind.
        li
            strong.progress 92%
            | As you become absorbed in meditation, you will realize that the Self is separate from the body and for this reason will not be affected by disease, old age, or death. The first signs of progress on the path of yoga are health, a sense of physical lightness, clearness of complexion, a beautiful voice, an agreeable odor of the person, and freedom from craving.
        li
            strong.progress 92%
            | As a soiled piece of metal, when it has been cleaned, shines brightly, so the dweller in the body, when he has realized the truth of the Self, is freed from sorrow and attains to bliss.
        li
            strong.progress 92%
            | The one absolute, impersonal Existence, together with his inscrutable Maya, appears as the divine Lord, the personal God, endowed with manifold glories. With his divine power he holds dominion over all the worlds. At the periods of creation and dissolution of the universe, he alone exists. Those who realize him become immortal.
        li
            strong.progress 92%
            | He punishes those who break his laws. He sees all and knows all. May '~e endow us with good thoughts!
        li
            strong.progress 93%
            | Thou art the supreme Brahman. Thou art infinite. finite. Thou hast assumed the forms of all creatures, tures, remaining hidden in them. Thou pervadest all. Thou art the one God of the universe. Those who realize thee become immortal.
        li
            strong.progress 93%
            | I have known, beyond all darkness, that great Person of golden effulgence. Only by knowing him does one conquer death. There is no other way of escaping the wheel of birth, death, and rebirth.
        li
            strong.progress 93%
            | This great Being has a thousand heads, a thousand sand eyes, and a thousand feet. He envelops the universe. Though transcendent, he is to be meditated tated upon as residing in the lotus of the heart, at the center of the body, ten fingers above the navel.
        li
            strong.progress 94%
            | Subtler than the subtlest, greater than the greatest, est, the Self is hidden in the heart of all creatures. Through his grace a man loses his cravings, transcends scends grief, and realizes him as Brahman Supreme. O Brahman Supreme! Formless art thou, and yet (Though the reason none knows) Thou bringest forth many forms; Thou bringest them forth, and then Withdrawest them to thyself. Fill us with thoughts of thee!
        li
            strong.progress 94%
            | Thou art he from whom sprang The three worlds. Maya is thy divine consort-Wedded Wedded to thee. Thou art her master, her ruler.
        li
            strong.progress 95%
            | Thou art lord and master of Maya, Man is her slave. With Maya uniting, thou hast brought forth the universe.
        li
            strong.progress 95%
            | The universe is thy Maya; And thou, great God, her lord, Wherever the eye falls, There, within every form. Thou dwellest.
        li
            strong.progress 96%
            | Thou dost pervade the universe, Thou art consciousness itself, Thou art creator of time. All-knowing art thou. At thy bidding Maya, Thy power divine, Projects this visible universe, Projects name and form.
        li
            strong.progress 96%
            | Thou art the Primal Being. Thou appearest as this universe Of illusion and dream. Thou art beyond time. Indivisible, infinite, the Adorable One-Let Let a man meditate on thee Within his heart, Let him consecrate himself to thee, And thou, infinite Lord, Wilt make thyself known to him.
        li
            strong.progress 96%
            | Destroyer of all sins-Thou Thou art seated in the heart. When thou art seen, Time and form disappear. Let a man feel thy presence, Let him behold thee within, And to him shall come peace, Eternal peace-To To none else, to none else!
        li
            strong.progress 96%
            | If the truths of these scriptures are meditated upon by a man in the highest degree devoted to God, and to his Guru as to his God, they will shine forth. They will shine forth indeed!
        li
            strong.progress 97%
            | Be devoted to Brahman. Meditate on him unceasingly. Not by work, nor by progeny, nor by wealth, but by devotion to him and by indifference to the world, does a man reach immortality.
        li
            strong.progress 97%
            | Retire into solitude. Seat yourself on a clean spot and in erect posture, with the head and neck in a straight line. Be indifferent to the world. Control trol all the sense organs. Bow down in devotion to your Guru. Then enter the lotus of the heart and there meditate on the presence of Brahman-the the pure, the infinite, the blissful.
        li
            strong.progress 97%
            | The mind may be compared to a firestick, the syllable OM to another. Rub the two sticks together gether by repeating the sacred word and meditating on Brahman, and the flame of knowledge will be kindled in your heart and all impurities will be burnt away.
        li
            strong.progress 97%
            | He, as the Self, resides in all forms, but is veiled by ignorance. When he is in the state of dream that men call waking, he becomes the individual dividual self, and enjoys food, drink, and many other pleasures. When he is in the state of dream that men call dreaming, he is happy or miserable because of the creations of his mind. And when he is in the state of dream that men call dreamless sleep, he is overcome by darkness, he experiences nothing, he enjoys rest.
        li
            strong.progress 98%
            | At death he is born again, and the circumstances of his new life are determined by his past deeds and by the habits he has formed. He continues to live in the three states of consciousness-waking, ing, dreaming, and dreamless sleep. As long as he continues in these states, he is the individual self. He, as the Self, is infinite, indivisible; he is consciousness, sciousness, bliss. In him are merged all the three states of consciousness. From him are born mind, life, and the senses; earth, air, water, fire, and ether. He is the reality behind all existence.
        li
            strong.progress 98%
            | He who made this great spectacle of waking. dream, and dreamless sleep-he I am. I am Brahman: man: know this, and break all bonds.
        li
            strong.progress 98%
            | In the three states of consciousness, whatever appears as the enjoyer or the object of enjoyment, I am the witness thereof, separate from all. I am pure consciousness. I am the eternal Shiva.
        li
            strong.progress 98%
            | I am without hands or feet. My divine powers none can conceive. I see, though without eyes. I hear, though without ears. I know all, but none knows me. I am infinite wisdom. I am the One to be known through the scriptures. I am the knower of all scriptures. Merit or demerit does not affect me. I was not born; I have neither body, nor senses, nor mind. I, the Supreme Self, dwell in the lotus of the heart. I am pure. I am One without a second.
        li
            strong.progress 99%
            | Brahman, the absolute. impersonal existence, when associated ciated with the power called Maya-the power to evolve as the empirical universe-is known as Hiranyagarbha, the First-Born.
        li
            strong.progress 100%
            | Gandharvas, Pittis, Devas, etc., are beings of a higher order than man. According to the Upanishads, here and elsewhere, many worlds, inhabited by various beings, make up the universe.
        li
            strong.progress 100%
            | The sages declare that this door of bliss, the highest center of spiritual consciousness, technically known as the Sahashrara, the thousand-petaled lotus, is situated in the center of the brain. When the yogi's mind. absorbed in meditation, reaches this center, he realizes his unity with Brahman.
