---
title: 'The Emerald Tablet of Hermes & The Kybalion'
description: 'Two Classic Books on Hermetic Philosophy'
author: 'Hermes Trismegistus & The Three Initiates | Dr. Jane Ma`ati Smith'
publishingDate: '1908 | 2008'
score: 5
date: '2022-05-08'
dateFull: '8 May 2022'
image: 'views/reading/assets/the-kybalion/hero.jpg'
imageBook: 'views/reading/assets/the-kybalion/cover-the-kybalion.jpg'
imageDest: 'reading/the-kybalion'
_content: false
---

extends ../_includes/layout-reading

block header-vars
    - var title = 'The Emerald Tablet of Hermes & The Kybalion'
    - var description = 'Two Classic Books on Hermetic Philosophy'
    - var score = 5

block vars
    - var imgDir = 'views/reading/assets/the-kybalion/'
    - var imgBook = 'views/reading/assets/the-kybalion/cover-the-kybalion.jpg'
    - var imgDest = 'reading/the-kybalion'
    - var imgHeader = imgDir + 'hero.jpg'
    - var imgCaption = 'Photo by Master Wen'

block header
    h1 #{title}
    h2 #{description}
    p 1908 Hermes Trismegistus & The Three Initiates | 2008 Dr. Jane Ma'ati Smith
    +star-rating(score)

block content
    h2 Reality beyond materialism

    p This book starts like an excellent story with a strange beginning. It introduces you to 12 different translations of <a href="https://en.wikipedia.org/wiki/Emerald_Tablet" title="Go to The Emerald Tablet on Wikipedia" target="_blank">the Emerald Tablet</a>. The tablet itself contains a cryptic message for which countless translation attempts have been made by even the most prestigious intellects on Earth throughout history (for example Isaac Newton). The second part however contains an interpretation of <a href="https://en.wikipedia.org/wiki/The_Kybalion" title="Go to The Kybalion on Wikipedia" target="_blank">The Kybalion</a>. It's this section that truly draws you in and shows how deep the rabbit hole of reality can go.

    p Of course, I recommend it. This small book reads like someone is guiding you through reality, showing you places you probably could have never imagined, helping you develop your spirit.

    p But, beware! The Kybalion also warns against misuse of spiritual knowledge: 
    
    blockquote ...those who have attained high spiritual powers and have misused them, have a terrible fate in store for them, and the swing of the pendulum of Rhythm will inevitably swing them back to the furthest extreme of Material existence...

    h2 Details

    ul
        li Paperback:‎ 126 pages
        li E-book: 124 pages
        li ISBN-10:‎ 1946774804
        li ISBN-13:‎ 978-1946774804
        li
            a(href='https://bookshop.org/books/the-emerald-tablet-of-hermes-the-kybalion-two-classic-books-on-hermetic-philosophy/9781946774811', title='Buy #{title} at The Bookshop.org', target='_blank') Buy #{title} at The Bookshop.org
        li
            a(href='https://www.betterworldbooks.com/product/detail/The-Emerald-Tablet-of-Hermes---The-Kybalion--Two-Classic-Books-on-Hermetic-Philosophy-9781946774804', title='Buy #{title} at BetterWorldBooks', target='_blank') Buy #{title} at BetterWorldBooks
        li
            a(href='https://www.amazon.com/gp/product/1946774804/ref=x_gr_w_bb_sin?ie=UTF8&tag=x_gr_w_bb_sin-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1946774804&SubscriptionId=1MGPYB6YW3HWK55XCGG2', title='Buy #{title} at Amazon', target='_blank') Buy #{title} at Amazon

    h2 97 significant notes
    
    p
        a(href="https://www.goodreads.com/notes/53648435-the-emerald-tablet-of-hermes-the-kybalion/42193292-thomas-torfs?ref=abp", title="View notes on Goodreads", target="_blank") View these notes on Goodreads

    ul.notes
        li
            strong.progress 24%
            | All comes from One. By the joining of the power of contemplation all can be attained. This essence must be separated from the body first, then combined with the body. This is the Work. Start with yourself, end with all. Before man, beyond man, transformation".
        li
            strong.progress 28%
            | Our intent is not to erect a new Temple of Knowledge, but rather to place in the hands of the student a Master-Key with which he may open the many inner doors in the Temple of Mystery through the main portals he has already entered.
        li
            strong.progress 29%
            | All the fundamental and basic teachings embedded in the esoteric teachings of every race may be traced back to Hermes. Even the most ancient teachings of India undoubtedly have their roots in the original Hermetic Teachings.
        li
            strong.progress 32%
            | the Egyptians deified Hermes, and made him one of their gods, under the name of Thoth.
        li
            strong.progress 32%
            | the people of Ancient Greece also made him one of their many gods—calling him "Hermes, the god of Wisdom."
        li
            strong.progress 32%
            | The ancient occultism of India and Persia degenerated, and was largely lost, owing to the fact that the teachers became priests, and so mixed theology with the philosophy, the result being that the occultism of India and Persia has been gradually lost amidst the mass of religious superstition, cults, creeds and "gods."
        li
            strong.progress 33%
            | "The Art of Hermetic Alchemy," which, contrary to the general belief, dealt in the mastery of Mental Forces, rather than Material Elements—the Transmutation of one kind of Mental Vibrations into others, instead of the changing of one kind of metal into another.
        li
            strong.progress 34%
            | when the pupil is ready to receive the truth, then will this little book come to him, or her. Such is The Law. The Hermetic Principle of Cause and Effect, in its aspect of The Law of Attraction, will bring lips and ear together—pupil and book in company. So mote it be!
        li
            strong.progress 35%
            | The Principle of Mentalism   "THE ALL IS MIND; The Universe is Mental."
        li
            strong.progress 35%
            | all that is apparent to our material senses) is SPIRIT which in itself is UNKNOWABLE and UNDEFINABLE, but which may be considered and thought of as AN UNIVERSAL, INFINITE, LIVING MIND.
        li
            strong.progress 35%
            | The Principle of Correspondence   "As above, so below; as below, so above."
        li
            strong.progress 36%
            | The Principle of Vibration   "Nothing rests; everything moves; everything vibrates."
        li
            strong.progress 36%
            | the differences between different manifestations of Matter, Energy, Mind, and even Spirit, result largely from varying rates of Vibration.
        li
            strong.progress 37%
            | The Principle of Polarity   "Everything is Dual; everything has poles; everything has its pair of opposites; like and unlike are the same; opposites are identical in nature, but different in degree; extremes meet; all truths are but half-truths; all paradoxes may be reconciled."
        li
            strong.progress 38%
            | "Good and Evil" are but the poles of the same thing, and the Hermetist understands the art of transmuting Evil into Good, by means of an application of the Principle of Polarity. In short, the "Art of Polarization" becomes a phase of "Mental Alchemy" known and practiced by the ancient and modern Hermetic Masters.
        li
            strong.progress 38%
            | The Principle of Rhythm   "Everything flows, out and in; everything has its tides; all things rise and fall; the pendulum-swing manifests in everything; the measure of the swing to the right is the measure of the swing to the left; rhythm compensates."
        li
            strong.progress 38%
            | There is always an action and a reaction; an advance and a retreat; a rising and a sinking. This is in the affairs of the Universe, suns, worlds, men, animals, mind, energy, and matter. This law is manifest in the creation and destruction of worlds; in the rise and fall of nations; in the life of all things; and finally in the mental states of Man
        li
            strong.progress 38%
            | The Master of Hermetics polarizes himself at the point at which he desires to rest, and then neutralizes the Rhythmic swing of the pendulum which would tend to carry him to the other pole.
        li
            strong.progress 39%
            | The Principle of Cause and Effect   "Every Cause has its Effect; every Effect has its Cause; everything happens according to Law; Chance is but a name for Law not recognized; there are many planes of causation, but nothing escapes the Law."
        li
            strong.progress 39%
            | The Principle of Gender   "Gender is in everything; everything has its Masculine and Feminine Principles; Gender manifests on all planes."
        li
            strong.progress 40%
            | "Mind (as well as metals and elements) may be transmuted, from state to state; degree to degree; condition to condition; pole to pole; vibration to vibration. True Hermetic Transmutation is a Mental Art."
        li
            strong.progress 43%
            | "Under, and back of, the Universe of Time, Space and Change, is ever to be found The Substantial Reality—the Fundamental Truth."
        li
            strong.progress 43%
            | Nothing endures but Change. And if he be a thinking man, he realizes that all of these changing things must be but outward appearances or manifestations of some Underlying Power—some Substantial Reality.
        li
            strong.progress 45%
            | "THAT which is the Fundamental Truth—the Substantial Reality—is beyond true naming, but the Wise Men call it THE ALL."
        li
            strong.progress 45%
            | "In its Essence, THE ALL is UNKNOWABLE."
        li
            strong.progress 46%
            | THE ALL being Infinite, Absolute, Eternal and Unchangeable it must follow that anything finite, changeable, fleeting, and conditioned cannot be THE ALL.
        li
            strong.progress 47%
            | "THE ALL" is Infinite Living Mind—the Illumined call it SPIRIT!
        li
            strong.progress 47%
            | "The Universe is Mental—held in the Mind of THE ALL."
        li
            strong.progress 48%
            | Following the Principle of Correspondence, we are justified in considering that THE ALL creates the Universe MENTALLY, in a manner akin to the process whereby Man creates Mental Images.
        li
            strong.progress 49%
            | "The Infinite Mind of THE ALL is the womb of Universes."
        li
            strong.progress 50%
            | Do not make the mistake of supposing that the little world you see around you—the Earth, which is a mere grain of dust in the Universe—is the Universe itself. There are millions upon millions of such worlds, and greater. And there are millions of millions of such Universes in existence within the Infinite Mind of THE ALL. And even in our own little solar system there are regions and planes of life far higher than ours, and beings compared to which we earth-bound mortals are as the slimy life-forms that dwell on the ocean's bed when compared to Man. There are beings with powers and attributes higher than Man has ever dreamed of the gods possessing. And yet these beings were once as you, and still lower—and you will be even as they, and still higher, in time, for such is the Destiny of Man as reported by the Illumined.
        li
            strong.progress 51%
            | And Death is not real, even in the Relative sense—it is but Birth to a new life—and You shall go on, and on, and on, to higher and still higher planes of life, for aeons upon aeons of time. The Universe is your home, and you shall explore its farthest recesses before the end of Time. You are dwelling in the Infinite Mind of THE ALL, and your possibilities and opportunities are infinite, both in time and space. And at the end of the Grand Cycle of Aeons, when THE ALL shall draw back into itself all of its creations—you will go gladly for you will then be able to know the Whole Truth of being At One with THE ALL. Such is the report of the Illumined—those who have advanced well along The Path.
        li
            strong.progress 51%
            | “Mastery consists not in abnormal dreams, visions and fantastic imaginings or living, but in using the higher forces against the lower—escaping the pains of the lower planes by vibrating on the higher. Transmutation, not presumptuous denial, is the weapon of the Master."
        li
            strong.progress 53%
            | Absolute Truth has been defined as "Things as the mind of God knows them," while Relative Truth is "Things as the highest reason of Man understands them."
        li
            strong.progress 59%
            | This is what spiritual development means—the recognition, realization, and manifestation of the Spirit within us.
        li
            strong.progress 59%
            | the process consists of the lowering of Vibration until a very low degree of vibratory energy is reached, at which point the grossest possible form of Matter is manifested. This process is called the stage of Involution, in which THE ALL becomes "involved," or "wrapped up," in its creation.
        li
            strong.progress 59%
            | This Involuntary stage of Creation is sometimes called the "Outpouring" of the Divine Energy, just as the Evolutionary state is called the "Indrawing."
        li
            strong.progress 60%
            | finally that which left THE ALL as unindividualized energy returns to its source as countless highly developed Units of Life, having risen higher and higher in the scale by means of Physical, Mental and Spiritual Evolution.
        li
            strong.progress 60%
            | At the end of countless cycles of aeons of time, THE ALL withdraws its Attention—its Contemplation and Meditation—of the Universe, for the Great Work is finished—and All is withdrawn into THE ALL from which it emerged.
        li
            strong.progress 62%
            | THE ALL is All Reason in Itself; All Law in Itself; All Action in Itself—and it may be said, truthfully, that THE ALL is Its Own Reason; its own Law; its own Act—or still further, that THE ALL; Its Reason; Its Act; is Law; are ONE, all being names for the same thing.
        li
            strong.progress 63%
            | the Hermetic Philosophy considers that the Universe may be divided into three great classes of phenomena, known as the Three Great Planes, namely:   1. The Great Physical Plane. 2. The Great Mental Plane. 3. The Great Spiritual Plane.
        li
            strong.progress 64%
            | This Fourth Dimension may be called "The Dimension of Vibration." It is a fact well known to modern science, as well as to the Hermetists who have embodied the truth in their "Third Hermetic Principle," that "everything is in motion; everything vibrates; nothing is at rest."
        li
            strong.progress 64%
            | And these degrees form what occultists call "Planes" The higher the degree of rate of vibration, the higher the plane, and the higher the manifestation of Life occupying that plane. So that while a plane is not "a place," nor yet "a state or condition," yet it possesses qualities common to both.
        li
            strong.progress 64%
            | The Hermetists sub-divide each of the Three Great Planes into Seven Minor Planes, and each of these latter are also sub-divided into seven sub-planes,
        li
            strong.progress 64%
            | These Seven Minor Physical Planes are as follows:   1. The Plane of Matter (A) 2. The Plane of Matter (B) 3. The Plane of Matter (C) 4. The Plane of Ethereal Substance 5. The Plane of Energy (A) 6. The Plane of Energy (B) 7. The Plane of Energy (C)
        li
            strong.progress 65%
            | The Plane of Matter (A) comprises the forms of Matter in its form of solids, liquids, and gases, as generally recognized by the text-books on physics.
        li
            strong.progress 65%
            | The Plane of Ethereal Substance comprises that which science speaks of as "The Ether", a substance of extreme tenuity and elasticity, pervading all Universal Space, and acting as a medium for the transmission of waves of energy, such as light, heat, electricity, etc.
        li
            strong.progress 65%
            | The Plane of Energy (C) comprises seven sub-planes of energy so highly organized that it bears many of the characteristics of "life," but which is not recognized by the minds of men on the ordinary plane of development, being available for the use on beings of the Spiritual Plane alone—such
        li
            strong.progress 66%
            | 1. The Plane of Mineral Mind 2. The Plane of Elemental Mind (A) 3. The Plane of Plant Mind 4. The Plane of Elemental Mind (B) 5. The Plane of Animal Mind 6. The Plane of Elemental Mind (C) 7. The Plane of Human Mind
        li
            strong.progress 66%
            | The Plane of Mineral Mind comprises the "states or conditions" of the units or entities, or groups and combinations of the same, which animate the forms known to us as "minerals, chemicals, etc."
        li
            strong.progress 67%
            | Plants have life, mind and "souls," as well as have the animals, man, and super-man.
        li
            strong.progress 67%
            | the average man of today occupies but the fourth sub-division of the Plane of Human Mind, and only the most intelligent have crossed the borders of the Fifth Sub-Division.
        li
            strong.progress 68%
            | All that we can say is that the Seven Minor Planes of the Great Spiritual Plane (each Minor Plane having its seven sub-divisions) comprise Beings possessing Life, Mind and Form as far above that of Man of to-day as the latter is above the earth-worm, mineral or even certain forms of Energy or Matter.
        li
            strong.progress 68%
            | On the Seven Minor Planes of the Great Spiritual Plane exist Beings of whom we may speak as Angels; Archangels; Demi-Gods. On the lower Minor Planes dwell those great souls whom we call Masters and Adepts. Above them come the Great Hierarchies of the Angelic Hosts, unthinkable to man; and above those come those who may without irreverence be called "The Gods,"
        li
            strong.progress 69%
            | even the highest of these advanced Beings exist merely as creations of, and in, the Mind of THE ALL, and are subject to the Cosmic Processes and Universal Laws.
        li
            strong.progress 69%
            | much of these Inner Teachings is held by the Hermetists as being too sacred, important and even dangerous for general public dissemination.
        li
            strong.progress 70%
            | those who have attained high spiritual powers and have misused them, have a terrible fate in store for them, and the swing of the pendulum of Rhythm will inevitably swing them back to the furthest extreme of Material existence, from which point they must retrace their steps Spiritward, along the weary rounds of The Path, but always with the added torture of having always with them a lingering memory of the heights from which they fell owing to their evil actions.
        li
            strong.progress 70%
            | The striving for selfish power on the Spiritual Planes inevitably results in the selfish soul losing its spiritual balance and falling back as far as it had previously risen.
        li
            strong.progress 70%
            | all of the Seven Hermetic Principles are in full operation on all of the many planes, Physical Mental and Spiritual.
        li
            strong.progress 70%
            | "Nothing rests; everything moves; everything vibrates."
        li
            strong.progress 71%
            | Modern Science has proven that all that we call Matter and Energy are but "modes of vibratory motion,"
        li
            strong.progress 72%
            | Matter at a higher degree of vibration—and is called by them "The Ethereal Substance."
        li
            strong.progress 72%
            | Ethereal Substance is of extreme tenuity and elasticity, and pervades universal space, serving as a medium of transmission of waves of vibratory energy, such as heat, light, electricity, magnetism, etc.
        li
            strong.progress 72%
            | The Teachings are that The Ethereal Substance is a connecting link between the forms of vibratory energy known as "Matter" on the one han... This highlight has been truncated due to consecutive passage length restrictions.
        li
            strong.progress 73%
            | When the object reaches a certain rate of vibration its molecules disintegrate, and resolve themselves into the original elements or atoms. Then the atoms, following the Principle of Vibration, are separated into the countless corpuscles of which they are composed. And finally, even the corpuscles disappear and the object may be said to Be composed of The Ethereal Substance.
        li
            strong.progress 74%
            | "Everything is dual; everything has poles; everything has its pair of opposites; like and unlike are the same; opposites are identical in nature, but different in degree; extremes meet; all truths are but half-truths; all paradoxes may be reconciled."
        li
            strong.progress 75%
            | Spirit and Matter are but the two poles of the same thing, the intermediate planes being merely degrees of vibration.
        li
            strong.progress 75%
            | THE ALL and The Many are the same, the difference being merely a matter of degree of Mental Manifestation.
        li
            strong.progress 75%
            | The scale of color is the same-higher and lower vibrations being the only difference between high violet and low red. Large and Small are relative. So are Noise and Quiet; Hard and Soft follow the rule. Likewise Sharp and Dull. Positive and Negative are two poles of the same thing, with countless degrees between them.
        li
            strong.progress 78%
            | "Everything flows out and in; everything has its tides; all things rise and fall; the pendulum-swing manifests in everything; the measure of the swing to the right, is the measure of the swing to the left; rhythm compensates"
        li
            strong.progress 78%
            | There is always an action and reaction; an advance and a retreat; a rising and a sinking; manifested in all of the airs and phenomena of the Universe.
        li
            strong.progress 78%
            | Universes are created; reach their extreme low point of materiality; and then begin in their upward swing. Suns spring into being, and then their height of power being reached, the process of retrogression begins,
        li
            strong.progress 79%
            | So it is with all great movements, philosophies, creeds, fashions, governments, nations, and all else—birth, growth, maturity, decadence, death-and then new-birth. The swing of the pendulum is ever in evidence.
        li
            strong.progress 80%
            | The Will is superior to the conscious manifestation of this Principle, although the Principle itself can never be destroyed. We may escape its effects, but the Principle operates, nevertheless.
        li
            strong.progress 81%
            | They teach that before one is able to enjoy a certain degree of pleasure, he must have swung as far, proportionately, toward the other pole of feeling.
        li
            strong.progress 82%
            | "Every Cause has its Effect; every Effect has its Cause; everything happens according to Law; Chance is but a name for Law not recognized; there are many planes of causation, but nothing escapes the Law."
        li
            strong.progress 84%
            | Stop to think a moment. If a certain man had not met a certain maid, away back in the dim period of the Stone Age—you who are now reading these lines would not now be here.
        li
            strong.progress 85%
            | The majority of people are more or less the slaves of heredity, environment, etc., and manifest very little Freedom. They are swayed by the opinions, customs and thoughts of the outside world, and also by their emotions, feelings, moods, etc. They manifest no Mastery, worthy of the name.
        li
            strong.progress 86%
            | The Masters do not escape the Causation of the higher planes, but fall in with the higher laws, and thus master circumstances on the lower plane. They thus form a conscious part of the Law, instead of being mere blind instruments. While they Serve on the Higher Planes, they Rule on the Material Plane.
        li
            strong.progress 86%
            | "Gender is in everything; everything has its Masculine and Feminine Principles; Gender manifests on all planes."
        li
            strong.progress 86%
            | The word "Gender" is derived from the Latin root meaning "to beget; to procreate; to generate; to create; to produce."
        li
            strong.progress 87%
            | The best scientific authorities now use the word "Cathode" in place of "Negative," the word Cathode coming from the Greek root meaning "descent; the path of generation, etc," From the Cathode pole emerge the swarm of electrons or corpuscles;
        li
            strong.progress 88%
            | A Feminine corpuscle becomes detached from, or rather leaves, a Masculine corpuscle, and starts on a new career. It actively seeks a union with a Masculine corpuscle, being urged thereto by the natural impulse to create new forms of Matter or Energy.
        li
            strong.progress 88%
            | The process of detachment or separation of the Feminine electrons is called "ionization." These electrons, or corpuscles, are the most active workers in Nature's field.
        li
            strong.progress 88%
            | Arising from their unions, or combinations, manifest the varied phenomena of light, heat, electricity, magnetism, attraction, repulsion, chemical affinity and the reverse, and similar phenomena. And all this arises from the operation of the Principle of Gender on the plane of Energy.
        li
            strong.progress 89%
            | The "Electrical Theory of the Universe" is the latest scientific doctrine, and is growing rapidly in popularity and general acceptance.
        li
            strong.progress 90%
            | The Masculine Principle of Mind corresponds to the so-called Objective Mind; Conscious Mind; Voluntary Mind; Active Mind, etc. And the Feminine Principle of Mind corresponds to the so-called Subjective Mind; Sub-conscious Mind; Involuntary Mind; Passive Mind, etc.
        li
            strong.progress 91%
            | While at first there seems to be only an "I" existing, a more careful and closer examination reveals the fact that there exists an "I" and a "Me." These mental twins differ in their characteristics and nature,
        li
            strong.progress 93%
            | The "I" represents the Masculine Principle of Mental Gender—the "Me" represents the Female Principle. The "I" represents the Aspect of Being; the "Me" the Aspect of Becoming.
        li
            strong.progress 96%
            | "The possession of Knowledge, unless accompanied by a manifestation and expression in Action, is like the hoarding of precious metals—a vain and foolish thing. Knowledge, like wealth, is intended for Use. The Law of Use is Universal, and he who violates it suffers by reason of his conflict with natural forces."
        li
            strong.progress 97%
            | "To change your mood or mental state—change your vibration."
        li
            strong.progress 97%
            | Will directs the Attention, and Attention changes the Vibration. Cultivate the Art of Attention, by means of the Will, and you have solved the secret of the Mastery of Moods and Mental States.
        li
            strong.progress 97%
            | "To destroy an undesirable rate of mental vibration, put into operation the principle of Polarity and concentrate upon the opposite pole to that which you desire to suppress. Kill out the undesirable by changing its polarity."
        li
            strong.progress 98%
            | Remember always, however, that you do not really destroy the Principle of Rhythm, for that is indestructible. You simply overcome one law by counter-balancing it with another and thus maintain an equilibrium.
        li
            strong.progress 99%
            | "Nothing escapes the Principle of Cause and Effect, but there are many Planes of Causation, and one may use the laws of the higher to overcome the laws of the lower."
        li
            strong.progress 100%
            | "True Hermetic Transmutation is a Mental Art."
        li
            strong.progress 100%
            | If the Universe is Mental, then Mind must be the highest power affecting its phenomena. If this be understood then all the so-called "miracles" and "wonder-workings" are seen plainly for what they are.
