block header-vars
doctype html
html(lang='en')
    head
        title #{title} | Blog | Software Engineer | Thomas Torfs
        meta(name='description', content='#{description}')

        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')

        meta(name='MobileOptimized', content='width')
        meta(name='HandheldFriendly', content='true')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv="X-Frame-Options" content='DENY')
        
        meta(property='og:title' content='#{title} | Blog | Software Engineer | Thomas Torfs')
        meta(property='og:type' content='blogpost')

        link(rel='alternate', type='application/rss+xml', title='RSS', href='http://www.thomastorfs.com/feed/rss')

        <!--[if (gte IE 6)&(lte IE 8)]><script src="/js/selectivizr.min.js?#{locals.renderdate}"></script><![endif]-->

        link(rel='shortcut icon', href='/favicon.ico?#{locals.renderdate}', type='image/x-icon')
        link(rel='icon', type='image/x-icon', href='/favicon.ico?#{locals.renderdate}')        
        link(rel='apple-touch-icon' sizes='180x180' href='/images/apple-touch-icon.png?#{locals.renderdate}')
        link(rel='icon' type='image/png' sizes='32x32' href='/images/favicon-32x32.png?#{locals.renderdate}')
        link(rel='icon' type='image/png' sizes='16x16' href='/images/favicon-16x16.png?#{locals.renderdate}')
        link(rel='manifest' href='/images/site.webmanifest?#{locals.renderdate}')

        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap' rel='stylesheet')

        link(rel='stylesheet', href='/css/app.css?#{locals.renderdate}')

        script(async, src="https://www.googletagmanager.com/gtag/js?id=G-K9ZWZYMZ4H")
        script
          | window.dataLayer = window.dataLayer || [];
          | function gtag(){dataLayer.push(arguments);}
          | gtag('js', new Date());
          | gtag('config', 'G-K9ZWZYMZ4H');

body.nav--hidden
    include partial-header

    include layout-content-blogpost

    include partial-footer

    script(src='/js/app.js?#{locals.renderdate}')
