block header-vars
doctype html
html(lang='en')
    head
        title #{title} | Software Engineer | Thomas Torfs
        meta(name='description', content='#{description}')

        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')

        meta(name='MobileOptimized', content='width')
        meta(name='HandheldFriendly', content='true')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv="X-Frame-Options" content='DENY')
        
        meta(property='og:title' content='#{title} | Software Engineer | Thomas Torfs')
        meta(property='og:type' content='page')

        link(rel='alternate', type='application/rss+xml', title='RSS', href='http://www.thomastorfs.com/feed/rss')

        <!--[if (gte IE 6)&(lte IE 8)]><script src="/js/selectivizr.min.js?#{locals.renderdate}"></script><![endif]-->

        link(rel='shortcut icon', href='/favicon.ico?#{locals.renderdate}', type='image/x-icon')
        link(rel='icon', type='image/x-icon', href='/favicon.ico?#{locals.renderdate}')
        link(rel='icon', type='image/png', href='/images/favicon-32x32.png?#{locals.renderdate}', sizes='32x32')
        link(rel='apple-touch-icon', href='/build/images/favicons/60.png?#{locals.renderdate}')
        link(rel='apple-touch-icon', href='/build/images/favicons/76.png?#{locals.renderdate}', sizes='76x76')
        link(rel='apple-touch-icon', href='/images/apple-touch-icon-120x120.png?#{locals.renderdate}', sizes='120x120')
        link(rel='apple-touch-icon', href='/images/apple-touch-icon-152x152.png?#{locals.renderdate}', sizes='152x152')

        link(href='https://fonts.googleapis.com/css?family=Libre+Baskerville:700,400', rel='stylesheet', type='text/css', media='print', onload="this.media='all'")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:800', rel='stylesheet', type='text/css', media='print', onload="this.media='all'")
        link(rel='stylesheet', href='/css/app.css?#{locals.renderdate}')

        script(async, src="https://www.googletagmanager.com/gtag/js?id=G-K9ZWZYMZ4H")
        script
          | window.dataLayer = window.dataLayer || [];
          | function gtag(){dataLayer.push(arguments);}
          | gtag('js', new Date());
          | gtag('config', 'G-K9ZWZYMZ4H');

body
    include partial-header

    block content

    include partial-footer

    script(src='/js/app.js?#{locals.renderdate}')
