mixin wrapper-with-bg(tag, source, dest, extra_classes, caption)
    - var large = resize.createImage({source: source, suffix: 'large', dest: dest, w: 1920, h: 1200, quality: 50, crop: true})
    - var medium = resize.createImage({source: source, suffix: 'medium', dest: dest, w: 1280, h: 800, quality: 50, crop: true})
    - var small = resize.createImage({source: source, suffix: 'small', dest: dest, w: 960, h: 600, quality: 50, crop: true})

    - var default_classes = 'wrapper wrapper--bg lazyload'

    if extra_classes
        - var classes = default_classes  + ' ' + extra_classes
    else
        - var classes = default_classes

    #{tag}(class='#{classes}' data-bgset='#{small} 320w, #{medium} 640w, #{large}' data-sizes='auto')
        .wrapper__inner
            .wrapper__content
                block
        if caption
            .wrapper__caption #{caption}
