mixin book-link(url, title, source, dest, alt)
    - var large_1x = resize.createImage({source: source, suffix: 'large-1x', dest: dest, w: 550, h: 1100, crop: false})
    - var large_2x = resize.createImage({source: source, suffix: 'large-2x', dest: dest, w: 1100, h: 2200, quality: 30, crop: false})
    - var small_1x = resize.createImage({source: source, suffix: 'small-1x', dest: dest, w: 275, h: 550, crop: false})
    - var small_2x = resize.createImage({source: source, suffix: 'small-2x', dest: dest, w: 550, h: 1100, quality: 30, crop: false})

    a.book--link(href='#{url}', data-href='#{url}', title='#{title}')
        picture.lazyload
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            source(media='(min-width: 550px)', srcset='#{large_1x} 1x, #{large_2x} 2x')
            <!--[if IE 9]></video><![endif]-->
            img(srcset='#{small_1x} 1x, #{small_2x} 2x' alt='#{alt}')
        .text
            block
