include mixin-bglink-full

section.nav--prevnext.wrapper
    header.section__header
        h1 Blog navigation
    .section__content
        if locals.blogposts
            //- Find the current post in the blog array
            - var currentPostIndex = 0
            - var postCount = locals.blogposts.length

            - each post, i in locals.blogposts
                - if (post.title === locals.post.title && post.date === locals.post.date)
                    - currentPostIndex = i
                    - break

            //- Get the next and previous blogpost
            - var nextPostIndex = currentPostIndex + 1
            - var previousPostIndex = currentPostIndex - 1

            //- Check for boundaries and correct the post indices
            - if (nextPostIndex > (postCount - 1))
                - nextPostIndex = 0
            - if (previousPostIndex < 0)
                - previousPostIndex = postCount - 1

            //- Store the previous and next blogpost in a variable for readability
            - var previousPost = locals.blogposts[previousPostIndex]
            - var nextPost = locals.blogposts[nextPostIndex]

            ul.cols
                li.col
                    +bglink-full(previousPost._url, 'Read ' + previousPost.title, previousPost.image, previousPost.imageDest)
                        h2 #{previousPost.title}
                        p.meta #{previousPost.dateFull} <span class="separator">|</span> #{previousPost.timetoread}
                li.col
                    +bglink-full(nextPost._url, 'Read ' + nextPost.title, nextPost.image, nextPost.imageDest)
                        h2 #{nextPost.title}
                        p.meta #{nextPost.dateFull} <span class="separator">|</span> #{nextPost.timetoread}
